{"openapi":"3.0.2","info":{"description":"Use this asynchronous service to import and read master data. It doesn't perform any user-specific authorization checks. Hence, it is the responsibility of the caller of this Master Data Service to ensure that user-specific authorization checks are in place.\n## Usage summary\nThe central functionality of this service deals with the import of master data and can be summarized with the following steps:\n  1. Import data within one import session (see **Service Operations** - **/Import<em>{EntityName}</em>**).\\\n  This call can be made several times per import session.\\\n  **Example:** If you want to import **_products_** and **_product groups_**, then you would have to call **_/ImportProducts_** and **_/ImportProductGroups_** within the same import session and then proceed with the next steps.\n  2. Finish one import session (see **Service Operations** - **/ProcessImportedData**).\n  3. *Optional:* Retrieve status of an import session (see **Service Operations** - **/GetDataImportStatus**).\n  \n\n    \n[More information on the customizing service is available at the SAP S/4HANA for procurement planning SAP Help Portal page.](https://help.sap.com/viewer/aad8ff6e4e0c404591864a751c877d34/LATEST/en-US/7342f4f270014acfaed5d93401f3b1df.html)\n## Rate Limitations\nThis API is rate limited to 1000 requests per hour and 10000 requests per day.","version":"1.2.0","title":"Master Data for Procurement Planning"},"x-sap-shortText":"This asynchronous service enables you to import and read master data.","x-sap-api-type":"ODATAV4","security":[{"OAuth2":[]}],"servers":[{"url":"https://procplanning-api.cfapps.eu10.hana.ondemand.com/api/masterdata/v1","description":"Production URL."}],"externalDocs":{"description":"More general information is available at the SAP S/4HANA for procurement planning SAP Help Portal page.","url":"https://help.sap.com/viewer/product/SAP_PROCUREMENT_PLANNING/LATEST/en-US"},"tags":[{"name":"Custom Code Lists 1"},{"name":"Custom Code Lists 2"},{"name":"Custom Code Lists 3"},{"name":"Custom Code Lists 4"},{"name":"Custom Code Lists 5"},{"name":"Product Structure Header Access Groups"},{"name":"Plants"},{"name":"Product Groups"},{"name":"Products"},{"name":"Subproject References"},{"name":"Product Structure Headers"},{"name":"Product Structure Nodes"}],"paths":{"/CustomCodeLists1":{"get":{"summary":"Retrieves entities from Custom Code Lists 1.","tags":["Custom Code Lists 1"],"description":"No specific parameters are required, but the standard OData parameters are supported. As response, a list of all custom code lists 1 is returned.","parameters":[{"$ref":"#/components/parameters/top"},{"$ref":"#/components/parameters/skip"},{"$ref":"#/components/parameters/search"},{"name":"$filter","description":"Filters items by property values, see [Filtering](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionfilter)","in":"query","schema":{"type":"string"}},{"$ref":"#/components/parameters/count"},{"name":"$orderby","description":"Order items by property values, see [Sorting](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionorderby)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["ID","ID desc","deleted","deleted desc","name","name desc","description","description desc"]}}},{"name":"$select","description":"Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["ID","deleted","name","description"]}}},{"name":"$expand","description":"Expand related entities, see [Expand](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionexpand)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["*","texts"]}}}],"responses":{"200":{"description":"Retrieved entities","content":{"application/json":{"schema":{"type":"object","title":"Collection of CustomCodeLists1","properties":{"@odata.count":{"$ref":"#/components/schemas/count"},"value":{"type":"array","items":{"$ref":"#/components/schemas/MasterDataService.CustomCodeLists1"}}}}}}},"400":{"$ref":"#/components/responses/error400"},"401":{"$ref":"#/components/responses/error401"},"403":{"$ref":"#/components/responses/error403"},"404":{"$ref":"#/components/responses/error404"},"405":{"$ref":"#/components/responses/error405"},"406":{"$ref":"#/components/responses/error406"},"4XX":{"$ref":"#/components/responses/error"}}}},"/CustomCodeLists1('{ID}')":{"parameters":[{"description":"The unique identifier of the entity in form of an unique String","in":"path","name":"ID","required":true,"schema":{"type":"string","maxLength":255}}],"get":{"summary":"Retrieves specific Custom Code Lists 1 using their IDs.","tags":["Custom Code Lists 1"],"description":"The ID of the requested custom code list 1 is required as parameter. Additionally, the standard OData parameters are supported. As response, exactly one custom code list 1 is returned. If no custom code list 1 is found in the system with the requested ID, the endpoint returns an appropriate error message.","parameters":[{"name":"$select","description":"Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["ID","deleted","name","description"]}}},{"name":"$expand","description":"Expand related entities, see [Expand](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionexpand)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["*","texts"]}}}],"responses":{"200":{"description":"Retrieved entity","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MasterDataService.CustomCodeLists1"}}}},"400":{"$ref":"#/components/responses/error400"},"401":{"$ref":"#/components/responses/error401"},"403":{"$ref":"#/components/responses/error403"},"404":{"$ref":"#/components/responses/error404"},"405":{"$ref":"#/components/responses/error405"},"406":{"$ref":"#/components/responses/error406"},"4XX":{"$ref":"#/components/responses/error"}}}},"/CustomCodeLists2":{"get":{"summary":"Retrieves entities from Custom Code Lists 2.","tags":["Custom Code Lists 2"],"description":"No specific parameters are required, but the standard OData parameters are supported. As response, a list of all custom code lists 2 is returned.","parameters":[{"$ref":"#/components/parameters/top"},{"$ref":"#/components/parameters/skip"},{"$ref":"#/components/parameters/search"},{"name":"$filter","description":"Filter items by property values, see [Filtering](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionfilter)","in":"query","schema":{"type":"string"}},{"$ref":"#/components/parameters/count"},{"name":"$orderby","description":"Order items by property values, see [Sorting](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionorderby)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["ID","ID desc","deleted","deleted desc","name","name desc","description","description desc"]}}},{"name":"$select","description":"Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["ID","deleted","name","description"]}}},{"name":"$expand","description":"Expand related entities, see [Expand](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionexpand)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["*","texts"]}}}],"responses":{"200":{"description":"Retrieved entities","content":{"application/json":{"schema":{"type":"object","title":"Collection of CustomCodeLists2","properties":{"@odata.count":{"$ref":"#/components/schemas/count"},"value":{"type":"array","items":{"$ref":"#/components/schemas/MasterDataService.CustomCodeLists2"}}}}}}},"400":{"$ref":"#/components/responses/error400"},"401":{"$ref":"#/components/responses/error401"},"403":{"$ref":"#/components/responses/error403"},"404":{"$ref":"#/components/responses/error404"},"405":{"$ref":"#/components/responses/error405"},"406":{"$ref":"#/components/responses/error406"},"4XX":{"$ref":"#/components/responses/error"}}}},"/CustomCodeLists2('{ID}')":{"parameters":[{"description":"The unique identifier of the entity in form of an unique String","in":"path","name":"ID","required":true,"schema":{"type":"string","maxLength":255}}],"get":{"summary":"Retrieves specific Custom Code Lists 2 using their IDs.","tags":["Custom Code Lists 2"],"description":"The ID of the requested custom code list 2 is required as parameter. Additionally, the standard OData parameters are supported. As response, exactly one custom code list 2 is returned. If no custom code list 2 is found in the system with the requested ID, the endpoint returns an appropriate error message.","parameters":[{"name":"$select","description":"Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["ID","deleted","name","description"]}}},{"name":"$expand","description":"Expand related entities, see [Expand](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionexpand)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["*","texts"]}}}],"responses":{"200":{"description":"Retrieved entity","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MasterDataService.CustomCodeLists2"}}}},"400":{"$ref":"#/components/responses/error400"},"401":{"$ref":"#/components/responses/error401"},"403":{"$ref":"#/components/responses/error403"},"404":{"$ref":"#/components/responses/error404"},"405":{"$ref":"#/components/responses/error405"},"406":{"$ref":"#/components/responses/error406"},"4XX":{"$ref":"#/components/responses/error"}}}},"/CustomCodeLists3":{"get":{"summary":"Retrieves entities from Custom Code Lists 3.","tags":["Custom Code Lists 3"],"description":"No specific parameters are required, but the standard OData parameters are supported. As response, a list of all custom code lists 3 is returned.","parameters":[{"$ref":"#/components/parameters/top"},{"$ref":"#/components/parameters/skip"},{"$ref":"#/components/parameters/search"},{"name":"$filter","description":"Filter items by property values, see [Filtering](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionfilter)","in":"query","schema":{"type":"string"}},{"$ref":"#/components/parameters/count"},{"name":"$orderby","description":"Order items by property values, see [Sorting](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionorderby)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["ID","ID desc","deleted","deleted desc","name","name desc","description","description desc"]}}},{"name":"$select","description":"Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["ID","deleted","name","description"]}}},{"name":"$expand","description":"Expand related entities, see [Expand](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionexpand)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["*","texts"]}}}],"responses":{"200":{"description":"Retrieved entities","content":{"application/json":{"schema":{"type":"object","title":"Collection of CustomCodeLists3","properties":{"@odata.count":{"$ref":"#/components/schemas/count"},"value":{"type":"array","items":{"$ref":"#/components/schemas/MasterDataService.CustomCodeLists3"}}}}}}},"400":{"$ref":"#/components/responses/error400"},"401":{"$ref":"#/components/responses/error401"},"403":{"$ref":"#/components/responses/error403"},"404":{"$ref":"#/components/responses/error404"},"405":{"$ref":"#/components/responses/error405"},"406":{"$ref":"#/components/responses/error406"},"4XX":{"$ref":"#/components/responses/error"}}}},"/CustomCodeLists3('{ID}')":{"parameters":[{"description":"The unique identifier of the entity in form of an unique String","in":"path","name":"ID","required":true,"schema":{"type":"string","maxLength":255}}],"get":{"summary":"Retrieves specific Custom Code Lists 3 using their IDs.","tags":["Custom Code Lists 3"],"description":"The ID of the requested custom code list 3 is required as parameter. Additionally, the standard OData parameters are supported. As response, exactly one custom code list 3 is returned. If no custom code list 3 is found in the system with the requested ID, the endpoint returns an appropriate error message.","parameters":[{"name":"$select","description":"Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["ID","deleted","name","description"]}}},{"name":"$expand","description":"Expand related entities, see [Expand](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionexpand)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["*","texts"]}}}],"responses":{"200":{"description":"Retrieved entity","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MasterDataService.CustomCodeLists3"}}}},"400":{"$ref":"#/components/responses/error400"},"401":{"$ref":"#/components/responses/error401"},"403":{"$ref":"#/components/responses/error403"},"404":{"$ref":"#/components/responses/error404"},"405":{"$ref":"#/components/responses/error405"},"406":{"$ref":"#/components/responses/error406"},"4XX":{"$ref":"#/components/responses/error"}}}},"/CustomCodeLists4":{"get":{"summary":"Retrieves entities from Custom Code Lists 4.","tags":["Custom Code Lists 4"],"description":"No specific parameters are required, but the standard OData parameters are supported. As response, a list of all custom code lists 4 is returned.","parameters":[{"$ref":"#/components/parameters/top"},{"$ref":"#/components/parameters/skip"},{"$ref":"#/components/parameters/search"},{"name":"$filter","description":"Filter items by property values, see [Filtering](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionfilter)","in":"query","schema":{"type":"string"}},{"$ref":"#/components/parameters/count"},{"name":"$orderby","description":"Order items by property values, see [Sorting](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionorderby)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["ID","ID desc","deleted","deleted desc","name","name desc","description","description desc"]}}},{"name":"$select","description":"Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["ID","deleted","name","description"]}}},{"name":"$expand","description":"Expand related entities, see [Expand](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionexpand)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["*","texts"]}}}],"responses":{"200":{"description":"Retrieved entities","content":{"application/json":{"schema":{"type":"object","title":"Collection of CustomCodeLists4","properties":{"@odata.count":{"$ref":"#/components/schemas/count"},"value":{"type":"array","items":{"$ref":"#/components/schemas/MasterDataService.CustomCodeLists4"}}}}}}},"400":{"$ref":"#/components/responses/error400"},"401":{"$ref":"#/components/responses/error401"},"403":{"$ref":"#/components/responses/error403"},"404":{"$ref":"#/components/responses/error404"},"405":{"$ref":"#/components/responses/error405"},"406":{"$ref":"#/components/responses/error406"},"4XX":{"$ref":"#/components/responses/error"}}}},"/CustomCodeLists4('{ID}')":{"parameters":[{"description":"The unique identifier of the entity in form of an unique String","in":"path","name":"ID","required":true,"schema":{"type":"string","maxLength":255}}],"get":{"summary":"Retrieves specific Custom Code Lists 4 using their IDs.","tags":["Custom Code Lists 4"],"description":"The ID of the requested custom code list 4 is required as parameter. Additionally, the standard OData parameters are supported. As response, exactly one custom code list 4 is returned. If no custom code list 4 is found in the system with the requested ID, the endpoint returns an appropriate error message.","parameters":[{"name":"$select","description":"Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["ID","deleted","name","description"]}}},{"name":"$expand","description":"Expand related entities, see [Expand](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionexpand)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["*","texts"]}}}],"responses":{"200":{"description":"Retrieved entity","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MasterDataService.CustomCodeLists4"}}}},"400":{"$ref":"#/components/responses/error400"},"401":{"$ref":"#/components/responses/error401"},"403":{"$ref":"#/components/responses/error403"},"404":{"$ref":"#/components/responses/error404"},"405":{"$ref":"#/components/responses/error405"},"406":{"$ref":"#/components/responses/error406"},"4XX":{"$ref":"#/components/responses/error"}}}},"/CustomCodeLists5":{"get":{"summary":"Retrieves entities from Custom Code Lists 5.","tags":["Custom Code Lists 5"],"description":"No specific parameters are required, but the standard OData parameters are supported. As response, a list of all custom code lists 5 is returned.","parameters":[{"$ref":"#/components/parameters/top"},{"$ref":"#/components/parameters/skip"},{"$ref":"#/components/parameters/search"},{"name":"$filter","description":"Filter items by property values, see [Filtering](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionfilter)","in":"query","schema":{"type":"string"}},{"$ref":"#/components/parameters/count"},{"name":"$orderby","description":"Order items by property values, see [Sorting](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionorderby)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["ID","ID desc","deleted","deleted desc","name","name desc","description","description desc"]}}},{"name":"$select","description":"Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["ID","deleted","name","description"]}}},{"name":"$expand","description":"Expand related entities, see [Expand](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionexpand)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["*","texts"]}}}],"responses":{"200":{"description":"Retrieved entities","content":{"application/json":{"schema":{"type":"object","title":"Collection of CustomCodeLists5","properties":{"@odata.count":{"$ref":"#/components/schemas/count"},"value":{"type":"array","items":{"$ref":"#/components/schemas/MasterDataService.CustomCodeLists5"}}}}}}},"400":{"$ref":"#/components/responses/error400"},"401":{"$ref":"#/components/responses/error401"},"403":{"$ref":"#/components/responses/error403"},"404":{"$ref":"#/components/responses/error404"},"405":{"$ref":"#/components/responses/error405"},"406":{"$ref":"#/components/responses/error406"},"4XX":{"$ref":"#/components/responses/error"}}}},"/CustomCodeLists5('{ID}')":{"parameters":[{"description":"The unique identifier of the entity in form of an unique String","in":"path","name":"ID","required":true,"schema":{"type":"string","maxLength":255}}],"get":{"summary":"Retrieves specific Custom Code Lists 5 using their IDs.","tags":["Custom Code Lists 5"],"description":"The ID of the requested custom code list 5 is required as parameter. Additionally, the standard OData parameters are supported. As response, exactly one custom code list 5 is returned. If no custom code list 5 is found in the system with the requested ID, the endpoint returns an appropriate error message.","parameters":[{"name":"$select","description":"Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["ID","deleted","name","description"]}}},{"name":"$expand","description":"Expand related entities, see [Expand](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionexpand)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["*","texts"]}}}],"responses":{"200":{"description":"Retrieved entity","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MasterDataService.CustomCodeLists5"}}}},"400":{"$ref":"#/components/responses/error400"},"401":{"$ref":"#/components/responses/error401"},"403":{"$ref":"#/components/responses/error403"},"404":{"$ref":"#/components/responses/error404"},"405":{"$ref":"#/components/responses/error405"},"406":{"$ref":"#/components/responses/error406"},"4XX":{"$ref":"#/components/responses/error"}}}},"/ProductStructureHeaderAccessGroups":{"get":{"summary":"Retrieves a list of product structure header access groups.","tags":["Product Structure Header Access Groups"],"description":"No specific parameters are required, but the standard OData parameters are supported. As response, a list of all product structure header access groups is returned.","parameters":[{"$ref":"#/components/parameters/top"},{"$ref":"#/components/parameters/skip"},{"$ref":"#/components/parameters/search"},{"name":"$filter","description":"Filter items by property values, see [Filtering](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionfilter)","in":"query","schema":{"type":"string"}},{"$ref":"#/components/parameters/count"},{"name":"$orderby","description":"Order items by property values, see [Sorting](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionorderby)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["productStructureID","productStructureID desc","accessGroupID","accessGroupID desc"]}}},{"name":"$select","description":"Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["productStructureID","accessGroupID"]}}}],"responses":{"200":{"description":"Retrieved product structure header access groups","content":{"application/json":{"schema":{"type":"object","title":"Collection of ProductStructureHeaderAccessGroups","properties":{"@odata.count":{"$ref":"#/components/schemas/count"},"value":{"type":"array","items":{"$ref":"#/components/schemas/MasterDataService.ProductStructureHeaderAccessGroups"}}}}}}},"400":{"$ref":"#/components/responses/error400"},"401":{"$ref":"#/components/responses/error401"},"403":{"$ref":"#/components/responses/error403"},"404":{"$ref":"#/components/responses/error404"},"405":{"$ref":"#/components/responses/error405"},"406":{"$ref":"#/components/responses/error406"},"4XX":{"$ref":"#/components/responses/error"}}}},"/ProductStructureHeaderAccessGroups(productStructureID='{productStructureID}',accessGroupID='{accessGroupID}')":{"parameters":[{"description":"key: productStructureID","in":"path","name":"productStructureID","required":true,"schema":{"type":"string","maxLength":255}},{"description":"key: accessGroupID","in":"path","name":"accessGroupID","required":true,"schema":{"type":"string","maxLength":255}}],"get":{"summary":"Retrieves a specific product structure header access group using its ID.","tags":["Product Structure Header Access Groups"],"description":"The ID of the requested product structure header access group is required as parameter. Additionally, the standard OData parameters are supported. As response, exactly one product structure header access group is returned. If no product structure header access group is found in the system with the requested ID, the endpoint returns an appropriate error message.","parameters":[{"name":"$select","description":"Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["productStructureID","accessGroupID"]}}}],"responses":{"200":{"description":"Retrieved product structure header access group","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MasterDataService.ProductStructureHeaderAccessGroups"}}}},"400":{"$ref":"#/components/responses/error400"},"401":{"$ref":"#/components/responses/error401"},"403":{"$ref":"#/components/responses/error403"},"404":{"$ref":"#/components/responses/error404"},"405":{"$ref":"#/components/responses/error405"},"406":{"$ref":"#/components/responses/error406"},"4XX":{"$ref":"#/components/responses/error"}}}},"/Plants":{"get":{"summary":"Retrieves entities from Plants.","tags":["Plants"],"description":"No specific parameters are required, but the standard OData parameters are supported. As response, a list of all plants is returned.","parameters":[{"$ref":"#/components/parameters/top"},{"$ref":"#/components/parameters/skip"},{"$ref":"#/components/parameters/search"},{"name":"$filter","description":"Filter items by property values, see [Filtering](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionfilter)","in":"query","schema":{"type":"string"}},{"$ref":"#/components/parameters/count"},{"name":"$orderby","description":"Order items by property values, see [Sorting](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionorderby)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["ID","ID desc","deleted","deleted desc","name","name desc","description","description desc","s4UniquePlantID","s4UniquePlantID desc"]}}},{"name":"$select","description":"Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["ID","deleted","name","description","s4UniquePlantID"]}}},{"name":"$expand","description":"Expand related entities, see [Expand](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionexpand)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["*","texts"]}}}],"responses":{"200":{"description":"Retrieved entities","content":{"application/json":{"schema":{"type":"object","title":"Collection of Plants","properties":{"@odata.count":{"$ref":"#/components/schemas/count"},"value":{"type":"array","items":{"$ref":"#/components/schemas/MasterDataService.Plants"}}}}}}},"400":{"$ref":"#/components/responses/error400"},"401":{"$ref":"#/components/responses/error401"},"403":{"$ref":"#/components/responses/error403"},"404":{"$ref":"#/components/responses/error404"},"405":{"$ref":"#/components/responses/error405"},"406":{"$ref":"#/components/responses/error406"},"4XX":{"$ref":"#/components/responses/error"}}}},"/Plants('{ID}')":{"parameters":[{"description":"The unique identifier of the entity in form of an unique String","in":"path","name":"ID","required":true,"schema":{"type":"string","maxLength":255}}],"get":{"summary":"Retrieves a specific Plant using its ID.","tags":["Plants"],"description":"The ID of the requested plant is required as parameter. Additionally, the standard OData parameters are supported. As response, exactly one plant is returned. If no plant is found in the system with the requested ID, the endpoint returns an appropriate error message.","parameters":[{"name":"$select","description":"Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["ID","deleted","name","description"]}}},{"name":"$expand","description":"Expand related entities, see [Expand](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionexpand)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["*","texts"]}}}],"responses":{"200":{"description":"Retrieved entity","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MasterDataService.Plants"}}}},"400":{"$ref":"#/components/responses/error400"},"401":{"$ref":"#/components/responses/error401"},"403":{"$ref":"#/components/responses/error403"},"404":{"$ref":"#/components/responses/error404"},"405":{"$ref":"#/components/responses/error405"},"406":{"$ref":"#/components/responses/error406"},"4XX":{"$ref":"#/components/responses/error"}}}},"/ProductGroups":{"get":{"summary":"Retrieves entities from Product Groups.","tags":["Product Groups"],"description":"No specific parameters are required, but the standard OData parameters are supported. As response, a list of all product groups is returned.","parameters":[{"$ref":"#/components/parameters/top"},{"$ref":"#/components/parameters/skip"},{"$ref":"#/components/parameters/search"},{"name":"$filter","description":"Filter items by property values, see [Filtering](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionfilter)","in":"query","schema":{"type":"string"}},{"$ref":"#/components/parameters/count"},{"name":"$orderby","description":"Order items by property values, see [Sorting](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionorderby)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["ID","ID desc","deleted","deleted desc","name","name desc","description","description desc","s4MaterialGroupID","s4MaterialGroupID desc"]}}},{"name":"$select","description":"Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["ID","deleted","name","description"]}}},{"name":"$expand","description":"Expand related entities, see [Expand](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionexpand)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["*","texts"]}}}],"responses":{"200":{"description":"Retrieved entities","content":{"application/json":{"schema":{"type":"object","title":"Collection of ProductGroups","properties":{"@odata.count":{"$ref":"#/components/schemas/count"},"value":{"type":"array","items":{"$ref":"#/components/schemas/MasterDataService.ProductGroups"}}}}}}},"400":{"$ref":"#/components/responses/error400"},"401":{"$ref":"#/components/responses/error401"},"403":{"$ref":"#/components/responses/error403"},"404":{"$ref":"#/components/responses/error404"},"405":{"$ref":"#/components/responses/error405"},"406":{"$ref":"#/components/responses/error406"},"4XX":{"$ref":"#/components/responses/error"}}}},"/ProductGroups('{ID}')":{"parameters":[{"description":"The unique identifier of the entity in form of an unique String","in":"path","name":"ID","required":true,"schema":{"type":"string","maxLength":255}}],"get":{"summary":"Retrieves a specific Product Group using its ID.","tags":["Product Groups"],"description":"The ID of the requested product group is required as parameter. Additionally, the standard OData parameters are supported. As response, exactly one product group is returned. If no product group is found in the system with the requested ID, the endpoint returns an appropriate error message.","parameters":[{"name":"$select","description":"Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["ID","deleted","name","description"]}}},{"name":"$expand","description":"Expand related entities, see [Expand](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionexpand)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["*","texts"]}}}],"responses":{"200":{"description":"Retrieved entity","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MasterDataService.ProductGroups"}}}},"400":{"$ref":"#/components/responses/error400"},"401":{"$ref":"#/components/responses/error401"},"403":{"$ref":"#/components/responses/error403"},"404":{"$ref":"#/components/responses/error404"},"405":{"$ref":"#/components/responses/error405"},"406":{"$ref":"#/components/responses/error406"},"4XX":{"$ref":"#/components/responses/error"}}}},"/Products":{"get":{"summary":"Retrieves entities from Products.","tags":["Products"],"description":"No specific parameters are required, but the standard OData parameters are supported. As response, a list of all products is returned.","parameters":[{"$ref":"#/components/parameters/top"},{"$ref":"#/components/parameters/skip"},{"$ref":"#/components/parameters/search"},{"name":"$filter","description":"Filter items by property values, see [Filtering](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionfilter)","in":"query","schema":{"type":"string"}},{"$ref":"#/components/parameters/count"},{"name":"$orderby","description":"Order items by property values, see [Sorting](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionorderby)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["ID","ID desc","deleted","deleted desc","name","name desc","description","description desc","s4MaterialID","s4MaterialID desc","isoUom","isoUom desc","productGroup","productGroup desc","customFieldString1","customFieldString1 desc","customFieldString2","customFieldString2 desc","customFieldString3","customFieldString3 desc","customFieldString4","customFieldString4 desc","customFieldString5","customFieldString5 desc","customFieldDate1","customFieldDate1 desc","customFieldDate2","customFieldDate2 desc"]}}},{"name":"$select","description":"Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["ID","deleted","name","description","s4MaterialID","isoUom","productGroup","customFieldString1","customFieldString2","customFieldString3","customFieldString4","customFieldString5","customFieldDate1","customFieldDate2"]}}},{"name":"$expand","description":"Expand related entities, see [Expand](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionexpand)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["*","texts"]}}}],"responses":{"200":{"description":"Retrieved entities","content":{"application/json":{"schema":{"type":"object","title":"Collection of Products","properties":{"@odata.count":{"$ref":"#/components/schemas/count"},"value":{"type":"array","items":{"$ref":"#/components/schemas/MasterDataService.Products"}}}}}}},"400":{"$ref":"#/components/responses/error400"},"401":{"$ref":"#/components/responses/error401"},"403":{"$ref":"#/components/responses/error403"},"404":{"$ref":"#/components/responses/error404"},"405":{"$ref":"#/components/responses/error405"},"406":{"$ref":"#/components/responses/error406"},"4XX":{"$ref":"#/components/responses/error"}}}},"/Products('{ID}')":{"parameters":[{"description":"The unique identifier of the entity in form of an unique String","in":"path","name":"ID","required":true,"schema":{"type":"string","maxLength":255}}],"get":{"summary":"Retrieves a specific Product using its ID.","tags":["Products"],"description":"The ID of the requested product is required as parameter. Additionally, the standard OData parameters are supported. As response, exactly one product is returned. If no product is found in the system with the requested ID, the endpoint returns an appropriate error message.","parameters":[{"name":"$select","description":"Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["ID","deleted","name","description","s4MaterialID","isoUom","productGroup","customFieldString1","customFieldString2","customFieldString3","customFieldString4","customFieldString5","customFieldDate1","customFieldDate2"]}}},{"name":"$expand","description":"Expand related entities, see [Expand](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionexpand)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["*","texts"]}}}],"responses":{"200":{"description":"Retrieved entity","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MasterDataService.Products"}}}},"400":{"$ref":"#/components/responses/error400"},"401":{"$ref":"#/components/responses/error401"},"403":{"$ref":"#/components/responses/error403"},"404":{"$ref":"#/components/responses/error404"},"405":{"$ref":"#/components/responses/error405"},"406":{"$ref":"#/components/responses/error406"},"4XX":{"$ref":"#/components/responses/error"}}}},"/SubProjectReferences":{"get":{"summary":"Retrieves entities from Subproject References.","tags":["Subproject References"],"description":"No specific parameters are required, but the standard OData parameters are supported. As response, a list of all subproject references is returned.","parameters":[{"$ref":"#/components/parameters/top"},{"$ref":"#/components/parameters/skip"},{"$ref":"#/components/parameters/search"},{"name":"$filter","description":"Filter items by property values, see [Filtering](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionfilter)","in":"query","schema":{"type":"string"}},{"$ref":"#/components/parameters/count"},{"name":"$orderby","description":"Order items by property values, see [Sorting](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionorderby)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["ID","ID desc","deleted","deleted desc","name","name desc","description","description desc"]}}},{"name":"$select","description":"Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["ID","deleted","name","description"]}}},{"name":"$expand","description":"Expand related entities, see [Expand](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionexpand)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["*","texts"]}}}],"responses":{"200":{"description":"Retrieved entities","content":{"application/json":{"schema":{"type":"object","title":"Collection of SubProjectReferences","properties":{"@odata.count":{"$ref":"#/components/schemas/count"},"value":{"type":"array","items":{"$ref":"#/components/schemas/MasterDataService.SubProjectReferences"}}}}}}},"400":{"$ref":"#/components/responses/error400"},"401":{"$ref":"#/components/responses/error401"},"403":{"$ref":"#/components/responses/error403"},"404":{"$ref":"#/components/responses/error404"},"405":{"$ref":"#/components/responses/error405"},"406":{"$ref":"#/components/responses/error406"},"4XX":{"$ref":"#/components/responses/error"}}}},"/SubProjectReferences('{ID}')":{"parameters":[{"description":"The unique identifier of the entity in form of an unique String","in":"path","name":"ID","required":true,"schema":{"type":"string","maxLength":255}}],"get":{"summary":"Retrieves a specific Subproject Reference using its ID.","tags":["Subproject References"],"description":"The ID of the requested subproject reference is required as parameter. Additionally, the standard OData parameters are supported. As response, exactly one subproject reference is returned. If no subproject reference is found in the system with the requested ID, the endpoint returns an appropriate error message.","parameters":[{"name":"$select","description":"Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["ID","deleted","name","description"]}}},{"name":"$expand","description":"Expand related entities, see [Expand](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionexpand)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["*","texts"]}}}],"responses":{"200":{"description":"Retrieved entity","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MasterDataService.SubProjectReferences"}}}},"400":{"$ref":"#/components/responses/error400"},"401":{"$ref":"#/components/responses/error401"},"403":{"$ref":"#/components/responses/error403"},"404":{"$ref":"#/components/responses/error404"},"405":{"$ref":"#/components/responses/error405"},"406":{"$ref":"#/components/responses/error406"},"4XX":{"$ref":"#/components/responses/error"}}}},"/ProductStructureHeaders":{"get":{"summary":"Retrieves entities from Product Structure Headers.","tags":["Product Structure Headers"],"description":"No specific parameters are required, but the standard OData parameters are supported. As response, a list of all product structure headers is returned.","parameters":[{"$ref":"#/components/parameters/top"},{"$ref":"#/components/parameters/skip"},{"$ref":"#/components/parameters/search"},{"name":"$filter","description":"Filter items by property values, see [Filtering](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionfilter)","in":"query","schema":{"type":"string"}},{"$ref":"#/components/parameters/count"},{"name":"$orderby","description":"Order items by property values, see [Sorting](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionorderby)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["modifiedAt","modifiedAt desc","ID","ID desc","eTag","eTag desc","productStructureType","productStructureType desc","name","name desc","description","description desc","customFieldString1","customFieldString1 desc","customFieldString2","customFieldString2 desc","customFieldString3","customFieldString3 desc","isActive","isActive desc"]}}},{"name":"$select","description":"Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["modifiedAt","ID","eTag","productStructureType","name","description","customFieldString1","customFieldString2","customFieldString3","isActive"]}}},{"name":"$expand","description":"Expand related entities, see [Expand](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionexpand)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["*","nodes","accessGroups"]}}}],"responses":{"200":{"description":"Retrieved entities","content":{"application/json":{"schema":{"type":"object","title":"Collection of ProductStructureHeaders","properties":{"@odata.count":{"$ref":"#/components/schemas/count"},"value":{"type":"array","items":{"$ref":"#/components/schemas/MasterDataService.ProductStructureHeaders"}}}}}}},"400":{"$ref":"#/components/responses/error400"},"401":{"$ref":"#/components/responses/error401"},"403":{"$ref":"#/components/responses/error403"},"404":{"$ref":"#/components/responses/error404"},"405":{"$ref":"#/components/responses/error405"},"406":{"$ref":"#/components/responses/error406"},"4XX":{"$ref":"#/components/responses/error"}}}},"/ProductStructureHeaders('{ID}')":{"parameters":[{"description":"The unique identifier of the entity in form of an UUID","in":"path","name":"ID","required":true,"schema":{"type":"string","maxLength":255}}],"get":{"summary":"Retrieves a specific Product Structure Header using its ID.","tags":["Product Structure Headers"],"description":"The ID of the requested product structure header is required as parameter. Additionally, the standard OData parameters are supported. As response, exactly one product structure header is returned. If no product structure header is found in the system with the requested ID, the endpoint returns an appropriate error message.","parameters":[{"name":"$select","description":"Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["modifiedAt","ID","eTag","productStructureType","name","description","customFieldString1","customFieldString2","customFieldString3"]}}},{"name":"$expand","description":"Expand related entities, see [Expand](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionexpand)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["*","nodes","accessGroups"]}}}],"responses":{"200":{"description":"Retrieved entity","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MasterDataService.ProductStructureHeaders"}}}},"400":{"$ref":"#/components/responses/error400"},"401":{"$ref":"#/components/responses/error401"},"403":{"$ref":"#/components/responses/error403"},"404":{"$ref":"#/components/responses/error404"},"405":{"$ref":"#/components/responses/error405"},"406":{"$ref":"#/components/responses/error406"},"4XX":{"$ref":"#/components/responses/error"}}}},"/ProductStructureHeaders('{ID}')/nodes":{"parameters":[{"description":"The unique identifier of the entity in form of an UUID","in":"path","name":"ID","required":true,"schema":{"type":"string","maxLength":255}}],"get":{"summary":"Retrieves entities from related nodes.","tags":["Product Structure Headers","Product Structure Nodes"],"description":"The ID of the requested product structure header is required as parameter. Additionally, the standard OData parameters are supported. As response, a list of all the nodes that are associated with the specified header are returned. If no product structure header is found in the system with the requested ID, the endpoint returns an appropriate error message.","parameters":[{"$ref":"#/components/parameters/top"},{"$ref":"#/components/parameters/skip"},{"$ref":"#/components/parameters/search"},{"name":"$filter","description":"Filter items by property values, see [Filtering](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionfilter)","in":"query","schema":{"type":"string"}},{"$ref":"#/components/parameters/count"},{"name":"$orderby","description":"Order items by property values, see [Sorting](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionorderby)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["modifiedAt","modifiedAt desc","ID","ID desc","deleted","deleted desc","eTag","eTag desc","sequence","sequence desc","nodeType","nodeType desc","nodeName","nodeName desc","description","description desc","isSeries","isSeries desc","procurementType","procurementType desc","partType","partType desc","quantity","quantity desc","unitOfMeasure","unitOfMeasure desc","itemCharacteristic1","itemCharacteristic1 desc","itemCharacteristic2","itemCharacteristic2 desc","packageCharacteristic","packageCharacteristic desc","customFieldString1","customFieldString1 desc","customFieldString2","customFieldString2 desc","customFieldString3","customFieldString3 desc","customFieldString4","customFieldString4 desc","customFieldString5","customFieldString5 desc","customFieldString6","customFieldString6 desc","customFieldString7","customFieldString7 desc","customFieldString8","customFieldString8 desc","customFieldString9","customFieldString9 desc","customFieldString10","customFieldString10 desc","customFieldString11","customFieldString11 desc","customFieldString12","customFieldString12 desc","customFieldDate1","customFieldDate1 desc","customFieldDate2","customFieldDate2 desc","customFieldDate3","customFieldDate3 desc","header_ID","header_ID desc","productGroup_ID","productGroup_ID desc","product_ID","product_ID desc","planningPlant_ID","planningPlant_ID desc","customCode1_ID","customCode1_ID desc","customCode2_ID","customCode2_ID desc","customCode3_ID","customCode3_ID desc","customCode4_ID","customCode4_ID desc","customCode5_ID","customCode5_ID desc"]}}},{"name":"$select","description":"Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["modifiedAt","ID","deleted","eTag","sequence","nodeType","nodeName","description","isSeries","procurementType","partType","quantity","unitOfMeasure","itemCharacteristic1","itemCharacteristic2","packageCharacteristic","customFieldString1","customFieldString2","customFieldString3","customFieldString4","customFieldString5","customFieldString6","customFieldString7","customFieldString8","customFieldString9","customFieldString10","customFieldString11","customFieldString12","customFieldDate1","customFieldDate2","customFieldDate3","header_ID","productGroup_ID","product_ID","planningPlant_ID","customCode1_ID","customCode2_ID","customCode3_ID","customCode4_ID","customCode5_ID"]}}},{"name":"$expand","description":"Expand related entities, see [Expand](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionexpand)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["*","header","productGroup","product","plant","customCode1","customCode2","customCode3","customCode4","customCode5"]}}}],"responses":{"200":{"description":"Retrieved entities","content":{"application/json":{"schema":{"type":"object","title":"Collection of ProductStructureNodes","properties":{"@odata.count":{"$ref":"#/components/schemas/count"},"value":{"type":"array","items":{"$ref":"#/components/schemas/MasterDataService.ProductStructureNodes"}}}}}}},"400":{"$ref":"#/components/responses/error400"},"401":{"$ref":"#/components/responses/error401"},"403":{"$ref":"#/components/responses/error403"},"404":{"$ref":"#/components/responses/error404"},"405":{"$ref":"#/components/responses/error405"},"406":{"$ref":"#/components/responses/error406"},"4XX":{"$ref":"#/components/responses/error"}}}},"/ProductStructureHeaders('{ID}')/accessGroups":{"parameters":[{"description":"key: ID","in":"path","name":"ID","required":true,"schema":{"type":"string","maxLength":255}}],"get":{"summary":"Retrieves a list of access groups of a product structure header.","tags":["Product Structure Headers","Product Structure Header Access Groups"],"description":"The ID of the requested product structure header is required as parameter. Additionally, the standard OData parameters are supported. As response, exactly one access group list is returned. If no product structure header is found in the system with the requested ID, the endpoint returns an appropriate error message.","parameters":[{"$ref":"#/components/parameters/top"},{"$ref":"#/components/parameters/skip"},{"$ref":"#/components/parameters/search"},{"name":"$filter","description":"Filter items by property values, see [Filtering](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionfilter)","in":"query","schema":{"type":"string"}},{"$ref":"#/components/parameters/count"},{"name":"$orderby","description":"Order items by property values, see [Sorting](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionorderby)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["productStructureID","productStructureID desc","accessGroupID","accessGroupID desc"]}}},{"name":"$select","description":"Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["productStructureID","accessGroupID"]}}},{"name":"$expand","description":"Expand related entities, see [Expand](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionexpand)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["*","productStructureHeader"]}}}],"responses":{"200":{"description":"Retrieved access groups","content":{"application/json":{"schema":{"type":"object","title":"Collection of ProductStructureHeaderAccessGroups","properties":{"@odata.count":{"$ref":"#/components/schemas/count"},"value":{"type":"array","items":{"$ref":"#/components/schemas/MasterDataService.ProductStructureHeaderAccessGroups"}}}}}}},"400":{"$ref":"#/components/responses/error400"},"401":{"$ref":"#/components/responses/error401"},"403":{"$ref":"#/components/responses/error403"},"404":{"$ref":"#/components/responses/error404"},"405":{"$ref":"#/components/responses/error405"},"406":{"$ref":"#/components/responses/error406"},"4XX":{"$ref":"#/components/responses/error"}}}},"/ProductStructureNodes":{"get":{"summary":"Retrieves entities from Product Structure Nodes.","tags":["Product Structure Nodes"],"description":"No specific parameters are required, but the standard OData parameters are supported. As response, a list of all product structure nodes is returned.","parameters":[{"$ref":"#/components/parameters/top"},{"$ref":"#/components/parameters/skip"},{"$ref":"#/components/parameters/search"},{"name":"$filter","description":"Filter items by property values, see [Filtering](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionfilter)","in":"query","schema":{"type":"string"}},{"$ref":"#/components/parameters/count"},{"name":"$orderby","description":"Order items by property values, see [Sorting](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionorderby)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["modifiedAt","modifiedAt desc","ID","ID desc","deleted","deleted desc","eTag","eTag desc","sequence","sequence desc","nodeType","nodeType desc","nodeName","nodeName desc","description","description desc","isSeries","isSeries desc","procurementType","procurementType desc","partType","partType desc","quantity","quantity desc","unitOfMeasure","unitOfMeasure desc","isoUom","isoUom desc","itemCharacteristic1","itemCharacteristic1 desc","itemCharacteristic2","itemCharacteristic2 desc","packageCharacteristic","packageCharacteristic desc","customFieldString1","customFieldString1 desc","customFieldString2","customFieldString2 desc","customFieldString3","customFieldString3 desc","customFieldString4","customFieldString4 desc","customFieldString5","customFieldString5 desc","customFieldString6","customFieldString6 desc","customFieldString7","customFieldString7 desc","customFieldString8","customFieldString8 desc","customFieldString9","customFieldString9 desc","customFieldString10","customFieldString10 desc","customFieldString11","customFieldString11 desc","customFieldString12","customFieldString12 desc","customFieldDate1","customFieldDate1 desc","customFieldDate2","customFieldDate2 desc","customFieldDate3","customFieldDate3 desc","header_ID","header_ID desc","productGroup_ID","productGroup_ID desc","product_ID","product_ID desc","planningPlant_ID","planningPlant_ID desc","customCode1_ID","customCode1_ID desc","customCode2_ID","customCode2_ID desc","customCode3_ID","customCode3_ID desc","customCode4_ID","customCode4_ID desc","customCode5_ID","customCode5_ID desc"]}}},{"name":"$select","description":"Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["modifiedAt","ID","deleted","eTag","sequence","nodeType","nodeName","description","isSeries","procurementType","partType","quantity","unitOfMeasure","isoUom","itemCharacteristic1","itemCharacteristic2","packageCharacteristic","customFieldString1","customFieldString2","customFieldString3","customFieldString4","customFieldString5","customFieldString6","customFieldString7","customFieldString8","customFieldString9","customFieldString10","customFieldString11","customFieldString12","customFieldDate1","customFieldDate2","customFieldDate3","header_ID","productGroup_ID","product_ID","planningPlant_ID","customCode1_ID","customCode2_ID","customCode3_ID","customCode4_ID","customCode5_ID"]}}},{"name":"$expand","description":"Expand related entities, see [Expand](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionexpand)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["*","header","productGroup","product","plant","customCode1","customCode2","customCode3","customCode4","customCode5"]}}}],"responses":{"200":{"description":"Retrieved entities","content":{"application/json":{"schema":{"type":"object","title":"Collection of ProductStructureNodes","properties":{"@odata.count":{"$ref":"#/components/schemas/count"},"value":{"type":"array","items":{"$ref":"#/components/schemas/MasterDataService.ProductStructureNodes"}}}}}}},"400":{"$ref":"#/components/responses/error400"},"401":{"$ref":"#/components/responses/error401"},"403":{"$ref":"#/components/responses/error403"},"404":{"$ref":"#/components/responses/error404"},"405":{"$ref":"#/components/responses/error405"},"406":{"$ref":"#/components/responses/error406"},"4XX":{"$ref":"#/components/responses/error"}}}},"/ProductStructureNodes('{ID}')":{"parameters":[{"description":"The unique identifier of the entity in form of an UUID","in":"path","name":"ID","required":true,"schema":{"type":"string","maxLength":255}}],"get":{"summary":"Retrieves a specific Product Structure Node using its ID.","tags":["Product Structure Nodes"],"description":"The ID of the requested product structure node is required as parameter. Additionally, the standard OData parameters are supported. As response, exactly one product structure node is returned. If no product structure node is found in the system with the requested ID, the endpoint returns an appropriate error message.","parameters":[{"name":"$select","description":"Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["modifiedAt","ID","deleted","eTag","sequence","nodeType","nodeName","description","isSeries","procurementType","partType","quantity","unitOfMeasure","isoUom","itemCharacteristic1","itemCharacteristic2","packageCharacteristic","customFieldString1","customFieldString2","customFieldString3","customFieldString4","customFieldString5","customFieldString6","customFieldString7","customFieldString8","customFieldString9","customFieldString10","customFieldString11","customFieldString12","customFieldDate1","customFieldDate2","customFieldDate3","header_ID","productGroup_ID","product_ID","planningPlant_ID","customCode1_ID","customCode2_ID","customCode3_ID","customCode4_ID","customCode5_ID"]}}},{"name":"$expand","description":"Expand related entities, see [Expand](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionexpand)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["*","header","productGroup","product","plant","customCode1","customCode2","customCode3","customCode4","customCode5"]}}}],"responses":{"200":{"description":"Retrieved entity","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MasterDataService.ProductStructureNodes"}}}},"400":{"$ref":"#/components/responses/error400"},"401":{"$ref":"#/components/responses/error401"},"403":{"$ref":"#/components/responses/error403"},"404":{"$ref":"#/components/responses/error404"},"405":{"$ref":"#/components/responses/error405"},"406":{"$ref":"#/components/responses/error406"},"4XX":{"$ref":"#/components/responses/error"}}}},"/ProductStructureNodes('{ID}')/header":{"parameters":[{"description":"The unique identifier of the entity in form of an UUID","in":"path","name":"ID","required":true,"schema":{"type":"string","maxLength":255}}],"get":{"summary":"Retrieves the related Product Structure Header.","tags":["Product Structure Nodes","Product Structure Headers"],"description":"The ID of the requested product structure node is required as parameter. Additionally, the standard OData parameters are supported. As response, exactly one product structure header is returned. If no product structure node is found in the system with the requested ID, the endpoint returns an appropriate error message.","parameters":[{"name":"$select","description":"Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["modifiedAt","ID","eTag","productStructureType","name","description","customFieldString1","customFieldString2","customFieldString3"]}}},{"name":"$expand","description":"Expand related entities, see [Expand](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionexpand)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["*","nodes","accessGroups"]}}}],"responses":{"200":{"description":"Retrieved entity","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MasterDataService.ProductStructureHeaders"}}}},"400":{"$ref":"#/components/responses/error400"},"401":{"$ref":"#/components/responses/error401"},"403":{"$ref":"#/components/responses/error403"},"404":{"$ref":"#/components/responses/error404"},"405":{"$ref":"#/components/responses/error405"},"406":{"$ref":"#/components/responses/error406"},"4XX":{"$ref":"#/components/responses/error"}}}},"/ProductStructureNodes('{ID}')/productGroup":{"parameters":[{"description":"The unique identifier of the entity in form of an UUID","in":"path","name":"ID","required":true,"schema":{"type":"string","maxLength":255}}],"get":{"summary":"Retrieves the related Product Group.","tags":["Product Structure Nodes","Product Groups"],"description":"The ID of the requested product structure node is required as parameter. Additionally, the standard OData parameters are supported. As response, exactly one product group is returned. If no product structure node is found in the system with the requested ID, the endpoint returns an appropriate error message.","parameters":[{"name":"$select","description":"Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["ID","deleted","name","description"]}}},{"name":"$expand","description":"Expand related entities, see [Expand](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionexpand)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["*","texts"]}}}],"responses":{"200":{"description":"Retrieved entity","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MasterDataService.ProductGroups"}}}},"400":{"$ref":"#/components/responses/error400"},"401":{"$ref":"#/components/responses/error401"},"403":{"$ref":"#/components/responses/error403"},"404":{"$ref":"#/components/responses/error404"},"405":{"$ref":"#/components/responses/error405"},"406":{"$ref":"#/components/responses/error406"},"4XX":{"$ref":"#/components/responses/error"}}}},"/ProductStructureNodes('{ID}')/product":{"parameters":[{"description":"The unique identifier of the entity in form of an UUID","in":"path","name":"ID","required":true,"schema":{"type":"string","maxLength":255}}],"get":{"summary":"Retrieves the related Product.","tags":["Product Structure Nodes","Products"],"description":"The ID of the requested product structure node is required as parameter. Additionally, the standard OData parameters are supported. As response, exactly one product is returned. If no product structure node is found in the system with the requested ID, the endpoint returns an appropriate error message.","parameters":[{"name":"$select","description":"Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["ID","deleted","name","description","customFieldString1","customFieldString2","customFieldString3","customFieldString4","customFieldString5","customFieldDate1","customFieldDate2"]}}},{"name":"$expand","description":"Expand related entities, see [Expand](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionexpand)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["*","texts"]}}}],"responses":{"200":{"description":"Retrieved entity","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MasterDataService.Products"}}}},"400":{"$ref":"#/components/responses/error400"},"401":{"$ref":"#/components/responses/error401"},"403":{"$ref":"#/components/responses/error403"},"404":{"$ref":"#/components/responses/error404"},"405":{"$ref":"#/components/responses/error405"},"406":{"$ref":"#/components/responses/error406"},"4XX":{"$ref":"#/components/responses/error"}}}},"/ProductStructureNodes('{ID}')/planningPlant":{"parameters":[{"description":"The unique identifier of the entity in form of an UUID","in":"path","name":"ID","required":true,"schema":{"type":"string","maxLength":255}}],"get":{"summary":"Retrieves the related Plant.","tags":["Product Structure Nodes","Plants"],"description":"The ID of the requested product structure node is required as parameter. Additionally, the standard OData parameters are supported. As response, exactly one plant is returned. If no product structure node is found in the system with the requested ID, the endpoint returns an appropriate error message.","parameters":[{"name":"$select","description":"Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["ID","deleted","name","description"]}}},{"name":"$expand","description":"Expand related entities, see [Expand](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionexpand)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["*","texts"]}}}],"responses":{"200":{"description":"Retrieved entity","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MasterDataService.Plants"}}}},"400":{"$ref":"#/components/responses/error400"},"401":{"$ref":"#/components/responses/error401"},"403":{"$ref":"#/components/responses/error403"},"404":{"$ref":"#/components/responses/error404"},"405":{"$ref":"#/components/responses/error405"},"406":{"$ref":"#/components/responses/error406"},"4XX":{"$ref":"#/components/responses/error"}}}},"/ProductStructureNodes('{ID}')/customCode1":{"parameters":[{"description":"The unique identifier of the entity in form of an UUID","in":"path","name":"ID","required":true,"schema":{"type":"string","maxLength":255}}],"get":{"summary":"Retrieves the related Custom Code 1.","tags":["Product Structure Nodes","Custom Code Lists 1"],"description":"The ID of the requested product structure node is required as parameter. Additionally, the standard OData parameters are supported. As response, exactly one custom code list 1 is returned. If no product structure node is found in the system with the requested ID, the endpoint returns an appropriate error message.","parameters":[{"name":"$select","description":"Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["ID","deleted","name","description"]}}},{"name":"$expand","description":"Expand related entities, see [Expand](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionexpand)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["*","texts"]}}}],"responses":{"200":{"description":"Retrieved entity","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MasterDataService.CustomCodeLists1"}}}},"400":{"$ref":"#/components/responses/error400"},"401":{"$ref":"#/components/responses/error401"},"403":{"$ref":"#/components/responses/error403"},"404":{"$ref":"#/components/responses/error404"},"405":{"$ref":"#/components/responses/error405"},"406":{"$ref":"#/components/responses/error406"},"4XX":{"$ref":"#/components/responses/error"}}}},"/ProductStructureNodes('{ID}')/customCode2":{"parameters":[{"description":"The unique identifier of the entity in form of an UUID","in":"path","name":"ID","required":true,"schema":{"type":"string","maxLength":255}}],"get":{"summary":"Retrieves the related Custom Code 2.","tags":["Product Structure Nodes","Custom Code Lists 2"],"description":"The ID of the requested product structure node is required as parameter. Additionally, the standard OData parameters are supported. As response, exactly one custom code list 2 is returned. If no product structure node is found in the system with the requested ID, the endpoint returns an appropriate error message.","parameters":[{"name":"$select","description":"Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["ID","deleted","name","description"]}}},{"name":"$expand","description":"Expand related entities, see [Expand](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionexpand)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["*","texts"]}}}],"responses":{"200":{"description":"Retrieved entity","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MasterDataService.CustomCodeLists2"}}}},"400":{"$ref":"#/components/responses/error400"},"401":{"$ref":"#/components/responses/error401"},"403":{"$ref":"#/components/responses/error403"},"404":{"$ref":"#/components/responses/error404"},"405":{"$ref":"#/components/responses/error405"},"406":{"$ref":"#/components/responses/error406"},"4XX":{"$ref":"#/components/responses/error"}}}},"/ProductStructureNodes('{ID}')/customCode3":{"parameters":[{"description":"The unique identifier of the entity in form of an UUID","in":"path","name":"ID","required":true,"schema":{"type":"string","maxLength":255}}],"get":{"summary":"Retrieves the related Custom Code 3.","tags":["Product Structure Nodes","Custom Code Lists 3"],"description":"The ID of the requested product structure node is required as parameter. Additionally, the standard OData parameters are supported. As response, exactly one custom code list 3 is returned. If no product structure node is found in the system with the requested ID, the endpoint returns an appropriate error message.","parameters":[{"name":"$select","description":"Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["ID","deleted","name","description"]}}},{"name":"$expand","description":"Expand related entities, see [Expand](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionexpand)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["*","texts"]}}}],"responses":{"200":{"description":"Retrieved entity","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MasterDataService.CustomCodeLists3"}}}},"400":{"$ref":"#/components/responses/error400"},"401":{"$ref":"#/components/responses/error401"},"403":{"$ref":"#/components/responses/error403"},"404":{"$ref":"#/components/responses/error404"},"405":{"$ref":"#/components/responses/error405"},"406":{"$ref":"#/components/responses/error406"},"4XX":{"$ref":"#/components/responses/error"}}}},"/ProductStructureNodes('{ID}')/customCode4":{"parameters":[{"description":"The unique identifier of the entity in form of an UUID","in":"path","name":"ID","required":true,"schema":{"type":"string","maxLength":255}}],"get":{"summary":"Retrieves the related Custom Code 4.","tags":["Product Structure Nodes","Custom Code Lists 4"],"description":"The ID of the requested product structure node is required as parameter. Additionally, the standard OData parameters are supported. As response, exactly one custom code list 4 is returned. If no product structure node is found in the system with the requested ID, the endpoint returns an appropriate error message.","parameters":[{"name":"$select","description":"Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["ID","deleted","name","description"]}}},{"name":"$expand","description":"Expand related entities, see [Expand](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionexpand)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["*","texts"]}}}],"responses":{"200":{"description":"Retrieved entity","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MasterDataService.CustomCodeLists4"}}}},"400":{"$ref":"#/components/responses/error400"},"401":{"$ref":"#/components/responses/error401"},"403":{"$ref":"#/components/responses/error403"},"404":{"$ref":"#/components/responses/error404"},"405":{"$ref":"#/components/responses/error405"},"406":{"$ref":"#/components/responses/error406"},"4XX":{"$ref":"#/components/responses/error"}}}},"/ProductStructureNodes('{ID}')/customCode5":{"parameters":[{"description":"The unique identifier of the entity in form of an UUID","in":"path","name":"ID","required":true,"schema":{"type":"string","maxLength":255}}],"get":{"summary":"Retrieves the related Custom Code 5.","tags":["Product Structure Nodes","Custom Code Lists 5"],"description":"The ID of the requested product structure node is required as parameter. Additionally, the standard OData parameters are supported. As response, exactly one custom code list 5 is returned. If no product structure node is found in the system with the requested ID, the endpoint returns an appropriate error message.","parameters":[{"name":"$select","description":"Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["ID","deleted","name","description"]}}},{"name":"$expand","description":"Expand related entities, see [Expand](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionexpand)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["*","texts"]}}}],"responses":{"200":{"description":"Retrieved entity","content":{"application/json":{"schema":{"$ref":"#/components/schemas/MasterDataService.CustomCodeLists5"}}}},"400":{"$ref":"#/components/responses/error400"},"401":{"$ref":"#/components/responses/error401"},"403":{"$ref":"#/components/responses/error403"},"404":{"$ref":"#/components/responses/error404"},"405":{"$ref":"#/components/responses/error405"},"406":{"$ref":"#/components/responses/error406"},"4XX":{"$ref":"#/components/responses/error"}}}},"/ImportCustomCodeLists1":{"post":{"summary":"Adds Custom Code Lists 1 to be imported for the running import session.","description":"Adds Custom Code Lists 1 to be imported for the running import session. These entities will be placed in a staging database while the whole import process is running. Only after the import session is processed with the 'processImportedData' call, the staging entities will be placed in the real database and are then accessible for other services. A maximum of 50000 Custom Code Lists 1 can be imported into database.","tags":["Service Operations"],"responses":{"204":{"description":"Custom Code Lists 1 were successfully submitted for import during an import session identified by the provided sessionId","content":{"application/json":{"schema":{"$ref":"#/components/schemas/success204"}}}},"400":{"$ref":"#/components/responses/error400"},"401":{"$ref":"#/components/responses/error401"},"403":{"$ref":"#/components/responses/error403"},"404":{"$ref":"#/components/responses/error404"},"405":{"$ref":"#/components/responses/error405"},"406":{"$ref":"#/components/responses/error406"},"4XX":{"$ref":"#/components/responses/error"}},"requestBody":{"description":"Action parameters","content":{"application/json":{"schema":{"type":"object","properties":{"sessionId":{"type":"string","format":"uuid","example":"01234567-89ab-cdef-0123-456789abcdef"},"customCodeLists1":{"type":"array","items":{"$ref":"#/components/schemas/MasterDataService.CustomCodeListImport"}}}}}}}}},"/ImportCustomCodeLists2":{"post":{"summary":"Adds Custom Code Lists 2 to be imported for the running import session.","description":"Adds Custom Code Lists 2 to be imported for the running import session. These entities will be placed in a staging database while the whole import process is running. Only after the import session is processed with the 'processImportedData' call, the staging entities will be placed in the real database and are then accessible for other services. A maximum of 50000 Custom Code Lists 2 can be imported into database.","tags":["Service Operations"],"responses":{"204":{"description":"Custom Code Lists 2 were successfully submitted for import during an import session identified by the provided sessionId","content":{"application/json":{"schema":{"$ref":"#/components/schemas/success204"}}}},"400":{"$ref":"#/components/responses/error400"},"401":{"$ref":"#/components/responses/error401"},"403":{"$ref":"#/components/responses/error403"},"404":{"$ref":"#/components/responses/error404"},"405":{"$ref":"#/components/responses/error405"},"406":{"$ref":"#/components/responses/error406"},"4XX":{"$ref":"#/components/responses/error"}},"requestBody":{"description":"Action parameters","content":{"application/json":{"schema":{"type":"object","properties":{"sessionId":{"type":"string","format":"uuid","example":"01234567-89ab-cdef-0123-456789abcdef"},"customCodeLists2":{"type":"array","items":{"$ref":"#/components/schemas/MasterDataService.CustomCodeListImport"}}}}}}}}},"/ImportCustomCodeLists3":{"post":{"summary":"Adds Custom Code Lists 3 to be imported for the running import session.","description":"Adds Custom Code Lists 3 to be imported for the running import session. These entities will be placed in a staging database while the whole import process is running. Only after the import session is processed with the 'processImportedData' call, the staging entities will be placed in the real database and are then accessible for other services. A maximum of 50000 Custom Code Lists 3 can be imported into database.","tags":["Service Operations"],"responses":{"204":{"description":"Custom Code Lists 3 were successfully submitted for import during an import session identified by the provided sessionId","content":{"application/json":{"schema":{"$ref":"#/components/schemas/success204"}}}},"400":{"$ref":"#/components/responses/error400"},"401":{"$ref":"#/components/responses/error401"},"403":{"$ref":"#/components/responses/error403"},"404":{"$ref":"#/components/responses/error404"},"405":{"$ref":"#/components/responses/error405"},"406":{"$ref":"#/components/responses/error406"},"4XX":{"$ref":"#/components/responses/error"}},"requestBody":{"description":"Action parameters","content":{"application/json":{"schema":{"type":"object","properties":{"sessionId":{"type":"string","format":"uuid","example":"01234567-89ab-cdef-0123-456789abcdef"},"customCodeLists3":{"type":"array","items":{"$ref":"#/components/schemas/MasterDataService.CustomCodeListImport"}}}}}}}}},"/ImportCustomCodeLists4":{"post":{"summary":"Adds Custom Code Lists 4 to be imported for the running import session.","description":"Adds Custom Code Lists 4 to be imported for the running import session. These entities will be placed in a staging database while the whole import process is running. Only after the import session is processed with the 'processImportedData' call, the staging entities will be placed in the real database and are then accessible for other services. A maximum of 50000 Custom Code Lists 4 can be imported into database.","tags":["Service Operations"],"responses":{"204":{"description":"Custom Code Lists 4 were successfully submitted for import during an import session identified by the provided sessionId","content":{"application/json":{"schema":{"$ref":"#/components/schemas/success204"}}}},"400":{"$ref":"#/components/responses/error400"},"401":{"$ref":"#/components/responses/error401"},"403":{"$ref":"#/components/responses/error403"},"404":{"$ref":"#/components/responses/error404"},"405":{"$ref":"#/components/responses/error405"},"406":{"$ref":"#/components/responses/error406"},"4XX":{"$ref":"#/components/responses/error"}},"requestBody":{"description":"Action parameters","content":{"application/json":{"schema":{"type":"object","properties":{"sessionId":{"type":"string","format":"uuid","example":"01234567-89ab-cdef-0123-456789abcdef"},"customCodeLists4":{"type":"array","items":{"$ref":"#/components/schemas/MasterDataService.CustomCodeListImport"}}}}}}}}},"/ImportCustomCodeLists5":{"post":{"summary":"Adds Custom Code Lists 5 to be imported for the running import session.","description":"Adds Custom Code Lists 5 to be imported for the running import session. These entities will be placed in a staging database while the whole import process is running. Only after the import session is processed with the 'processImportedData' call, the staging entities will be placed in the real database and are then accessible for other services. A maximum of 50000 Custom Code Lists 5 can be imported into database.","tags":["Service Operations"],"responses":{"204":{"description":"Custom Code Lists 5 were successfully submitted for import during an import session identified by the provided sessionId","content":{"application/json":{"schema":{"$ref":"#/components/schemas/success204"}}}},"400":{"$ref":"#/components/responses/error400"},"401":{"$ref":"#/components/responses/error401"},"403":{"$ref":"#/components/responses/error403"},"404":{"$ref":"#/components/responses/error404"},"405":{"$ref":"#/components/responses/error405"},"406":{"$ref":"#/components/responses/error406"},"4XX":{"$ref":"#/components/responses/error"}},"requestBody":{"description":"Action parameters","content":{"application/json":{"schema":{"type":"object","properties":{"sessionId":{"type":"string","format":"uuid","example":"01234567-89ab-cdef-0123-456789abcdef"},"customCodeLists5":{"type":"array","items":{"$ref":"#/components/schemas/MasterDataService.CustomCodeListImport"}}}}}}}}},"/ImportPlants":{"post":{"summary":"Adds Plants to be imported for the running import session.","description":"Adds Plants to be imported for the running import session. These entities will be placed in a staging database while the whole import process is running. Only after the import session is processed with the 'processImportedData' call, the staging entities will be placed in the real database and are then accessible for other services. A maximum of 1000 Plants can be imported into database.","tags":["Service Operations"],"responses":{"204":{"description":"Plants were successfully submitted for import during an import session identified by the provided sessionId","content":{"application/json":{"schema":{"$ref":"#/components/schemas/success204"}}}},"400":{"$ref":"#/components/responses/error400"},"401":{"$ref":"#/components/responses/error401"},"403":{"$ref":"#/components/responses/error403"},"404":{"$ref":"#/components/responses/error404"},"405":{"$ref":"#/components/responses/error405"},"406":{"$ref":"#/components/responses/error406"},"4XX":{"$ref":"#/components/responses/error"}},"requestBody":{"description":"Action parameters","content":{"application/json":{"schema":{"type":"object","properties":{"sessionId":{"type":"string","format":"uuid","example":"01234567-89ab-cdef-0123-456789abcdef"},"plants":{"type":"array","items":{"$ref":"#/components/schemas/MasterDataService.PlantImport"}}}}}}}}},"/ImportProductGroups":{"post":{"summary":"Adds Product Groups to be imported for the running import session.","description":"Adds Product Groups to be imported for the running import session. These entities will be placed in a staging database while the whole import process is running. Only after the import session is processed with the 'processImportedData' call, the staging entities will be placed in the real database and are then accessible for other services. A maximum of 1000 Product Groups can be imported into database.","tags":["Service Operations"],"responses":{"204":{"description":"Product Groups were successfully submitted for import during an import session identified by the provided sessionId","content":{"application/json":{"schema":{"$ref":"#/components/schemas/success204"}}}},"400":{"$ref":"#/components/responses/error400"},"401":{"$ref":"#/components/responses/error401"},"403":{"$ref":"#/components/responses/error403"},"404":{"$ref":"#/components/responses/error404"},"405":{"$ref":"#/components/responses/error405"},"406":{"$ref":"#/components/responses/error406"},"4XX":{"$ref":"#/components/responses/error"}},"requestBody":{"description":"Action parameters","content":{"application/json":{"schema":{"type":"object","properties":{"sessionId":{"type":"string","format":"uuid","example":"01234567-89ab-cdef-0123-456789abcdef"},"productGroups":{"type":"array","items":{"$ref":"#/components/schemas/MasterDataService.ProductGroupImport"}}}}}}}}},"/ImportProductStructures":{"post":{"summary":"Adds Product Structures to be imported for the running import session.","description":"Adds Product Structures to be imported for the running import session. These entities will be placed in a staging database while the whole import process is running. Only after the import session is processed with the 'processImportedData' call, the staging entities will be placed in the real database and are then accessible for other services. A maximum of five unique access groups can be assigned to one product structure header. A maximum of 4000 Product Structures and 5000000 Product Structure Nodes can be imported into database.","tags":["Service Operations"],"responses":{"204":{"description":"Product Structures were successfully submitted for import during an import session identified by the provided sessionId","content":{"application/json":{"schema":{"$ref":"#/components/schemas/success204"}}}},"400":{"$ref":"#/components/responses/error400"},"401":{"$ref":"#/components/responses/error401"},"403":{"$ref":"#/components/responses/error403"},"404":{"$ref":"#/components/responses/error404"},"405":{"$ref":"#/components/responses/error405"},"406":{"$ref":"#/components/responses/error406"},"4XX":{"$ref":"#/components/responses/error"}},"requestBody":{"description":"Action parameters","content":{"application/json":{"schema":{"type":"object","properties":{"sessionId":{"type":"string","format":"uuid","example":"01234567-89ab-cdef-0123-456789abcdef"},"headers":{"type":"array","items":{"$ref":"#/components/schemas/MasterDataService.ProductStructureHeaderImport"}},"nodes":{"type":"array","items":{"$ref":"#/components/schemas/MasterDataService.ProductStructureNodeImport"}}}}}}}}},"/ImportProducts":{"post":{"summary":"Adds Products to be imported for the running import session.","description":"Adds Products to be imported for the running import session. These entities will be placed in a staging database while the whole import process is running. Only after the import session is processed with the 'processImportedData' call, the staging entities will be placed in the real database and are then accessible for other services. A maximum of 400000 Products can be imported into database.","tags":["Service Operations"],"responses":{"204":{"description":"Products were successfully submitted for import during an import session identified by the provided sessionId","content":{"application/json":{"schema":{"$ref":"#/components/schemas/success204"}}}},"400":{"$ref":"#/components/responses/error400"},"401":{"$ref":"#/components/responses/error401"},"403":{"$ref":"#/components/responses/error403"},"404":{"$ref":"#/components/responses/error404"},"405":{"$ref":"#/components/responses/error405"},"406":{"$ref":"#/components/responses/error406"},"4XX":{"$ref":"#/components/responses/error"}},"requestBody":{"description":"Action parameters","content":{"application/json":{"schema":{"type":"object","properties":{"sessionId":{"type":"string","format":"uuid","example":"01234567-89ab-cdef-0123-456789abcdef"},"products":{"type":"array","items":{"$ref":"#/components/schemas/MasterDataService.ProductImport"}}}}}}}}},"/ImportSubProjectReferences":{"post":{"summary":"Adds Subproject References to be imported for the running import session.","description":"Adds Subproject References to be imported for the running import session. These entities will be placed in a staging database while the whole import process is running. Only after the import session is processed with the 'processImportedData' call, the staging entities will be placed in the real database and are then accessible for other services. A maximum of 15000 Subproject References can be imported into database.","tags":["Service Operations"],"responses":{"204":{"description":"Subproject references were successfully submitted for import during an import session identified by the provided sessionId","content":{"application/json":{"schema":{"$ref":"#/components/schemas/success204"}}}},"400":{"$ref":"#/components/responses/error400"},"401":{"$ref":"#/components/responses/error401"},"403":{"$ref":"#/components/responses/error403"},"404":{"$ref":"#/components/responses/error404"},"405":{"$ref":"#/components/responses/error405"},"406":{"$ref":"#/components/responses/error406"},"4XX":{"$ref":"#/components/responses/error"}},"requestBody":{"description":"Action parameters","content":{"application/json":{"schema":{"type":"object","properties":{"sessionId":{"type":"string","format":"uuid","example":"01234567-89ab-cdef-0123-456789abcdef"},"subProjectReferences":{"type":"array","items":{"$ref":"#/components/schemas/MasterDataService.SubProjectReferenceImport"}}}}}}}}},"/ProcessImportedData":{"post":{"summary":"Finishes the import process of all entites of one import session.","description":"Finishes the import process of all entities to be imported that were previously sent through the corresponding service operations with the same session ID. After this operation is completed, the imported data is removed from the staging database and placed in the real database. From there on, the imported data is accessible from other services. The current status of this operation can be tracked via the service operation \"/GetDataImportStatus\". A maximum of 300000 staging records can be stored in staging database.","tags":["Service Operations"],"responses":{"204":{"description":"Successfully started the processing of the data that was sent during one import session, which is identified by its used sessionId.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/success204"}}}},"400":{"$ref":"#/components/responses/error400"},"401":{"$ref":"#/components/responses/error401"},"403":{"$ref":"#/components/responses/error403"},"404":{"$ref":"#/components/responses/error404"},"405":{"$ref":"#/components/responses/error405"},"406":{"$ref":"#/components/responses/error406"},"4XX":{"$ref":"#/components/responses/error"}},"requestBody":{"description":"Action parameters","content":{"application/json":{"schema":{"type":"object","properties":{"sessionId":{"type":"string","format":"uuid","example":"01234567-89ab-cdef-0123-456789abcdef"}}}}}}}},"/GetDataImportStatus(sessionId={sessionId})":{"get":{"summary":"Retrieves the status of an import session using its session ID.","description":"Retrieves the status of an import session using its session ID. The session status can be \"In Progress\", \"Failed\" or \"Succeeded\". This operation can only be used after the \"/ProcessImportedData\" operation was called for the corresponding session ID.","tags":["Service Operations"],"parameters":[{"required":true,"in":"path","name":"sessionId","description":"UUID that is used during one import session and identifies exactly one import session.","schema":{"type":"string","format":"uuid","example":"01234567-89ab-cdef-0123-456789abcdef"}}],"responses":{"200":{"description":"Success","content":{"application/json":{"schema":{"anyOf":[{"$ref":"#/components/schemas/MasterDataService.DataImportStatus"}],"nullable":true}}}},"400":{"$ref":"#/components/responses/error400"},"401":{"$ref":"#/components/responses/error401"},"403":{"$ref":"#/components/responses/error403"},"404":{"$ref":"#/components/responses/error404"},"405":{"$ref":"#/components/responses/error405"},"406":{"$ref":"#/components/responses/error406"},"4XX":{"$ref":"#/components/responses/error"}}}},"/$batch":{"post":{"summary":"Send a group of requests","description":"Group multiple requests into a single request payload, see [Batch Requests](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_BatchRequests).\n\n*Please note that \"Try it out\" is not supported for this request.*","tags":["Batch Requests"],"requestBody":{"required":true,"description":"Batch request","content":{"multipart/mixed;boundary=request-separator":{"schema":{"type":"string"},"example":"--request-separator\nContent-Type: application/http\nContent-Transfer-Encoding: binary\n\nGET CustomCodeLists1 HTTP/1.1\nAccept: application/json\n\n\n--request-separator--"}}},"responses":{"200":{"description":"Batch response","content":{"multipart/mixed":{"schema":{"type":"string"},"example":"--response-separator\nContent-Type: application/http\n\nHTTP/1.1 200 OK\nContent-Type: application/json\n\n{...}\n--response-separator--"}}},"400":{"$ref":"#/components/responses/error400"},"401":{"$ref":"#/components/responses/error401"},"403":{"$ref":"#/components/responses/error403"},"404":{"$ref":"#/components/responses/error404"},"405":{"$ref":"#/components/responses/error405"},"406":{"$ref":"#/components/responses/error406"},"4XX":{"$ref":"#/components/responses/error"}}}}},"components":{"schemas":{"MasterDataService.CustomCodeLists1":{"title":"CustomCodeLists1","type":"object","properties":{"ID":{"type":"string","max
[...]
