{"openapi":"3.0.2","x-sap-api-type":"ODATAV4","x-odata-version":"4.0","info":{"title":"Procurement Project Management for Users","description":"Use this service to retrieve project, subproject, and item data with a signed-in user. Most of the entities are in read-only mode. The only exception is the Item Investments entity, which enables you to read and update investment data.\n## Rate Limitations\nThis API is rate limited to 1000 requests per hour and 10000 requests per day.","version":"1.0.0"},"x-sap-shortText":"This service enables you to retrieve project, subproject, and item data with a signed-in user","security":[{"OAuth2":[]}],"externalDocs":{"description":"More information is available at the SAP S/4HANA for procurement planning SAP Help Portal page.","url":"https://help.sap.com/viewer/product/SAP_PROCUREMENT_PLANNING/LATEST/en-US"},"servers":[{"url":"https://eu10.procurement-planning-api.procurement.cloud.sap/api/projects-investments/v1","description":"Production URL."}],"tags":[{"name":"Bundles"},{"name":"Custom Code Lists 1"},{"name":"Custom Code Lists 2"},{"name":"Custom Code Lists 3"},{"name":"Custom Code Lists 4"},{"name":"Custom Code Lists 5"},{"name":"Enabled Project Currencies"},{"name":"Handover Target Investment Codes"},{"name":"Investment Versions"},{"name":"Item Current Investments"},{"name":"Item Investment Statuses"},{"name":"Item Investment Version And Current Amounts"},{"name":"Item Investment Versioned Amounts"},{"name":"Item Investments"},{"name":"Item Versioned Investments"},{"name":"Packages"},{"name":"Plants"},{"name":"Product Groups"},{"name":"Product Structure Nodes"},{"name":"Product Structure Statuses"},{"name":"Products"},{"name":"Project Members"},{"name":"Project Participation View"},{"name":"Project Statuses"},{"name":"Project Types"},{"name":"Project Visibilities"},{"name":"Projects"},{"name":"Relevance Statuses"},{"name":"Role Members"},{"name":"Sourcing Project Lifecycle Statuses"},{"name":"Sourcing Types"},{"name":"Subproject Investment Versioned Amounts"},{"name":"Subproject Item Confirmations"},{"name":"Subproject Items"},{"name":"Subproject References"},{"name":"Subproject Role Members"},{"name":"Subproject Statuses"},{"name":"Subproject Types"},{"name":"Subproject Visibilities"},{"name":"Subprojects"}],"paths":{"/$batch":{"post":{"summary":"Send a group of requests","description":"Group multiple requests into a single request payload, see [Batch Requests](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_BatchRequests).\n\n*Please note that \"Try it out\" is not supported for this request.*","tags":["Batch Requests"],"requestBody":{"required":true,"description":"Batch request","content":{"multipart/mixed;boundary=request-separator":{"schema":{"type":"string"},"example":"--request-separator\nContent-Type: application/http\nContent-Transfer-Encoding: binary\n\nGET Projects HTTP/1.1\nAccept: application/json\n\n\n--request-separator--"}}},"responses":{"200":{"description":"Batch response","content":{"multipart/mixed":{"schema":{"type":"string"},"example":"--response-separator\nContent-Type: application/http\n\nHTTP/1.1 200 OK\nContent-Type: application/json\n\n{...}\n--response-separator--"}}},"400":{"description":"Bad Request: The server cannot or will not process the request due to an apparent client error (e.g. malformed request syntax, size too large, invalid request message framing, or deceptive request routing).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error"}}}},"401":{"description":"Unauthorized: The user does not have valid authentication credentials for the target resource.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error"}}}},"403":{"description":"Forbidden: The request contained valid data and was understood by the server, but the server is refusing action. This may be due to the user not having the necessary permissions for a resource or needing an account of some sort, or attempting a prohibited action (e.g. creating a duplicate record where only one is allowed).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error"}}}},"404":{"description":"Not Found: The requested resource could not be found but may be available in the future. Subsequent requests by the client are permissible.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error"}}}},"405":{"description":"Method Not Allowed: A request method is not supported for the requested resource; for example, a GET request on a form that requires data to be presented via POST, or a PUT request on a read-only resource.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error"}}}},"406":{"description":"Not Acceptable: The requested resource is capable of generating only content not acceptable according to the Accept headers sent in the request.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error"}}}},"4XX":{"$ref":"#/components/responses/error"}}}},"/Bundles":{"get":{"summary":"Retrieves a list of bundles.","description":"No specific parameters are required, but the standard OData parameters are supported. As response, a list of all bundles is returned.","tags":["Bundles"],"parameters":[{"$ref":"#/components/parameters/top"},{"$ref":"#/components/parameters/skip"},{"$ref":"#/components/parameters/search"},{"name":"$filter","description":"Filter items by property values, see [Filtering](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionfilter)","in":"query","schema":{"type":"string"}},{"$ref":"#/components/parameters/count"},{"name":"$orderby","description":"Order items by property values, see [Sorting](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionorderby)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["ID","ID desc","name","name desc"]}}},{"name":"$select","description":"Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["ID","name"]}}}],"responses":{"200":{"description":"Retrieved bundles","content":{"application/json":{"schema":{"type":"object","title":"Collection of Bundles","properties":{"@odata.count":{"$ref":"#/components/schemas/count"},"value":{"type":"array","items":{"$ref":"#/components/schemas/PublicService.Bundles"}}}}}}},"400":{"description":"Bad Request: The server cannot or will not process the request due to an apparent client error (e.g. malformed request syntax, size too large, invalid request message framing, or deceptive request routing).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error"}}}},"401":{"description":"Unauthorized: The user does not have valid authentication credentials for the target resource.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error"}}}},"403":{"description":"Forbidden: The request contained valid data and was understood by the server, but the server is refusing action. This may be due to the user not having the necessary permissions for a resource or needing an account of some sort, or attempting a prohibited action (e.g. creating a duplicate record where only one is allowed).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error"}}}},"404":{"description":"Not Found: The requested resource could not be found but may be available in the future. Subsequent requests by the client are permissible.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error"}}}},"405":{"description":"Method Not Allowed: A request method is not supported for the requested resource; for example, a GET request on a form that requires data to be presented via POST, or a PUT request on a read-only resource.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error"}}}},"406":{"description":"Not Acceptable: The requested resource is capable of generating only content not acceptable according to the Accept headers sent in the request.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error"}}}},"4XX":{"$ref":"#/components/responses/error"}}}},"/Bundles({ID})":{"parameters":[{"description":"key: ID","in":"path","name":"ID","required":true,"schema":{"type":"string","format":"uuid","example":"01234567-89ab-cdef-0123-456789abcdef"}}],"get":{"summary":"Retrieves a single bundle.","description":"The ID of the requested bundle is required as parameter. Additionally, the standard OData parameters are supported. As response, exactly one bundle is returned. If no bundle with the requested ID is found in the system, the endpoint returns an appropriate error message.","tags":["Bundles"],"parameters":[{"name":"$select","description":"Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["ID","name"]}}}],"responses":{"200":{"description":"Retrieved bundle","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicService.Bundles"}}}},"400":{"description":"Bad Request: The server cannot or will not process the request due to an apparent client error (e.g. malformed request syntax, size too large, invalid request message framing, or deceptive request routing).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error"}}}},"401":{"description":"Unauthorized: The user does not have valid authentication credentials for the target resource.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error"}}}},"403":{"description":"Forbidden: The request contained valid data and was understood by the server, but the server is refusing action. This may be due to the user not having the necessary permissions for a resource or needing an account of some sort, or attempting a prohibited action (e.g. creating a duplicate record where only one is allowed).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error"}}}},"404":{"description":"Not Found: The requested resource could not be found but may be available in the future. Subsequent requests by the client are permissible.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error"}}}},"405":{"description":"Method Not Allowed: A request method is not supported for the requested resource; for example, a GET request on a form that requires data to be presented via POST, or a PUT request on a read-only resource.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error"}}}},"406":{"description":"Not Acceptable: The requested resource is capable of generating only content not acceptable according to the Accept headers sent in the request.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error"}}}},"4XX":{"$ref":"#/components/responses/error"}}}},"/CustomCodeLists1":{"get":{"summary":"Retrieves a list of custom code lists 1.","description":"No specific parameters are required, but the standard OData parameters are supported. As response, a list of all custom code lists 1 is returned.","tags":["Custom Code Lists 1"],"parameters":[{"$ref":"#/components/parameters/top"},{"$ref":"#/components/parameters/skip"},{"$ref":"#/components/parameters/search"},{"name":"$filter","description":"Filter items by property values, see [Filtering](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionfilter)","in":"query","schema":{"type":"string"}},{"$ref":"#/components/parameters/count"},{"name":"$orderby","description":"Order items by property values, see [Sorting](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionorderby)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["ID","ID desc","deleted","deleted desc","name","name desc","description","description desc"]}}},{"name":"$select","description":"Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["ID","deleted","name","description"]}}},{"name":"$expand","description":"The value of $expand query option is a comma-separated list of navigation property names, stream property names, or $value indicating the stream content of a media-entity. The corresponding related entities and stream values will be represented inline, see [Expand](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionexpand)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["*","texts","localized"]}}}],"responses":{"200":{"description":"Retrieved custom code lists1","content":{"application/json":{"schema":{"type":"object","title":"Collection of CustomCodeLists1","properties":{"@odata.count":{"$ref":"#/components/schemas/count"},"value":{"type":"array","items":{"$ref":"#/components/schemas/PublicService.CustomCodeLists1"}}}}}}},"400":{"description":"Bad Request: The server cannot or will not process the request due to an apparent client error (e.g. malformed request syntax, size too large, invalid request message framing, or deceptive request routing).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error"}}}},"401":{"description":"Unauthorized: The user does not have valid authentication credentials for the target resource.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error"}}}},"403":{"description":"Forbidden: The request contained valid data and was understood by the server, but the server is refusing action. This may be due to the user not having the necessary permissions for a resource or needing an account of some sort, or attempting a prohibited action (e.g. creating a duplicate record where only one is allowed).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error"}}}},"404":{"description":"Not Found: The requested resource could not be found but may be available in the future. Subsequent requests by the client are permissible.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error"}}}},"405":{"description":"Method Not Allowed: A request method is not supported for the requested resource; for example, a GET request on a form that requires data to be presented via POST, or a PUT request on a read-only resource.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error"}}}},"406":{"description":"Not Acceptable: The requested resource is capable of generating only content not acceptable according to the Accept headers sent in the request.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error"}}}},"4XX":{"$ref":"#/components/responses/error"}}}},"/CustomCodeLists1('{ID}')":{"parameters":[{"description":"key: ID","in":"path","name":"ID","required":true,"schema":{"type":"string","maxLength":255}}],"get":{"summary":"Retrieves a single custom code list 1.","description":"The ID of the requested custom code list 1 is required as parameter. Additionally, the standard OData parameters are supported. As response, exactly one custom code list 1 is returned. If no custom code list 1 with the requested ID is found in the system, the endpoint returns an appropriate error message.","tags":["Custom Code Lists 1"],"parameters":[{"name":"$select","description":"Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["ID","deleted","name","description"]}}},{"name":"$expand","description":"The value of $expand query option is a comma-separated list of navigation property names, stream property names, or $value indicating the stream content of a media-entity. The corresponding related entities and stream values will be represented inline, see [Expand](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionexpand)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["*","texts","localized"]}}}],"responses":{"200":{"description":"Retrieved custom code lists1","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicService.CustomCodeLists1"}}}},"400":{"description":"Bad Request: The server cannot or will not process the request due to an apparent client error (e.g. malformed request syntax, size too large, invalid request message framing, or deceptive request routing).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error"}}}},"401":{"description":"Unauthorized: The user does not have valid authentication credentials for the target resource.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error"}}}},"403":{"description":"Forbidden: The request contained valid data and was understood by the server, but the server is refusing action. This may be due to the user not having the necessary permissions for a resource or needing an account of some sort, or attempting a prohibited action (e.g. creating a duplicate record where only one is allowed).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error"}}}},"404":{"description":"Not Found: The requested resource could not be found but may be available in the future. Subsequent requests by the client are permissible.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error"}}}},"405":{"description":"Method Not Allowed: A request method is not supported for the requested resource; for example, a GET request on a form that requires data to be presented via POST, or a PUT request on a read-only resource.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error"}}}},"406":{"description":"Not Acceptable: The requested resource is capable of generating only content not acceptable according to the Accept headers sent in the request.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error"}}}},"4XX":{"$ref":"#/components/responses/error"}}}},"/CustomCodeLists2":{"get":{"summary":"Retrieves a list of custom code lists 2.","description":"No specific parameters are required, but the standard OData parameters are supported. As response, a list of all custom code lists 2 is returned.","tags":["Custom Code Lists 2"],"parameters":[{"$ref":"#/components/parameters/top"},{"$ref":"#/components/parameters/skip"},{"$ref":"#/components/parameters/search"},{"name":"$filter","description":"Filter items by property values, see [Filtering](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionfilter)","in":"query","schema":{"type":"string"}},{"$ref":"#/components/parameters/count"},{"name":"$orderby","description":"Order items by property values, see [Sorting](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionorderby)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["ID","ID desc","deleted","deleted desc","name","name desc","description","description desc"]}}},{"name":"$select","description":"Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["ID","deleted","name","description"]}}},{"name":"$expand","description":"The value of $expand query option is a comma-separated list of navigation property names, stream property names, or $value indicating the stream content of a media-entity. The corresponding related entities and stream values will be represented inline, see [Expand](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionexpand)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["*","texts","localized"]}}}],"responses":{"200":{"description":"Retrieved custom code lists2","content":{"application/json":{"schema":{"type":"object","title":"Collection of CustomCodeLists2","properties":{"@odata.count":{"$ref":"#/components/schemas/count"},"value":{"type":"array","items":{"$ref":"#/components/schemas/PublicService.CustomCodeLists2"}}}}}}},"400":{"description":"Bad Request: The server cannot or will not process the request due to an apparent client error (e.g. malformed request syntax, size too large, invalid request message framing, or deceptive request routing).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error"}}}},"401":{"description":"Unauthorized: The user does not have valid authentication credentials for the target resource.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error"}}}},"403":{"description":"Forbidden: The request contained valid data and was understood by the server, but the server is refusing action. This may be due to the user not having the necessary permissions for a resource or needing an account of some sort, or attempting a prohibited action (e.g. creating a duplicate record where only one is allowed).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error"}}}},"404":{"description":"Not Found: The requested resource could not be found but may be available in the future. Subsequent requests by the client are permissible.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error"}}}},"405":{"description":"Method Not Allowed: A request method is not supported for the requested resource; for example, a GET request on a form that requires data to be presented via POST, or a PUT request on a read-only resource.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error"}}}},"406":{"description":"Not Acceptable: The requested resource is capable of generating only content not acceptable according to the Accept headers sent in the request.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error"}}}},"4XX":{"$ref":"#/components/responses/error"}}}},"/CustomCodeLists2('{ID}')":{"parameters":[{"description":"key: ID","in":"path","name":"ID","required":true,"schema":{"type":"string","maxLength":255}}],"get":{"summary":"Retrieves a single custom code list 2.","description":"The ID of the requested custom code list 2 is required as parameter. Additionally, the standard OData parameters are supported. As response, exactly one custom code list 2 is returned. If no custom code list 2 with the requested ID is found in the system, the endpoint returns an appropriate error message.","tags":["Custom Code Lists 2"],"parameters":[{"name":"$select","description":"Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["ID","deleted","name","description"]}}},{"name":"$expand","description":"The value of $expand query option is a comma-separated list of navigation property names, stream property names, or $value indicating the stream content of a media-entity. The corresponding related entities and stream values will be represented inline, see [Expand](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionexpand)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["*","texts","localized"]}}}],"responses":{"200":{"description":"Retrieved custom code lists2","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicService.CustomCodeLists2"}}}},"400":{"description":"Bad Request: The server cannot or will not process the request due to an apparent client error (e.g. malformed request syntax, size too large, invalid request message framing, or deceptive request routing).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error"}}}},"401":{"description":"Unauthorized: The user does not have valid authentication credentials for the target resource.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error"}}}},"403":{"description":"Forbidden: The request contained valid data and was understood by the server, but the server is refusing action. This may be due to the user not having the necessary permissions for a resource or needing an account of some sort, or attempting a prohibited action (e.g. creating a duplicate record where only one is allowed).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error"}}}},"404":{"description":"Not Found: The requested resource could not be found but may be available in the future. Subsequent requests by the client are permissible.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error"}}}},"405":{"description":"Method Not Allowed: A request method is not supported for the requested resource; for example, a GET request on a form that requires data to be presented via POST, or a PUT request on a read-only resource.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error"}}}},"406":{"description":"Not Acceptable: The requested resource is capable of generating only content not acceptable according to the Accept headers sent in the request.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error"}}}},"4XX":{"$ref":"#/components/responses/error"}}}},"/CustomCodeLists3":{"get":{"summary":"Retrieves a list of custom code lists 3.","description":"No specific parameters are required, but the standard OData parameters are supported. As response, a list of all custom code lists 3 is returned.","tags":["Custom Code Lists 3"],"parameters":[{"$ref":"#/components/parameters/top"},{"$ref":"#/components/parameters/skip"},{"$ref":"#/components/parameters/search"},{"name":"$filter","description":"Filter items by property values, see [Filtering](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionfilter)","in":"query","schema":{"type":"string"}},{"$ref":"#/components/parameters/count"},{"name":"$orderby","description":"Order items by property values, see [Sorting](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionorderby)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["ID","ID desc","deleted","deleted desc","name","name desc","description","description desc"]}}},{"name":"$select","description":"Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["ID","deleted","name","description"]}}},{"name":"$expand","description":"The value of $expand query option is a comma-separated list of navigation property names, stream property names, or $value indicating the stream content of a media-entity. The corresponding related entities and stream values will be represented inline, see [Expand](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionexpand)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["*","texts","localized"]}}}],"responses":{"200":{"description":"Retrieved custom code lists3","content":{"application/json":{"schema":{"type":"object","title":"Collection of CustomCodeLists3","properties":{"@odata.count":{"$ref":"#/components/schemas/count"},"value":{"type":"array","items":{"$ref":"#/components/schemas/PublicService.CustomCodeLists3"}}}}}}},"400":{"description":"Bad Request: The server cannot or will not process the request due to an apparent client error (e.g. malformed request syntax, size too large, invalid request message framing, or deceptive request routing).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error"}}}},"401":{"description":"Unauthorized: The user does not have valid authentication credentials for the target resource.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error"}}}},"403":{"description":"Forbidden: The request contained valid data and was understood by the server, but the server is refusing action. This may be due to the user not having the necessary permissions for a resource or needing an account of some sort, or attempting a prohibited action (e.g. creating a duplicate record where only one is allowed).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error"}}}},"404":{"description":"Not Found: The requested resource could not be found but may be available in the future. Subsequent requests by the client are permissible.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error"}}}},"405":{"description":"Method Not Allowed: A request method is not supported for the requested resource; for example, a GET request on a form that requires data to be presented via POST, or a PUT request on a read-only resource.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error"}}}},"406":{"description":"Not Acceptable: The requested resource is capable of generating only content not acceptable according to the Accept headers sent in the request.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error"}}}},"4XX":{"$ref":"#/components/responses/error"}}}},"/CustomCodeLists3('{ID}')":{"parameters":[{"description":"key: ID","in":"path","name":"ID","required":true,"schema":{"type":"string","maxLength":255}}],"get":{"summary":"Retrieves a single custom code list 3.","description":"The ID of the requested custom code list 3 is required as parameter. Additionally, the standard OData parameters are supported. As response, exactly one custom code list 3 is returned. If no custom code list 3 with the requested ID is found in the system, the endpoint returns an appropriate error message.","tags":["Custom Code Lists 3"],"parameters":[{"name":"$select","description":"Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["ID","deleted","name","description"]}}},{"name":"$expand","description":"The value of $expand query option is a comma-separated list of navigation property names, stream property names, or $value indicating the stream content of a media-entity. The corresponding related entities and stream values will be represented inline, see [Expand](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionexpand)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["*","texts","localized"]}}}],"responses":{"200":{"description":"Retrieved custom code lists3","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicService.CustomCodeLists3"}}}},"400":{"description":"Bad Request: The server cannot or will not process the request due to an apparent client error (e.g. malformed request syntax, size too large, invalid request message framing, or deceptive request routing).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error"}}}},"401":{"description":"Unauthorized: The user does not have valid authentication credentials for the target resource.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error"}}}},"403":{"description":"Forbidden: The request contained valid data and was understood by the server, but the server is refusing action. This may be due to the user not having the necessary permissions for a resource or needing an account of some sort, or attempting a prohibited action (e.g. creating a duplicate record where only one is allowed).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error"}}}},"404":{"description":"Not Found: The requested resource could not be found but may be available in the future. Subsequent requests by the client are permissible.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error"}}}},"405":{"description":"Method Not Allowed: A request method is not supported for the requested resource; for example, a GET request on a form that requires data to be presented via POST, or a PUT request on a read-only resource.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error"}}}},"406":{"description":"Not Acceptable: The requested resource is capable of generating only content not acceptable according to the Accept headers sent in the request.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error"}}}},"4XX":{"$ref":"#/components/responses/error"}}}},"/CustomCodeLists4":{"get":{"summary":"Retrieves a list of custom code lists 4.","description":"No specific parameters are required, but the standard OData parameters are supported. As response, a list of all custom code lists 4 is returned.","tags":["Custom Code Lists 4"],"parameters":[{"$ref":"#/components/parameters/top"},{"$ref":"#/components/parameters/skip"},{"$ref":"#/components/parameters/search"},{"name":"$filter","description":"Filter items by property values, see [Filtering](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionfilter)","in":"query","schema":{"type":"string"}},{"$ref":"#/components/parameters/count"},{"name":"$orderby","description":"Order items by property values, see [Sorting](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionorderby)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["ID","ID desc","deleted","deleted desc","name","name desc","description","description desc"]}}},{"name":"$select","description":"Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["ID","deleted","name","description"]}}},{"name":"$expand","description":"The value of $expand query option is a comma-separated list of navigation property names, stream property names, or $value indicating the stream content of a media-entity. The corresponding related entities and stream values will be represented inline, see [Expand](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionexpand)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["*","texts","localized"]}}}],"responses":{"200":{"description":"Retrieved custom code lists4","content":{"application/json":{"schema":{"type":"object","title":"Collection of CustomCodeLists4","properties":{"@odata.count":{"$ref":"#/components/schemas/count"},"value":{"type":"array","items":{"$ref":"#/components/schemas/PublicService.CustomCodeLists4"}}}}}}},"400":{"description":"Bad Request: The server cannot or will not process the request due to an apparent client error (e.g. malformed request syntax, size too large, invalid request message framing, or deceptive request routing).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error"}}}},"401":{"description":"Unauthorized: The user does not have valid authentication credentials for the target resource.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error"}}}},"403":{"description":"Forbidden: The request contained valid data and was understood by the server, but the server is refusing action. This may be due to the user not having the necessary permissions for a resource or needing an account of some sort, or attempting a prohibited action (e.g. creating a duplicate record where only one is allowed).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error"}}}},"404":{"description":"Not Found: The requested resource could not be found but may be available in the future. Subsequent requests by the client are permissible.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error"}}}},"405":{"description":"Method Not Allowed: A request method is not supported for the requested resource; for example, a GET request on a form that requires data to be presented via POST, or a PUT request on a read-only resource.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error"}}}},"406":{"description":"Not Acceptable: The requested resource is capable of generating only content not acceptable according to the Accept headers sent in the request.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error"}}}},"4XX":{"$ref":"#/components/responses/error"}}}},"/CustomCodeLists4('{ID}')":{"parameters":[{"description":"key: ID","in":"path","name":"ID","required":true,"schema":{"type":"string","maxLength":255}}],"get":{"summary":"Retrieves a single custom code list 4.","description":"The ID of the requested custom code list 4 is required as parameter. Additionally, the standard OData parameters are supported. As response, exactly one custom code list 4 is returned. If no custom code list 4 with the requested ID is found in the system, the endpoint returns an appropriate error message.","tags":["Custom Code Lists 4"],"parameters":[{"name":"$select","description":"Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["ID","deleted","name","description"]}}},{"name":"$expand","description":"The value of $expand query option is a comma-separated list of navigation property names, stream property names, or $value indicating the stream content of a media-entity. The corresponding related entities and stream values will be represented inline, see [Expand](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionexpand)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["*","texts","localized"]}}}],"responses":{"200":{"description":"Retrieved custom code lists4","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicService.CustomCodeLists4"}}}},"400":{"description":"Bad Request: The server cannot or will not process the request due to an apparent client error (e.g. malformed request syntax, size too large, invalid request message framing, or deceptive request routing).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error"}}}},"401":{"description":"Unauthorized: The user does not have valid authentication credentials for the target resource.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error"}}}},"403":{"description":"Forbidden: The request contained valid data and was understood by the server, but the server is refusing action. This may be due to the user not having the necessary permissions for a resource or needing an account of some sort, or attempting a prohibited action (e.g. creating a duplicate record where only one is allowed).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error"}}}},"404":{"description":"Not Found: The requested resource could not be found but may be available in the future. Subsequent requests by the client are permissible.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error"}}}},"405":{"description":"Method Not Allowed: A request method is not supported for the requested resource; for example, a GET request on a form that requires data to be presented via POST, or a PUT request on a read-only resource.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error"}}}},"406":{"description":"Not Acceptable: The requested resource is capable of generating only content not acceptable according to the Accept headers sent in the request.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error"}}}},"4XX":{"$ref":"#/components/responses/error"}}}},"/CustomCodeLists5":{"get":{"summary":"Retrieves a list of custom code lists 5.","description":"No specific parameters are required, but the standard OData parameters are supported. As response, a list of all custom code lists 5 is returned.","tags":["Custom Code Lists 5"],"parameters":[{"$ref":"#/components/parameters/top"},{"$ref":"#/components/parameters/skip"},{"$ref":"#/components/parameters/search"},{"name":"$filter","description":"Filter items by property values, see [Filtering](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionfilter)","in":"query","schema":{"type":"string"}},{"$ref":"#/components/parameters/count"},{"name":"$orderby","description":"Order items by property values, see [Sorting](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionorderby)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["ID","ID desc","deleted","deleted desc","name","name desc","description","description desc"]}}},{"name":"$select","description":"Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["ID","deleted","name","description"]}}},{"name":"$expand","description":"The value of $expand query option is a comma-separated list of navigation property names, stream property names, or $value indicating the stream content of a media-entity. The corresponding related entities and stream values will be represented inline, see [Expand](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionexpand)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["*","texts","localized"]}}}],"responses":{"200":{"description":"Retrieved custom code lists5","content":{"application/json":{"schema":{"type":"object","title":"Collection of CustomCodeLists5","properties":{"@odata.count":{"$ref":"#/components/schemas/count"},"value":{"type":"array","items":{"$ref":"#/components/schemas/PublicService.CustomCodeLists5"}}}}}}},"400":{"description":"Bad Request: The server cannot or will not process the request due to an apparent client error (e.g. malformed request syntax, size too large, invalid request message framing, or deceptive request routing).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error"}}}},"401":{"description":"Unauthorized: The user does not have valid authentication credentials for the target resource.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error"}}}},"403":{"description":"Forbidden: The request contained valid data and was understood by the server, but the server is refusing action. This may be due to the user not having the necessary permissions for a resource or needing an account of some sort, or attempting a prohibited action (e.g. creating a duplicate record where only one is allowed).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error"}}}},"404":{"description":"Not Found: The requested resource could not be found but may be available in the future. Subsequent requests by the client are permissible.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error"}}}},"405":{"description":"Method Not Allowed: A request method is not supported for the requested resource; for example, a GET request on a form that requires data to be presented via POST, or a PUT request on a read-only resource.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error"}}}},"406":{"description":"Not Acceptable: The requested resource is capable of generating only content not acceptable according to the Accept headers sent in the request.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error"}}}},"4XX":{"$ref":"#/components/responses/error"}}}},"/CustomCodeLists5('{ID}')":{"parameters":[{"description":"key: ID","in":"path","name":"ID","required":true,"schema":{"type":"string","maxLength":255}}],"get":{"summary":"Retrieves a single custom code list 5.","description":"The ID of the requested custom code list 5 is required as parameter. Additionally, the standard OData parameters are supported. As response, exactly one custom code list 5 is returned. If no custom code list 5 with the requested ID is found in the system, the endpoint returns an appropriate error message.","tags":["Custom Code Lists 5"],"parameters":[{"name":"$select","description":"Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["ID","deleted","name","description"]}}},{"name":"$expand","description":"The value of $expand query option is a comma-separated list of navigation property names, stream property names, or $value indicating the stream content of a media-entity. The corresponding related entities and stream values will be represented inline, see [Expand](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionexpand)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["*","texts","localized"]}}}],"responses":{"200":{"description":"Retrieved custom code lists5","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicService.CustomCodeLists5"}}}},"400":{"description":"Bad Request: The server cannot or will not process the request due to an apparent client error (e.g. malformed request syntax, size too large, invalid request message framing, or deceptive request routing).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error"}}}},"401":{"description":"Unauthorized: The user does not have valid authentication credentials for the target resource.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error"}}}},"403":{"description":"Forbidden: The request contained valid data and was understood by the server, but the server is refusing action. This may be due to the user not having the necessary permissions for a resource or needing an account of some sort, or attempting a prohibited action (e.g. creating a duplicate record where only one is allowed).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error"}}}},"404":{"description":"Not Found: The requested resource could not be found but may be available in the future. Subsequent requests by the client are permissible.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error"}}}},"405":{"description":"Method Not Allowed: A request method is not supported for the requested resource; for example, a GET request on a form that requires data to be presented via POST, or a PUT request on a read-only resource.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error"}}}},"406":{"description":"Not Acceptable: The requested resource is capable of generating only content not acceptable according to the Accept headers sent in the request.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error"}}}},"4XX":{"$ref":"#/components/responses/error"}}}},"/HandoverTargetInvestmentCodes":{"get":{"summary":"Retrieves a list of handover target investment codes.","description":"No specific parameters are required, but the standard OData parameters are supported. As response, a list of all handover target investment codes is returned.","tags":["Handover Target Investment Codes"],"parameters":[{"$ref":"#/components/parameters/top"},{"$ref":"#/components/parameters/skip"},{"$ref":"#/components/parameters/search"},{"name":"$filter","description":"Filter items by property values, see [Filtering](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionfilter)","in":"query","schema":{"type":"string"}},{"$ref":"#/components/parameters/count"},{"name":"$orderby","description":"Order items by property values, see [Sorting](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionorderby)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["code","code desc","name","name desc","sortOrder","sortOrder desc"]}}},{"name":"$select","description":"Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["code","name","sortOrder"]}}},{"name":"$expand","description":"The value of $expand query option is a comma-separated list of navigation property names, stream property names, or $value indicating the stream content of a media-entity. The corresponding related entities and stream values will be represented inline, see [Expand](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionexpand)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["*","texts","localized"]}}}],"responses":{"200":{"description":"Retrieved handover target investment codes","content":{"application/json":{"schema":{"type":"object","title":"Collection of HandoverTargetInvestmentCodes","properties":{"@odata.count":{"$ref":"#/components/schemas/count"},"value":{"type":"array","items":{"$ref":"#/components/schemas/PublicService.HandoverTargetInvestmentCodes"}}}}}}},"400":{"description":"Bad Request: The server cannot or will not process the request due to an apparent client error (e.g. malformed request syntax, size too large, invalid request message framing, or deceptive request routing).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error"}}}},"401":{"description":"Unauthorized: The user does not have valid authentication credentials for the target resource.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error"}}}},"403":{"description":"Forbidden: The request contained valid data and was understood by the server, but the server is refusing action. This may be due to the user not having the necessary permissions for a resource or needing an account of some sort, or attempting a prohibited action (e.g. creating a duplicate record where only one is allowed).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error"}}}},"404":{"description":"Not Found: The requested resource could not be found but may be available in the future. Subsequent requests by the client are permissible.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error"}}}},"405":{"description":"Method Not Allowed: A request method is not supported for the requested resource; for example, a GET request on a form that requires data to be presented via POST, or a PUT request on a read-only resource.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error"}}}},"406":{"description":"Not Acceptable: The requested resource is capable of generating only content not acceptable according to the Accept headers sent in the request.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error"}}}},"4XX":{"$ref":"#/components/responses/error"}}}},"/HandoverTargetInvestmentCodes('{code}')":{"parameters":[{"description":"key: code","in":"path","name":"code","required":true,"schema":{"type":"string","enum":["Yes","No"]}}],"get":{"summary":"Retrieves a single handover target investment code.","description":"The ID of the requested handover target investment code is required as parameter. Additionally, the standard OData parameters are supported. As response, exactly one handover target investment code is returned. If no handover target investment code with the requested ID is found in the system, the endpoint returns an appropriate error message.","tags":["Handover Target Investment Codes"],"parameters":[{"name":"$select","description":"Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["code","name","sortOrder"]}}},{"name":"$expand","description":"The value of $expand query option is a comma-separated list of navigation property names, stream property names, or $value indicating the stream content of a media-entity. The corresponding related entities and stream values will be represented inline, see [Expand](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionexpand)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["*","texts","localized"]}}}],"responses":{"200":{"description":"Retrieved handover target investment code","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicService.HandoverTargetInvestmentCodes"}}}},"400":{"description":"Bad Request: The server cannot or will not process the request due to an apparent client error (e.g. malformed request syntax, size too large, invalid request message framing, or deceptive request routing).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error"}}}},"401":{"description":"Unauthorized: The user does not have valid authentication credentials for the target resource.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error"}}}},"403":{"description":"Forbidden: The request contained valid data and was understood by the server, but the server is refusing action. This may be due to the user not having the necessary permissions for a resource or needing an account of some sort, or attempting a prohibited action (e.g. creating a duplicate record where only one is allowed).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error"}}}},"404":{"description":"Not Found: The requested resource could not be found but may be available in the future. Subsequent requests by the client are permissible.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error"}}}},"405":{"description":"Method Not Allowed: A request method is not supported for the requested resource; for example, a GET request on a form that requires data to be presented via POST, or a PUT request on a read-only resource.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error"}}}},"406":{"description":"Not Acceptable: The requested resource is capable of generating only content not acceptable according to the Accept headers sent in the request.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error"}}}},"4XX":{"$ref":"#/components/responses/error"}}}},"/ItemCurrentInvestments":{"get":{"summary":"Retrieves a list of item current investments.","description":"No specific parameters are required, but the standard OData parameters are supported. As response, a list of all item current investments is returned.","tags":["Item Current Investments"],"parameters":[{"$ref":"#/components/parameters/top"},{"$ref":"#/components/parameters/skip"},{"$ref":"#/components/parameters/search"},{"name":"$filter","description":"Filter items by property values, see [Filtering](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionfilter)","in":"query","schema":{"type":"string"}},{"$ref":"#/components/parameters/count"},{"name":"$orderby","description":"Order items by property values, see [Sorting](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionorderby)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["ID","ID desc","subProject_ID","subProject_ID desc","item_ID","item_ID desc","version_ID","version_ID desc","versionLabel","versionLabel desc","versionTimestamp","versionTimestamp desc","plannedInvestment","plannedInvestment desc","actualInvestment","actualInvestment desc","actualInvestmentCurrency_code","actualInvestmentCurrency_code desc","forInformationInvestment","forInformationInvestment desc","targetInvestment","targetInvestment desc","approvedInvestment","approvedInvestment desc","additionallyRequestedInvestment","additionallyRequestedInvestment desc","customFieldAmount1","customFieldAmount1 desc","customFieldAmount2","customFieldAmount2 desc","customFieldAmount3","customFieldAmount3 desc","customFieldAmount4","customFieldAmount4 desc","customFieldAmount5","customFieldAmount5 desc","customFieldAmount6","customFieldAmount6 desc","customFieldAmount7","customFieldAmount7 desc","customFieldAmount8","customFieldAmount8 desc","project_ID","project_ID desc","investmentAdditionallyRequestedInvestment","investmentAdditionallyRequestedInvestment desc","investmentApprovedInvestment","investmentApprovedInvestment desc","investmentForInformationInvestment","investmentForInformationInvestment desc","investmentPlannedInvestment","investmentPlannedInvestment desc","investmentReferencedInvestment","investmentReferencedInvestment desc","investmentReferencedInvestmentDescription","investmentReferencedInvestmentDescription desc","investmentActualInvestment","investmentActualInvestment desc","investmentActualInvestmentCurrency_code","investmentActualInvestmentCurrency_code desc","investmentTargetInvestment","investmentTargetInvestment desc","investmentCustomFieldAmount1","investmentCustomFieldAmount1 desc","investmentCustomFieldAmount2","investmentCustomFieldAmount2 desc","investmentCustomFieldAmount3","investmentCustomFieldAmount3 desc","investmentCustomFieldAmount4","investmentCustomFieldAmount4 desc","investmentCustomFieldAmount5","investmentCustomFieldAmount5 desc","investmentCustomFieldAmount6","investmentCustomFieldAmount6 desc","investmentCustomFieldAmount7","investmentCustomFieldAmount7 desc","investmentCustomFieldAmount8","investmentCustomFieldAmount8 desc","productStructureNodesNodeName","productStructureNodesNodeName desc","productStructureNodesNodeType","productStructureNodesNodeType desc","productStructureNodesDescription","productStructureNodesDescription desc","productStructureNodesSequence","productStructureNodesSequence desc","productName","productName desc","productStuctureNodesIsSeries","productStuctureNodesIsSeries desc","productStuctureNodesPlantName","productStuctureNodesPlantName desc","productStuctureNodesProcurementType","productStuctureNodesProcurementType desc","productStuctureNodesPartType","productStuctureNodesPartType desc","productStuctureNodesQuantity","productStuctureNodesQuantity desc","productStuctureNodesUnitOfMeasure","productStuctureNodesUnitOfMeasure desc","productStuctureNodesItemCharacteristic1","productStuctureNodesItemCharacteristic1 desc","productStuctureNodesItemCharacteristic2","productStuctureNodesItemCharacteristic2 desc","productStuctureNodesPackageCharacteristic","productStuctureNodesPackageCharacteristic desc","productStuctureNodesCustomFieldString1","productStuctureNodesCustomFieldString1 desc","productStuctureNodesCustomFieldString2","productStuctureNodesCustomFieldString2 desc","productStuctureNodesCustomFieldString3","productStuctureNodesCustomFieldString3 desc","productStuctureNodesCustomFieldString4","productStuctureNodesCustomFieldString4 desc","productStuctureNodesCustomFieldString5","productStuctureNodesCustomFieldString5 desc","productStuctureNodesCustomFieldString6","productStuctureNodesCustomFieldString6 desc","productStuctureNodesCustomFieldString7","productStuctureNodesCustomFieldString7 desc","productStuctureNodesCustomFieldString8","productStuctureNodesCustomFieldString8 desc","productStuctureNodesCustomFieldString9","productStuctureNodesCustomFieldString9 desc","productStuctureNodesCustomFieldString10","productStuctureNodesCustomFieldString10 desc","productStuctureNodesCustomFieldString11","productStuctureNodesCustomFieldString11 desc","productStuctureNodesCustomFieldString12","productStuctureNodesCustomFieldString12 desc","productStuctureNodesCustomFieldDate1","productStuctureNodesCustomFieldDate1 desc","productStuctureNodesCustomFieldDate2","productStuctureNodesCustomFieldDate2 desc","productStuctureNodesCustomFieldDate3","productStuctureNodesCustomFieldDate3 desc","productStuctureNodesCustomCode1Name","productStuctureNodesCustomCode1Name desc","productStuctureNodesCustomCode2Name","productStuctureNodesCustomCode2Name desc","productStuctureNodesCustomCode3Name","productStuctureNodesCustomCode3Name desc","productStuctureNodesCustomCode4Name","productStuctureNodesCustomCode4Name desc","productStuctureNodesCustomCode5Name","productStuctureNodesCustomCode5Name desc","sourcingTypeName","sourcingTypeName desc","schedulingStatusName","schedulingStatusName desc","investementStatusName","investementStatusName desc","remark","remark desc","schedulingRelevantName","schedulingRelevantName desc","schedulingRelevant_code","schedulingRelevant_code desc","sourcingRelevantName","sourcingRelevantName desc","sourcingRelevant_code","sourcingRelevant_code desc","investmentRelevantName","investmentRelevantName desc","investmentRelevant_code","investmentRelevant_code desc","copCapacityName","copCapacityName desc","copCapacity_code","copCapacity_code desc","referenceDate","referenceDate desc","scheduleCreatedAt","scheduleCreatedAt desc","assignedPackageName","assignedPackageName desc","productStructureStatusName","productStructureStatusName desc","productStructureStatus_code","productStructureStatus_code desc","productStructureUpdatedAt","productStructureUpdatedAt desc","assignmentProcessingStatus","assignmentProcessingStatus desc"]}}},{"name":"$select","description":"Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["ID","subProject_ID","item_ID","version_ID","versionLabel","versionTimestamp","plannedInvestment","actualInvestment","actualInvestmentCurrency_code","forInformationInvestment","targetInvestment","approvedInvestment","additionallyRequestedInvestment","customFieldAmount1","customFieldAmount2","customFieldAmount3","customFieldAmount4","customFieldAmount5","customFieldAmount6","customFieldAmount7","customFieldAmount8","project_ID","investmentAdditionallyRequestedInvestment","investmentApprovedInvestment","investmentForInformationInvestment","investmentPlannedInvestment","investmentReferencedInvestment","investmentReferencedInvestmentDescription","investmentActualInvestment","investmentActualInvestmentCurrency_code","investmentTargetInvestment","investmentCustomFieldAmount1","investmentCustomFieldAmount2","investmentCustomFieldAmount3","investmentCustomFieldAmount4","investmentCustomFieldAmount5","investmentCustomFieldAmount6","investmentCustomFieldAmount7","investmentCustomFieldAmount8","productStructureNodesNodeName","productStructureNodesNodeType","productStructureNodesDescription","productStructureNodesSequence","productName","productStuctureNodesIsSeries","productStuctureNodesPlantName","productStuctureNodesProcurementType","productStuctureNodesPartType","productStuctureNodesQuantity","productStuctureNodesUnitOfMeasure","productStuctureNodesItemCharacteristic1","productStuctureNodesItemCharacteristic2","productStuctureNodesPackageCharacteristic","productStuctureNodesCustomFieldString1","productStuctureNodesCustomFieldString2","productStuctureNodesCustomFieldString3","productStuctureNodesCustomFieldString4","productStuctureNodesCustomFieldString5","productStuctureNodesCustomFieldString6","productStuctureNodesCustomFieldString7","productStuctureNodesCustomFieldString8","productStuctureNodesCustomFieldString9","productStuctureNodesCustomFieldString10","productStuctureNodesCustomFieldString11","productStuctureNodesCustomFieldString12","productStuctureNodesCustomFieldDate1","productStuctureNodesCustomFieldDate2","productStuctureNodesCustomFieldDate3","productStuctureNodesCustomCode1Name","productStuctureNodesCustomCode2Name","productStuctureNodesCustomCode3Name","productStuctureNodesCustomCode4Name","productStuctureNodesCustomCode5Name","sourcingTypeName","schedulingStatusName","investementStatusName","remark","schedulingRelevantName","schedulingRelevant_code","sourcingRelevantName","sourcingRelevant_code","investmentRelevantName","investmentRelevant_code","copCapacityName","copCapacity_code","referenceDate","scheduleCreatedAt","assignedPackageName","productStructureStatusName","productStructureStatus_code","productStructureUpdatedAt","assignmentProcessingStatus"]}}}],"responses":{"200":{"description":"Retrieved item current investments","content":{"application/json":{"schema":{"type":"object","title":"Collection of ItemCurrentInvestments","properties":{"@odata.count":{"$ref":"#/components/schemas/count"},"value":{"type":"array","items":{"$ref":"#/components/schemas/PublicService.ItemCurrentInvestments"}}}}}}},"400":{"description":"Bad Request: The server cannot or will not process the request due to an apparent client error (e.g. malformed request syntax, size too large, invalid request message framing, or deceptive request routing).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error"}}}},"401":{"description":"Unauthorized: The user does not have valid authentication credentials for the target resource.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error"}}}},"403":{"description":"Forbidden: The request contained valid data and was understood by the server, but the server is refusing action. This may be due to the user not having the necessary permissions for a resource or needing an account of some sort, or attempting a prohibited action (e.g. creating a duplicate record where only one is allowed).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error"}}}},"404":{"description":"Not Found: The requested resource could not be found but may be available in the future. Subsequent requests by the client are permissible.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error"}}}},"405":{"description":"Method Not Allowed: A request method is not supported for the requested resource; for example, a GET request on a form that requires data to be presented via POST, or a PUT request on a read-only resource.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error"}}}},"406":{"description":"Not Acceptable: The requested resource is capable of generating only content not acceptable according to the Accept headers sent in the request.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error"}}}},"4XX":{"$ref":"#/components/responses/error"}}}},"/ItemCurrentInvestments({ID})":{"parameters":[{"description":"key: ID","in":"path","name":"ID","required":true,"schema":{"type":"string","format":"uuid","example":"01234567-89ab-cdef-0123-456789abcdef"}}],"get":{"summary":"Retrieves a single item current investment.","description":"The ID of the requested item current investment is required as parameter. Additionally, the standard OData parameters are supported. As response, exactly one item current investment is returned. If no item current investment with the requested ID is found in the system, the endpoint returns an appropriate error message.","tags":["Item Current Investments"],"parameters":[{"name":"$select","description":"Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["ID","subProject_ID","item_ID","version_ID","versionLabel","versionTimestamp","plannedInvestment","actualInvestment","actualInvestmentCurrency_code","forInformationInvestment","targetInvestment","approvedInvestment","additionallyRequestedInvestment","customFieldAmount1","customFieldAmount2","customFieldAmount3","customFieldAmount4","customFieldAmount5","customFieldAmount6","customFieldAmount7","customFieldAmount8","project_ID","investmentAdditionallyRequestedInvestment","investmentApprovedInvestment","investmentForInformationInvestment","investmentPlannedInvestment","investmentReferencedInvestment","investmentReferencedInvestmentDescription","investmentActualInvestment","investmentActualInvestmentCurrency_code","investmentTargetInvestment","investmentCustomFieldAmount1","investmentCustomFieldAmount2","investmentCustomFieldAmount3","investmentCustomFieldAmount4","investmentCustomFieldAmount5","investmentCustomFieldAmount6","investmentCustomFieldAmount7","investmentCustomFieldAmount8","productStructureNodesNodeName","productStructureNodesNodeType","productStructureNodesDescription","productStructureNodesSequence","productName","productStuctureNodesIsSeries","productStuctureNodesPlantName","productStuctureNodesProcurementType","productStuctureNodesPartType","productStuctureNodesQuantity","productStuctureNodesUnitOfMeasure","productStuctureNodesItemCharacteristic1","productStuctureNodesItemCharacteristic2","productStuctureNodesPackageCharacteristic","productStuctureNodesCustomFieldString1","productStuctureNodesCustomFieldString2","productStuctureNodesCustomFieldString3","productStuctureNodesCustomFieldString4","productStuctureNodesCustomFieldString5","productStuctureNodesCustomFieldString6","productStuctureNodesCustomFieldString7","productStuctureNodesCustomFieldString8","productStuctureNodesCustomFieldString9","productStuctureNodesCustomFieldString10","productStuctureNodesCustomFieldString11","productStuctureNodesCustomFieldString12","productStuctureNodesCustomFieldDate1","productStuctureNodesCustomFieldDate2","productStuctureNodesCustomFieldDate3","productStuctureNodesCustomCode1Name","productStuctureNodesCustomCode2Name","productStuctureNodesCustomCode3Name","productStuctureNodesCustomCode4Name","productStuctureNodesCustomCode5Name","sourcingTypeName","schedulingStatusName","investementStatusName","remark","schedulingRelevantName","schedulingRelevant_code","sourcingRelevantName","sourcingRelevant_code","investmentRelevantName","investmentRelevant_code","copCapacityName","copCapacity_code","referenceDate","scheduleCreatedAt","assignedPackageName","productStructureStatusName","productStructureStatus_code","productStructureUpdatedAt","assignmentProcessingStatus"]}}}],"responses":{"200":{"description":"Retrieved item current investment","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicService.ItemCurrentInvestments"}}}},"400":{"description":"Bad Request: The server cannot or will not process the request due to an apparent client error (e.g. malformed request syntax, size too large, invalid request message framing, or deceptive request routing).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error"}}}},"401":{"description":"Unauthorized: The user does not have valid authentication credentials for the target resource.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error"}}}},"403":{"description":"Forbidden: The request contained valid data and was understood by the server, but the server is refusing action. This may be due to the user not having the necessary permissions for a resource or needing an account of some sort, or attempting a prohibited action (e.g. creating a duplicate record where only one is allowed).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error"}}}},"404":{"description":"Not Found: The requested resource could not be found but may be available in the future. Subsequent requests by the client are permissible.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error"}}}},"405":{"description":"Method Not Allowed: A request method is not supported for the requested resource; for example, a GET request on a form that requires data to be presented via POST, or a PUT request on a read-only resource.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error"}}}},"406":{"description":"Not Acceptable: The requested resource is capable of generating only content not acceptable according to the Accept headers sent in the request.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error"}}}},"4XX":{"$ref":"#/components/responses/error"}}}},"/ItemInvestmentStatuses":{"get":{"summary":"Retrieves a list of item investment statuses.","description":"No specific parameters are required, but the standard OData parameters are supported. As response, a list of all item investment statuses is returned.","tags":["Item Investment Statuses"],"parameters":[{"$ref":"#/components/parameters/top"},{"$ref":"#/components/parameters/skip"},{"$ref":"#/components/parameters/search"},{"name":"$filter","description":"Filter items by property values, see [Filtering](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionfilter)","in":"query","schema":{"type":"string"}},{"$ref":"#/components/parameters/count"},{"name":"$orderby","description":"Order items by property values, see [Sorting](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionorderby)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["ID","ID desc","name","name desc","isActive","isActive desc","sortOrder","sortOrder desc","isDefaultStatus","isDefaultStatus desc"]}}},{"name":"$select","description":"Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["ID","name","isActive","sortOrder","isDefaultStatus"]}}},{"name":"$expand","description":"The value of $expand query option is a comma-separated list of navigation property names, stream property names, or $value indicating the stream content of a media-entity. The corresponding related entities and stream values will be represented inline, see [Expand](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionexpand)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["*","texts","localized"]}}}],"responses":{"200":{"description":"Retrieved item investment statuses","content":{"application/json":{"schema":{"type":"object","title":"Collection of ItemInvestmentStatuses","properties":{"@odata.count":{"$ref":"#/components/schemas/count"},"value":{"type":"array","items":{"$ref":"#/components/schemas/PublicService.ItemInvestmentStatuses"}}}}}}},"400":{"description":"Bad Request: The server cannot or will not process the request due to an apparent client error (e.g. malformed request syntax, size too large, invalid request message framing, or deceptive request routing).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error"}}}},"401":{"description":"Unauthorized: The user does not have valid authentication credentials for the target resource.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error"}}}},"403":{"description":"Forbidden: The request contained valid data and was understood by the server, but the server is refusing action. This may be due to the user not having the necessary permissions for a resource or needing an account of some sort, or attempting a prohibited action (e.g. creating a duplicate record where only one is allowed).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error"}}}},"404":{"description":"Not Found: The requested resource could not be found but may be available in the future. Subsequent requests by the client are permissible.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error"}}}},"405":{"description":"Method Not Allowed: A request method is not supported for the requested resource; for example, a GET request on a form that requires data to be presented via POST, or a PUT request on a read-only resource.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error"}}}},"406":{"description":"Not Acceptable: The requested resource is capable of generating only content not acceptable according to the Accept headers sent in the request.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error"}}}},"4XX":{"$ref":"#/components/responses/error"}}}},"/ItemInvestmentStatuses({ID})":{"parameters":[{"description":"key: ID","in":"path","name":"ID","required":true,"schema":{"type":"string","format":"uuid","example":"01234567-89ab-cdef-0123-456789abcdef"}}],"get":{"summary":"Retrieves a single item investment status.","description":"The ID of the requested item investment status is required as parameter. Additionally, the standard OData parameters are supported. As response, exactly one item investment status is returned. If no item investment status with the requested ID is found in the system, the endpoint returns an appropriate error message.","tags":["Item Investment Statuses"],"parameters":[{"name":"$select","description":"Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["ID","name","isActive","sortOrder","isDefaultStatus"]}}},{"name":"$expand","description":"The value of $expand query option is a comma-separated list of navigation property names, stream property names, or $value indicating the stream content of a media-entity. The corresponding related entities and stream values will be represented inline, see [Expand](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionexpand)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["*","texts","localized"]}}}],"responses":{"200":{"description":"Retrieved item investment status","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicService.ItemInvestmentStatuses"}}}},"400":{"description":"Bad Request: The server cannot or will not process the request due to an apparent client error (e.g. malformed request syntax, size too large, invalid request message framing, or deceptive request routing).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error"}}}},"401":{"description":"Unauthorized: The user does not have valid authentication credentials for the target resource.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error"}}}},"403":{"description":"Forbidden: The request contained valid data and was understood by the server, but the server is refusing action. This may be due to the user not having the necessary permissions for a resource or needing an account of some sort, or attempting a prohibited action (e.g. creating a duplicate record where only one is allowed).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error"}}}},"404":{"description":"Not Found: The requested resource could not be found but may be available in the future. Subsequent requests by the client are permissible.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error"}}}},"405":{"description":"Method Not Allowed: A request method is not supported for the requested resource; for example, a GET request on a form that requires data to be presented via POST, or a PUT request on a read-only resource.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error"}}}},"406":{"description":"Not Acceptable: The requested resource is capable of generating only content not acceptable according to the Accept headers sent in the request.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error"}}}},"4XX":{"$ref":"#/components/responses/error"}}}},"/ItemInvestmentVersionAndCurrentAmounts":{"get":{"summary":"Retrieves a list of item investment version and current amounts.","description":"No specific parameters are required, but the standard OData parameters are supported. As response, a list of all item investment version and current amounts is returned.","tags":["Item Investment Version And Current Amounts"],"parameters":[{"$ref":"#/components/parameters/top"},{"$ref":"#/components/parameters/skip"},{"$ref":"#/components/parameters/search"},{"name":"$filter","description":"Filter items by property values, see [Filtering](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionfilter)","in":"query","schema":{"type":"string"}},{"$ref":"#/components/parameters/count"},{"name":"$orderby","description":"Order items by property values, see [Sorting](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionorderby)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["ID","ID desc","item_ID","item_ID desc","project_ID","project_ID desc","subProject_ID","subProject_ID desc","isDeleted","isDeleted desc","version_ID","version_ID desc","versionLabel","versionLabel desc","versionTimestamp","versionTimestamp desc","plannedInvestment","plannedInvestment desc","actualInvestment","actualInvestment desc","actualInvestmentCurrency_code","actualInvestmentCurrency_code desc","forInformationInvestment","forInformationInvestment desc","targetInvestment","targetInvestment desc","approvedInvestment","approvedInvestment desc","additionallyRequestedInvestment","additionallyRequestedInvestment desc","customFieldAmount1","customFieldAmount1 desc","customFieldAmount2","customFieldAmount2 desc","customFieldAmount3","customFieldAmount3 desc","customFieldAmount4","customFieldAmount4 desc","customFieldAmount5","customFieldAmount5 desc","customFieldAmount6","customFieldAmount6 desc","customFieldAmount7","customFieldAmount7 desc","customFieldAmount8","customFieldAmount8 desc","investmentAdditionallyRequestedInvestment","investmentAdditionallyRequestedInvestment desc","investmentApprovedInvestment","investmentApprovedInvestment desc","investmentForInformationInvestment","investmentForInformationInvestment desc","investmentPlannedInvestment","investmentPlannedInvestment desc","investmentReferencedInvestment","investmentReferencedInvestment desc","investmentReferencedInvestmentDescription","investmentReferencedInvestmentDescription desc","investmentActualInvestment","investmentActualInvestment desc","investmentActualInvestmentCurrency_code","investmentActualInvestmentCurrency_code desc","investmentTargetInvestment","investmentTargetInvestment desc","investmentCustomFieldAmount1","investmentCustomFieldAmount1 desc","investmentCustomFieldAmount2","investmentCustomFieldAmount2 desc","investmentCustomFieldAmount3","investmentCustomFieldAmount3 desc","investmentCustomFieldAmount4","investmentCustomFieldAmount4 desc","investmentCustomFieldAmount5","investmentCustomFieldAmount5 desc","investmentCustomFieldAmount6","investmentCustomFieldAmount6 desc","investmentCustomFieldAmount7","investmentCustomFieldAmount7 desc","investmentCustomFieldAmount8","investmentCustomFieldAmount8 desc","productStructureNodesNodeName","productStructureNodesNodeName desc","productStructureNodesNodeType","productStructureNodesNodeType desc","productStructureNodesDescription","productStructureNodesDescription desc","productStructureNodesSequence","productStructureNodesSequence desc","productName","productName desc","productGroup_ID","productGroup_ID desc","productStuctureNodesIsSeries","productStuctureNodesIsSeries desc","productStuctureNodesPlantName","productStuctureNodesPlantName desc","productStuctureNodesProcurementType","productStuctureNodesProcurementType desc","productStuctureNodesPartType","productStuctureNodesPartType desc","productStuctureNodesQuantity","productStuctureNodesQuantity desc","productStuctureNodesUnitOfMeasure","productStuctureNodesUnitOfMeasure desc","productStuctureNodesItemCharacteristic1","productStuctureNodesItemCharacteristic1 desc","productStuctureNodesItemCharacteristic2","productStuctureNodesItemCharacteristic2 desc","productStuctureNodesPackageCharacteristic","productStuctureNodesPackageCharacteristic desc","productStuctureNodesCustomFieldString1","productStuctureNodesCustomFieldString1 desc","productStuctureNodesCustomFieldString2","productStuctureNodesCustomFieldString2 desc","productStuctureNodesCustomFieldString3","productStuctureNodesCustomFieldString3 desc","productStuctureNodesCustomFieldString4","productStuctureNodesCustomFieldString4 desc","productStuctureNodesCustomFieldString5","productStuctureNodesCustomFieldString5 desc","productStuctureNodesCustomFieldString6","productStuctureNodesCustomFieldString6 desc","productStuctureNodesCustomFieldString7","productStuctureNodesCustomFieldString7 desc","productStuctureNodesCustomFieldString8","productStuctureNodesCustomFieldString8 desc","productStuctureNodesCustomFieldString9","productStuctureNodesCustomFieldString9 desc","productStuctureNodesCustomFieldString10","productStuctureNodesCustomFieldString10 desc","productStuctureNodesCustomFieldString11","productStuctureNodesCustomFieldString11 desc","productStuctureNodesCustomFieldString12","productStuctureNodesCustomFieldString12 desc","productStuctureNodesCustomFieldDate1","productStuctureNodesCustomFieldDate1 desc","productStuctureNodesCustomFieldDate2","productStuctureNodesCustomFieldDate2 desc","productStuctureNodesCustomFieldDate3","productStuctureNodesCustomFieldDate3 desc","productStuctureNodesCustomCode1Name","productStuctureNodesCustomCode1Name desc","productStuctureNodesCustomCode2Name","productStuctureNodesCustomCode2Name desc","productStuctureNodesCustomCode3Name","productStuctureNodesCustomCode3Name desc","productStuctureNodesCustomCode4Name","productStuctureNodesCustomCode4Name desc","productStuctureNodesCustomCode5Name","productStuctureNodesCustomCode5Name desc","sourcingTypeName","sourcingTypeName desc","schedulingStatusName","schedulingStatusName desc","investementStatusName","investementStatusName desc","remark","remark desc","schedulingRelevantName","schedulingRelevantName desc","schedulingRelevant_code","schedulingRelevant_code desc","sourcingRelevantName","sourcingRelevantName desc","sourcingRelevant_code","sourcingRelevant_code desc","investmentRelevantName","investmentRelevantName desc","investmentRelevant_code","investmentRelevant_code desc","copCapacityName","copCapacityName desc","copCapacity_code","copCapacity_code desc","referenceDate","referenceDate desc","scheduleCreatedAt","scheduleCreatedAt desc","assignedPackageName","assignedPackageName desc","productStructureStatusName","productStructureStatusName desc","productStructureStatus_code","productStructureStatus_code desc","productStructureUpdatedAt","productStructureUpdatedAt desc","assignmentProcessingStatus","assignmentProcessingStatus desc","sourcingProjectID","sourcingProjectID desc","submissionDeadline","submissionDeadline desc","srcgProjLifecycleStatusCode","srcgProjLifecycleStatusCode desc"]}}},{"name":"$select","description":"Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["ID","item_ID","project_ID","subProject_ID","isDeleted","version_ID","versionLabel","versionTimestamp","plannedInvestment","actualInvestment","actualInvestmentCurrency_code","forInformationInvestment","targetInvestment","approvedInvestment","additionallyRequestedInvestment","customFieldAmount1","customFieldAmount2","customFieldAmount3","customFieldAmount4","customFieldAmount5","customFieldAmount6","customFieldAmount7","customFieldAmount8","investmentAdditionallyRequestedInvestment","investmentApprovedInvestment","investmentForInformationInvestment","investmentPlannedInvestment","investmentReferencedInvestment","investmentReferencedInvestmentDescription","investmentActualInvestment","investmentActualInvestmentCurrency_code","investmentTargetInvestment","investmentCustomFieldAmount1","investmentCustomFieldAmount2","investmentCustomFieldAmount3","investmentCustomFieldAmount4","investmentCustomFieldAmount5","investmentCustomFieldAmount6","investmentCustomFieldAmount7","investmentCustomFieldAmount8","productStructureNodesNodeName","productStructureNodesNodeType","productStructureNodesDescription","productStructureNodesSequence","productName","productGroup_ID","productStuctureNodesIsSeries","productStuctureNodesPlantName","productStuctureNodesProcurementType","productStuctureNodesPartType","productStuctureNodesQuantity","productStuctureNodesUnitOfMeasure","productStuctureNodesItemCharacteristic1","productStuctureNodesItemCharacteristic2","productStuctureNodesPackageCharacteristic","productStuctureNodesCustomFieldString1","productStuctureNodesCustomFieldString2","productStuctureNodesCustomFieldString3","productStuctureNodesCustomFieldString4","productStuctureNodesCustomFieldString5","productStuctureNodesCustomFieldString6","productStuctureNodesCustomFieldString7","productStuctureNodesCustomFieldString8","productStuctureNodesCustomFieldString9","productStuctureNodesCustomFieldString10","productStuctureNodesCustomFieldString11","productStuctureNodesCustomFieldString12","productStuctureNodesCustomFieldDate1","productStuctureNodesCustomFieldDate2","productStuctureNodesCustomFieldDate3","productStuctureNodesCustomCode1Name","productStuctureNodesCustomCode2Name","productStuctureNodesCustomCode3Name","productStuctureNodesCustomCode4Name","productStuctureNodesCustomCode5Name","sourcingTypeName","schedulingStatusName","investementStatusName","remark","schedulingRelevantName","schedulingRelevant_code","sourcingRelevantName","sourcingRelevant_code","investmentRelevantName","investmentRelevant_code","copCapacityName","copCapacity_code","referenceDate","scheduleCreatedAt","assignedPackageName","productStructureStatusName","productStructureStatus_code","productStructureUpdatedAt","assignmentProcessingStatus","sourcingProjectID","submissionDeadline","srcgProjLifecycleStatusCode"]}}},{"name":"$expand","description":"The value of $expand query option is a comma-separated list of navigation property names, stream property names, or $value indicating the stream content of a media-entity. The corresponding related entities and stream values will be represented inline, see [Expand](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionexpand)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["*","product","productGroup"]}}}],"responses":{"200":{"description":"Retrieved item investment version and current amounts","content":{"application/json":{"schema":{"type":"object","title":"Collection of ItemInvestmentVersionAndCurrentAmounts","properties":{"@odata.count":{"$ref":"#/components/schemas/count"},"value":{"type":"array","items":{"$ref":"#/components/schemas/PublicService.ItemInvestmentVersionAndCurrentAmounts"}}}}}}},"400":{"description":"Bad Request: The server cannot or will not process the request due to an apparent client error (e.g. malformed request syntax, size too large, invalid request message framing, or deceptive request routing).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error"}}}},"401":{"description":"Unauthorized: The user does not have valid authentication credentials for the target resource.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error"}}}},"403":{"description":"Forbidden: The request contained valid data and was understood by the server, but the server is refusing action. This may be due to the user not having the necessary permissions for a resource or needing an account of some sort, or attempting a prohibited action (e.g. creating a duplicate record where only one is allowed).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error"}}}},"404":{"description":"Not Found: The requested resource could not be found but may be available in the future. Subsequent requests by the client are permissible.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error"}}}},"405":{"description":"Method Not Allowed: A request method is not supported for the requested resource; for example, a GET request on a form that requires data to be presented via POST, or a PUT request on a read-only resource.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error"}}}},"406":{"description":"Not Acceptable: The requested resource is capable of generating only content not acceptable according to the Accept headers sent in the request.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error"}}}},"4XX":{"$ref":"#/components/responses/error"}}}},"/ItemInvestmentVersionAndCurrentAmounts(item_ID={item_ID},version_ID={version_ID})":{"parameters":[{"description":"key: item_ID","in":"path","name":"item_ID","required":true,"schema":{"type":"string","format":"uuid","example":"01234567-89ab-cdef-0123-456789abcdef"}},{"description":"key: version_ID","in":"path","name":"version_ID","required":true,"schema":{"type":"string","format":"uuid","example":"01234567-89ab-cdef-0123-456789abcdef"}}],"get":{"summary":"Retrieves a single item investment version and current amount.","description":"The ID of the requested item investment version and current amount is required as parameter. Additionally, the standard OData parameters are supported. As response, exactly one item investment version and current amount is returned. If no item investment version and current amount with the requested ID is found in the system, the endpoint returns an appropriate error message.","tags":["Item Investment Version And Current Amounts"],"parameters":[{"name":"$select","description":"Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["ID","item_ID","project_ID","subProject_ID","isDeleted","version_ID","versionLabel","versionTimestamp","plannedInvestment","actualInvestment","actualInvestmentCurrency_code","forInformationInvestment","targetInvestment","approvedInvestment","additionallyRequestedInvestment","customFieldAmount1","customFieldAmount2","customFieldAmount3","customFieldAmount4","customFieldAmount5","customFieldAmount6","customFieldAmount7","customFieldAmount8","investmentAdditionallyRequestedInvestment","investmentApprovedInvestment","investmentForInformationInvestment","investmentPlannedInvestment","investmentReferencedInvestment","investmentReferencedInvestmentDescription","investmentActualInvestment","investmentActualInvestmentCurrency_code","investmentTargetInvestment","investmentCustomFieldAmount1","investmentCustomFieldAmount2","investmentCustomFieldAmount3","investmentCustomFieldAmount4","investmentCustomFieldAmount5","investmentCustomFieldAmount6","investmentCustomFieldAmount7","investmentCustomFieldAmount8","productStructureNodesNodeName","productStructureNodesNodeType","productStructureNodesDescription","productStructureNodesSequence","productName","productGroup_ID","productStuctureNodesIsSeries","productStuctureNodesPlantName","productStuctureNodesProcurementType","productStuctureNodesPartType","productStuctureNodesQuantity","productStuctureNodesUnitOfMeasure","productStuctureNodesItemCharacteristic1","productStuctureNodesItemCharacteristic2","productStuctureNodesPackageCharacteristic","productStuctureNodesCustomFieldString1","productStuctureNodesCustomFieldString2","productStuctureNodesCustomFieldString3","productStuctureNodesCustomFieldString4","productStuctureNodesCustomFieldString5","productStuctureNodesCustomFieldString6","productStuctureNodesCustomFieldString7","productStuctureNodesCustomFieldString8","productStuctureNodesCustomFieldString9","productStuctureNodesCustomFieldString10","productStuctureNodesCustomFieldString11","productStuctureNodesCustomFieldString12","productStuctureNodesCustomFieldDate1","productStuctureNodesCustomFieldDate2","productStuctureNodesCustomFieldDate3","productStuctureNodesCustomCode1Name","productStuctureNodesCustomCode2Name","productStuctureNodesCustomCode3Name","productStuctureNodesCustomCode4Name","productStuctureNodesCustomCode5Name","sourcingTypeName","schedulingStatusName","investementStatusName","remark","schedulingRelevantName","schedulingRelevant_code","sourcingRelevantName","sourcingRelevant_code","investmentRelevantName","investmentRelevant_code","copCapacityName","copCapacity_code","referenceDate","scheduleCreatedAt","assignedPackageName","productStructureStatusName","productStructureStatus_code","productStructureUpdatedAt","assignmentProcessingStatus","sourcingProjectID","submissionDeadline","srcgProjLifecycleStatusCode"]}}},{"name":"$expand","description":"The value of $expand query option is a comma-separated list of navigation property names, stream property names, or $value indicating the stream content of a media-entity. The corresponding related entities and stream values will be represented inline, see [Expand](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionexpand)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["*","product","productGroup"]}}}],"responses":{"200":{"description":"Retrieved item investment version and current amount","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PublicService.ItemInvestmentVersionAndCurrentAmounts"}}}},"400":{"description":"Bad Request: The server cannot or will not process the request due to an apparent client error (e.g. malformed request syntax, size too large, invalid request message framing, or deceptive request routing).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error"}}}},"401":{"description":"Unauthorized: The user does not have valid authentication credentials for the target resource.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error"}}}},"403":{"description":"Forbidden: The request co
[...]
