{"openapi":"3.0.2","info":{"description":"# Workflow on how to export projects\n## Get a list of public projects by calling /Projects.\n## For each project\n### Open a project delta session and get the project info by calling /openProjectDeltaSession(projectId, timestampPreviousCall, exportedEntities)\n\n   * _projectId_ is the project ID property,\n   * _timestampPreviousCall_ is:\n        * null to get the full project,\n        * nextTimestamp returned by the last call to openProjectDeltaSession for this project to have the project delta from this last call.\n   * _exportedEntities_ is an optional array of ProjectDeltaSessionEntityType that can be used to define the type of objects returned by openProjectDeltaSession, or that can be retrieved from openProjectDeltaSession (\"projectMember\", \"subProjectMember\", \"package\", \"investmentVersion\", \"packageInvestmentVersionedAmount\", \"subProjectInvestmentVersionedAmount\", \"items\", \"itemVersionedAmount\", \"deletedItems\", \"subProjectScheduleMilestone\", \"scheduleElement\").\n   \n  _openProjectDeltaSession_ will return the project, its members, its public subprojects and their members, packages, investment versions, product structure assignments (BOM header assignments), subproject milestones as well as the subproject's total investment versioned amounts depending on the value of _exportedEntities_.\n  It also returns a _sessionId_, _updatedItemPageCount_, _deletedItemIdsPageCount_, _updatedPackageInvestmentVersionedAmountPageCount_ and _updatedItemInvestmentVersionedAmountPageCount_ that must be used in the following delta functions.\n ### Get all the items with their schedule elements or only the updated items (if a timestamp was provided in _openProjectDeltaSession_) by calling either:\n   * /getDeltaSubProjectItems(sessionId, pageNumber) with _sessionId_ being the _sessionId_ returned by _openProjectDeltaSession_ and pageNumber = 0 to _updatedItemPageCount_ -1 (also returned by _openProjectDeltaSession_).\n   * /ReportingProjectSessions(sessionId)/items with _sessionId_ being the _sessionId_ returned by _openProjectDeltaSession_. You can paginate the result here, select the properties you want to get, or filter the result, as it is a call to an OData entity.\n ### Get nothing (if no timestamp was provided) or the IDs of completely deleted items since the timestamp provided to _openProjectDeltaSession_ by calling either:\n   * /getDeltaDeletedItems(sessionId, pageNumber) with _sessionId_ being the _sessionId_ returned by _openProjectDeltaSession_ and pageNumber = 0 to _deletedItemIdsPageCount_ -1.\n   * /ReportingProjectSessions(sessionId)/deletedItems with _sessionId_ being the _sessionId_ returned by _openProjectDeltaSession_.\n ### Get all the package versioned amounts or only the new ones (if a timestamp was provided to _openProjectDeltaSession_) by calling either:\n   * /getDeltaPackageVersionedAmounts(sessionId, pageNumber) with _sessionId_ being the _sessionId_ returned by _openProjectDeltaSession_ and pageNumber = 0 to _updatedPackageInvestmentVersionedAmountPageCount_ -1.\n   * /ReportingProjectSessions(sessionId)/packageVersionedAmounts  with _sessionId_ being the _sessionId_ returned by _openProjectDeltaSession_.\n ### Get all the item versioned amounts or only the new ones (if a timestamp was provided to _openProjectDeltaSession_) by calling either:\n   * /getDeltaItemVersionedAmounts(sessionId, pageNumber) with _sessionId_ being the _sessionId_ returned by _openProjectDeltaSession_ and pageNumber = 0 to _updatedItemInvestmentVersionedAmountPageCount_ -1.\n   * /ReportingProjectSessions(sessionId)/itemVersionedAmounts with _sessionId_ being the _sessionId_ returned by _openProjectDeltaSession_.\n ### Close the project delta session by calling /closeProjectDeltaSession(sessionId) with _sessionId_ being the _sessionId_ returned by _openProjectDeltaSession_.\n## Get all the business configuration entities and the predefined content entities (by usual OData calls).\n### nextTimestamp\n  _openProjectDeltaSession_ returns _nextTimestamp_ that can be used the next time it will be called for the same project to get the delta changes from this date. Please note that the _nextTimestamp_ returned is not the exact time when _openProjectDeltaSession_ is called but 10 minutes before, as other transactions may have changes that are not yet committed with updates done before the time the _openProjectDeltaSession_ is called.\n### Deleted Items\n  After a BOM update in a subproject, some items may be taken out of the subproject. They will have the productStructureStatus_code = 'Deleted'. In the **Export Procurement Projects API**, these items will have isDeleted = true in _getDeltaSubProjectItems_. Items with isDeleted = true should no longer be used in aggregations of the current amounts in the subproject and packages. When these items are resolved by the user in the subproject, they will be deleted permanently. In the **Export Procurement Projects API**, their IDs will be retuned by _getDeltaDeletedItems_ and they will no longer appear in the result of _getDeltaSubProjectItems_.\n### Investment Version Deletion\n  When an investment version of a subproject is deleted, it no longer appears in the investment versions of the subproject in the output of _openProjectDeltaSession_. If you had this version in a previous call, you can delete it and also delete the item investment versioned amounts and package investment versioned amounts of this deleted version.\n# Limitations\n- You cannot send more than 1000 requests per hour or more than 10000 requests within 24 hours.\n- You cannot have more than 50 sessions open in parallel.\n- You cannot have more than 10 sessions open in parallel within 1 minute.\n- You cannot open more than 1000 sessions within 24 hours.\n\nIf this occurs, a HTTP 429 error will be returned.\n\nAfter 2 hours, an open session will be closed automatically.","version":"1.1.0","title":"Procurement Project Export","x-targetEndpoint":"https://localhost/service-root"},"x-sap-shortText":"This asynchronous service enables you to export public projects and their subprojects.","x-sap-api-type":"ODATAV4","security":[{"OAuth2":[]}],"servers":[{"url":"https://procplanning-api.cfapps.eu10.hana.ondemand.com/api/projects-reporting/v1"}],"externalDocs":{"description":"More information is available at the SAP S/4HANA for procurement planning SAP Help Portal page.","url":"https://help.sap.com/viewer/product/SAP_PROCUREMENT_PLANNING/LATEST/en-US"},"tags":[{"name":"Carry-Over Parts (COP) Capacities"},{"name":"COP Capacities Texts"},{"name":"Events"},{"name":"Events Texts"},{"name":"Handover Target Investment Codes"},{"name":"Handover Target Investment Codes Texts"},{"name":"Item Characteristics 1"},{"name":"Item Characteristics 1 Texts"},{"name":"Item Characteristics 2"},{"name":"Item Characteristics 2 Texts"},{"name":"Item Investment Statuses"},{"name":"Item Investment Statuses Texts"},{"name":"Item Scheduling Statuses"},{"name":"Item Scheduling Statuses Texts"},{"name":"Item Scheduling Templates"},{"name":"Item Scheduling Templates Texts"},{"name":"Milestones"},{"name":"Milestones Texts"},{"name":"Product Structure Statuses"},{"name":"Product Structure Statuses Texts"},{"name":"Project Statuses"},{"name":"Project Statuses Texts"},{"name":"Project Types"},{"name":"Project Types Texts"},{"name":"Projects"},{"name":"Relevance Statuses"},{"name":"Relevance Statuses Texts"},{"name":"Reporting Project Sessions"},{"name":"Role Members"},{"name":"Role Members Texts"},{"name":"Sourcing Types"},{"name":"Sourcing Types Texts"},{"name":"Subproject Item Confirmations"},{"name":"Subproject Item Confirmations Texts"},{"name":"Subproject Role Members"},{"name":"Subproject Role Members Texts"},{"name":"Subproject Scheduling Templates"},{"name":"Subproject Scheduling Templates Texts"},{"name":"Subproject Statuses"},{"name":"Subproject Statuses Texts"},{"name":"Subproject Types"},{"name":"Subproject Types Texts"},{"name":"Subprojects"},{"name":"Tasks"},{"name":"Tasks Texts"},{"name":"Timeline Elements"}],"paths":{"/CopCapacities":{"get":{"summary":"Retrieves entities from COP Capacities.","tags":["Carry-Over Parts (COP) Capacities"],"description":"No specific parameters are required, but the standard OData parameters are supported. As response, a list of all COP Capacities is returned.","parameters":[{"$ref":"#/components/parameters/top"},{"$ref":"#/components/parameters/skip"},{"$ref":"#/components/parameters/search"},{"name":"$filter","description":"Filter items by property values, see [Filtering](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionfilter)","in":"query","schema":{"type":"string"}},{"$ref":"#/components/parameters/count"},{"name":"$orderby","description":"Order items by property values, see [Sorting](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionorderby)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["code","code desc","name","name desc","sortOrder","sortOrder desc"]}}},{"name":"$select","description":"Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["code","name","sortOrder"]}}},{"name":"$expand","description":"Expand related entities, see [Expand](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionexpand)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["*","texts"]}}}],"responses":{"200":{"description":"Retrieved entities.","content":{"application/json":{"schema":{"type":"object","title":"Collection of CopCapacities","properties":{"@odata.count":{"$ref":"#/components/schemas/count"},"value":{"type":"array","items":{"$ref":"#/components/schemas/ReportingService.CopCapacities"}}}}}}},"400":{"$ref":"#/components/responses/error400"},"401":{"$ref":"#/components/responses/error401"},"403":{"$ref":"#/components/responses/error403"},"404":{"$ref":"#/components/responses/error404"},"405":{"$ref":"#/components/responses/error405"},"406":{"$ref":"#/components/responses/error406"},"4XX":{"$ref":"#/components/responses/error"}}}},"/CopCapacities('{code}')":{"parameters":[{"description":"key: code","in":"path","name":"code","required":true,"schema":{"type":"string"}}],"get":{"summary":"Retrieves specific COP Capacities using their codes.","tags":["Carry-Over Parts (COP) Capacities"],"description":"The code of the requested COP Capacity is required as parameter. Additionally, the standard OData parameters are supported. As response, exactly one COP Capacity is returned. If no COP Capacity is found in the system with the requested ID, the endpoint returns an appropriate error message.","parameters":[{"name":"$select","description":"Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["code","name","sortOrder"]}}},{"name":"$expand","description":"Expand related entities, see [Expand](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionexpand)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["*","texts"]}}}],"responses":{"200":{"description":"Retrieved entity","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReportingService.CopCapacities"}}}},"400":{"$ref":"#/components/responses/error400"},"401":{"$ref":"#/components/responses/error401"},"403":{"$ref":"#/components/responses/error403"},"404":{"$ref":"#/components/responses/error404"},"405":{"$ref":"#/components/responses/error405"},"406":{"$ref":"#/components/responses/error406"},"4XX":{"$ref":"#/components/responses/error"}}}},"/CopCapacities('{code}')/texts":{"parameters":[{"description":"key: code","in":"path","name":"code","required":true,"schema":{"type":"string","enum":["Committed","NotCommitted","NotSet"]}}],"get":{"summary":"Retrieves entities from related COP Capacities texts using their codes.","tags":["Carry-Over Parts (COP) Capacities","COP Capacities Texts"],"description":"The code of the requested COP Capacity text is required as parameter. Additionally, the standard OData parameters are supported. As response, all translations of the requested text are returned. If no COP Capacity text is found in the system with the requested code, the endpoint returns an appropriate error message.","parameters":[{"$ref":"#/components/parameters/top"},{"$ref":"#/components/parameters/skip"},{"$ref":"#/components/parameters/search"},{"name":"$filter","description":"Filter items by property values, see [Filtering](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionfilter)","in":"query","schema":{"type":"string"}},{"$ref":"#/components/parameters/count"},{"name":"$orderby","description":"Order items by property values, see [Sorting](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionorderby)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["locale","locale desc","code","code desc","name","name desc"]}}},{"name":"$select","description":"Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["locale","code","name"]}}}],"responses":{"200":{"description":"Retrieved entities","content":{"application/json":{"schema":{"type":"object","title":"Collection of CopCapacities_texts","properties":{"@odata.count":{"$ref":"#/components/schemas/count"},"value":{"type":"array","items":{"$ref":"#/components/schemas/ReportingService.CopCapacities_texts"}}}}}}},"400":{"$ref":"#/components/responses/error400"},"401":{"$ref":"#/components/responses/error401"},"403":{"$ref":"#/components/responses/error403"},"404":{"$ref":"#/components/responses/error404"},"405":{"$ref":"#/components/responses/error405"},"406":{"$ref":"#/components/responses/error406"},"4XX":{"$ref":"#/components/responses/error"}}}},"/CopCapacities_texts":{"get":{"summary":"Retrieves entities from COP Capacities texts.","tags":["COP Capacities Texts"],"description":"No specific parameters are required, but the standard OData parameters are supported. As response, a list of all COP Capacities texts is returned.","parameters":[{"$ref":"#/components/parameters/top"},{"$ref":"#/components/parameters/skip"},{"$ref":"#/components/parameters/search"},{"name":"$filter","description":"Filter items by property values, see [Filtering](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionfilter)","in":"query","schema":{"type":"string"}},{"$ref":"#/components/parameters/count"},{"name":"$orderby","description":"Order items by property values, see [Sorting](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionorderby)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["locale","locale desc","code","code desc","name","name desc"]}}},{"name":"$select","description":"Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["locale","code","name"]}}}],"responses":{"200":{"description":"Retrieved entities","content":{"application/json":{"schema":{"type":"object","title":"Collection of CopCapacities_texts","properties":{"@odata.count":{"$ref":"#/components/schemas/count"},"value":{"type":"array","items":{"$ref":"#/components/schemas/ReportingService.CopCapacities_texts"}}}}}}},"400":{"$ref":"#/components/responses/error400"},"401":{"$ref":"#/components/responses/error401"},"403":{"$ref":"#/components/responses/error403"},"404":{"$ref":"#/components/responses/error404"},"405":{"$ref":"#/components/responses/error405"},"406":{"$ref":"#/components/responses/error406"},"4XX":{"$ref":"#/components/responses/error"}}}},"/CopCapacities_texts(locale='{locale}',code='{code}')":{"parameters":[{"description":"key: locale","in":"path","name":"locale","required":true,"schema":{"type":"string","maxLength":14}},{"description":"key: code","in":"path","name":"code","required":true,"schema":{"type":"string","enum":["Committed","NotCommitted","NotSet"]}}],"get":{"summary":"Retrieves specific COP Capacities texts using their codes.","tags":["COP Capacities Texts"],"description":"The code of the requested COP Capacity text is required as parameter. Additionally, the standard OData parameters are supported. As response, exactly one translation of the requested text is returned. If no COP Capacity text is found in the system with the requested code, the endpoint returns an appropriate error message.","parameters":[{"name":"$select","description":"Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["locale","code","name"]}}}],"responses":{"200":{"description":"Retrieved entity","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReportingService.CopCapacities_texts"}}}},"400":{"$ref":"#/components/responses/error400"},"401":{"$ref":"#/components/responses/error401"},"403":{"$ref":"#/components/responses/error403"},"404":{"$ref":"#/components/responses/error404"},"405":{"$ref":"#/components/responses/error405"},"406":{"$ref":"#/components/responses/error406"},"4XX":{"$ref":"#/components/responses/error"}}}},"/Events":{"get":{"summary":"Retrieves entities from Events.","tags":["Events"],"description":"No specific parameters are required, but the standard OData parameters are supported. As response, a list of all Events is returned.","parameters":[{"$ref":"#/components/parameters/top"},{"$ref":"#/components/parameters/skip"},{"$ref":"#/components/parameters/search"},{"name":"$filter","description":"Filter items by property values, see [Filtering](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionfilter)","in":"query","schema":{"type":"string"}},{"$ref":"#/components/parameters/count"},{"name":"$orderby","description":"Order items by property values, see [Sorting](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionorderby)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["ID","ID desc","name","name desc","descr","descr desc","sortOrder","sortOrder desc","type","type desc","isActive","isActive desc"]}}},{"name":"$select","description":"Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["ID","name","descr","sortOrder","type","isActive"]}}},{"name":"$expand","description":"Expand related entities, see [Expand](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionexpand)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["*","texts"]}}}],"responses":{"200":{"description":"Retrieved entities.","content":{"application/json":{"schema":{"type":"object","title":"Collection of Events","properties":{"@odata.count":{"$ref":"#/components/schemas/count"},"value":{"type":"array","items":{"$ref":"#/components/schemas/ReportingService.Events"}}}}}}},"400":{"$ref":"#/components/responses/error400"},"401":{"$ref":"#/components/responses/error401"},"403":{"$ref":"#/components/responses/error403"},"404":{"$ref":"#/components/responses/error404"},"405":{"$ref":"#/components/responses/error405"},"406":{"$ref":"#/components/responses/error406"},"4XX":{"$ref":"#/components/responses/error"}}}},"/Events({ID})":{"parameters":[{"description":"key: ID","in":"path","name":"ID","required":true,"schema":{"type":"string","format":"uuid","example":"01234567-89ab-cdef-0123-456789abcdef"}}],"get":{"summary":"Retrieves specific entity from Events using their IDs.","tags":["Events"],"description":"The ID of the requested Event is required as parameter. Additionally, the standard OData parameters are supported. As response, exactly one Event is returned. If no Event is found in the system with the requested ID, the endpoint returns an appropriate error message.","parameters":[{"name":"$select","description":"Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["ID","name","descr","sortOrder","type","isActive"]}}},{"name":"$expand","description":"Expand related entities, see [Expand](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionexpand)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["*","texts"]}}}],"responses":{"200":{"description":"Retrieved entity","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReportingService.Events"}}}},"400":{"$ref":"#/components/responses/error400"},"401":{"$ref":"#/components/responses/error401"},"403":{"$ref":"#/components/responses/error403"},"404":{"$ref":"#/components/responses/error404"},"405":{"$ref":"#/components/responses/error405"},"406":{"$ref":"#/components/responses/error406"},"4XX":{"$ref":"#/components/responses/error"}}}},"/Events({ID})/texts":{"parameters":[{"description":"key: ID","in":"path","name":"ID","required":true,"schema":{"type":"string","format":"uuid","example":"01234567-89ab-cdef-0123-456789abcdef"}}],"get":{"summary":"Retrieves entities from related Events texts using their IDs.","tags":["Events","Events Texts"],"description":"The ID of the requested Event text is required as parameter. Additionally, the standard OData parameters are supported. As response, all translations of the requested text are returned. If no Event text is found in the system with the requested ID, the endpoint returns an appropriate error message.","parameters":[{"$ref":"#/components/parameters/top"},{"$ref":"#/components/parameters/skip"},{"$ref":"#/components/parameters/search"},{"name":"$filter","description":"Filter items by property values, see [Filtering](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionfilter)","in":"query","schema":{"type":"string"}},{"$ref":"#/components/parameters/count"},{"name":"$orderby","description":"Order items by property values, see [Sorting](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionorderby)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["locale","locale desc","name","name desc","descr","descr desc","ID","ID desc"]}}},{"name":"$select","description":"Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["locale","name","descr","ID"]}}}],"responses":{"200":{"description":"Retrieved entities","content":{"application/json":{"schema":{"type":"object","title":"Collection of Events_texts","properties":{"@odata.count":{"$ref":"#/components/schemas/count"},"value":{"type":"array","items":{"$ref":"#/components/schemas/ReportingService.Events_texts"}}}}}}},"400":{"$ref":"#/components/responses/error400"},"401":{"$ref":"#/components/responses/error401"},"403":{"$ref":"#/components/responses/error403"},"404":{"$ref":"#/components/responses/error404"},"405":{"$ref":"#/components/responses/error405"},"406":{"$ref":"#/components/responses/error406"},"4XX":{"$ref":"#/components/responses/error"}}}},"/Events_texts":{"get":{"summary":"Retrieves entities from Events texts.","tags":["Events Texts"],"description":"No specific parameters are required, but the standard OData parameters are supported. As response, a list of all Events texts is returned. ","parameters":[{"$ref":"#/components/parameters/top"},{"$ref":"#/components/parameters/skip"},{"$ref":"#/components/parameters/search"},{"name":"$filter","description":"Filter items by property values, see [Filtering](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionfilter)","in":"query","schema":{"type":"string"}},{"$ref":"#/components/parameters/count"},{"name":"$orderby","description":"Order items by property values, see [Sorting](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionorderby)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["locale","locale desc","name","name desc","descr","descr desc","ID","ID desc"]}}},{"name":"$select","description":"Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["locale","name","descr","ID"]}}}],"responses":{"200":{"description":"Retrieved entities","content":{"application/json":{"schema":{"type":"object","title":"Collection of Events_texts","properties":{"@odata.count":{"$ref":"#/components/schemas/count"},"value":{"type":"array","items":{"$ref":"#/components/schemas/ReportingService.Events_texts"}}}}}}},"400":{"$ref":"#/components/responses/error400"},"401":{"$ref":"#/components/responses/error401"},"403":{"$ref":"#/components/responses/error403"},"404":{"$ref":"#/components/responses/error404"},"405":{"$ref":"#/components/responses/error405"},"406":{"$ref":"#/components/responses/error406"},"4XX":{"$ref":"#/components/responses/error"}}}},"/Events_texts(locale='{locale}',ID={ID})":{"parameters":[{"description":"key: locale","in":"path","name":"locale","required":true,"schema":{"type":"string","maxLength":14}},{"description":"key: ID","in":"path","name":"ID","required":true,"schema":{"type":"string","format":"uuid","example":"01234567-89ab-cdef-0123-456789abcdef"}}],"get":{"summary":"Retrieves specific Events texts using their IDs.","tags":["Events Texts"],"description":"The code of the requested COP Capacity text is required as parameter. Additionally, the standard OData parameters are supported. As response, exactly one translation of the requested text is returned. If no COP Capacity text is found in the system with the requested code, the endpoint returns an appropriate error message.","parameters":[{"name":"$select","description":"Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["locale","name","descr","ID"]}}}],"responses":{"200":{"description":"Retrieved entity","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReportingService.Events_texts"}}}},"400":{"$ref":"#/components/responses/error400"},"401":{"$ref":"#/components/responses/error401"},"403":{"$ref":"#/components/responses/error403"},"404":{"$ref":"#/components/responses/error404"},"405":{"$ref":"#/components/responses/error405"},"406":{"$ref":"#/components/responses/error406"},"4XX":{"$ref":"#/components/responses/error"}}}},"/ItemCharacteristics1":{"get":{"summary":"Retrieves entities from Item Characteristics 1.","tags":["Item Characteristics 1"],"description":"No specific parameters are required, but the standard OData parameters are supported. As response, a list of all Item Characteristics 1 is returned.","parameters":[{"$ref":"#/components/parameters/top"},{"$ref":"#/components/parameters/skip"},{"$ref":"#/components/parameters/search"},{"name":"$filter","description":"Filter items by property values, see [Filtering](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionfilter)","in":"query","schema":{"type":"string"}},{"$ref":"#/components/parameters/count"},{"name":"$orderby","description":"Order items by property values, see [Sorting](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionorderby)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["ID","ID desc","name","name desc","descr","descr desc","sortOrder","sortOrder desc","isActive","isActive desc"]}}},{"name":"$select","description":"Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["ID","name","descr","sortOrder","isActive"]}}},{"name":"$expand","description":"Expand related entities, see [Expand](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionexpand)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["*","texts"]}}}],"responses":{"200":{"description":"Retrieved entities.","content":{"application/json":{"schema":{"type":"object","title":"Collection of ItemCharacteristics1","properties":{"@odata.count":{"$ref":"#/components/schemas/count"},"value":{"type":"array","items":{"$ref":"#/components/schemas/ReportingService.ItemCharacteristics1"}}}}}}},"400":{"$ref":"#/components/responses/error400"},"401":{"$ref":"#/components/responses/error401"},"403":{"$ref":"#/components/responses/error403"},"404":{"$ref":"#/components/responses/error404"},"405":{"$ref":"#/components/responses/error405"},"406":{"$ref":"#/components/responses/error406"},"4XX":{"$ref":"#/components/responses/error"}}}},"/ItemCharacteristics1({ID})":{"parameters":[{"description":"key: ID","in":"path","name":"ID","required":true,"schema":{"type":"string","format":"uuid","example":"01234567-89ab-cdef-0123-456789abcdef"}}],"get":{"summary":"Retrieves specific entity from Item Characteristics 1 using their IDs.","tags":["Item Characteristics 1"],"description":"The ID of the requested Item Characteristic 1 is required as parameter. Additionally, the standard OData parameters are supported. As response, exactly one Item Characteristic 1 is returned. If no Item Characteristic 1 is found in the system with the requested ID, the endpoint returns an appropriate error message.","parameters":[{"name":"$select","description":"Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["ID","name","descr","sortOrder","isActive"]}}},{"name":"$expand","description":"Expand related entities, see [Expand](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionexpand)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["*","texts"]}}}],"responses":{"200":{"description":"Retrieved entity","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReportingService.ItemCharacteristics1"}}}},"400":{"$ref":"#/components/responses/error400"},"401":{"$ref":"#/components/responses/error401"},"403":{"$ref":"#/components/responses/error403"},"404":{"$ref":"#/components/responses/error404"},"405":{"$ref":"#/components/responses/error405"},"406":{"$ref":"#/components/responses/error406"},"4XX":{"$ref":"#/components/responses/error"}}}},"/ItemCharacteristics1_texts":{"get":{"summary":"Retrieves entities from Item Characteristics 1 texts.","tags":["Item Characteristics 1 Texts"],"description":"No specific parameters are required, but the standard OData parameters are supported. As response, a list of all Item Characteristics 1 texts is returned.","parameters":[{"$ref":"#/components/parameters/top"},{"$ref":"#/components/parameters/skip"},{"$ref":"#/components/parameters/search"},{"name":"$filter","description":"Filter items by property values, see [Filtering](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionfilter)","in":"query","schema":{"type":"string"}},{"$ref":"#/components/parameters/count"},{"name":"$orderby","description":"Order items by property values, see [Sorting](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionorderby)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["locale","locale desc","name","name desc","descr","descr desc","ID","ID desc"]}}},{"name":"$select","description":"Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["locale","name","descr","ID"]}}}],"responses":{"200":{"description":"Retrieved entities","content":{"application/json":{"schema":{"type":"object","title":"Collection of ItemCharacteristics1_texts","properties":{"@odata.count":{"$ref":"#/components/schemas/count"},"value":{"type":"array","items":{"$ref":"#/components/schemas/ReportingService.ItemCharacteristics1_texts"}}}}}}},"400":{"$ref":"#/components/responses/error400"},"401":{"$ref":"#/components/responses/error401"},"403":{"$ref":"#/components/responses/error403"},"404":{"$ref":"#/components/responses/error404"},"405":{"$ref":"#/components/responses/error405"},"406":{"$ref":"#/components/responses/error406"},"4XX":{"$ref":"#/components/responses/error"}}}},"/ItemCharacteristics1_texts(locale='{locale}',ID={ID})":{"parameters":[{"description":"key: locale","in":"path","name":"locale","required":true,"schema":{"type":"string","maxLength":14}},{"description":"key: ID","in":"path","name":"ID","required":true,"schema":{"type":"string","format":"uuid","example":"01234567-89ab-cdef-0123-456789abcdef"}}],"get":{"summary":"Retrieves specific Item Characteristics 1 texts using their IDs.","tags":["Item Characteristics 1 Texts"],"description":"The code of the requested Item Characteristics 1 text is required as parameter. Additionally, the standard OData parameters are supported. As response, exactly one translation of the requested text is returned. If no Item Characteristics 1 text is found in the system with the requested code, the endpoint returns an appropriate error message.","parameters":[{"name":"$select","description":"Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["locale","name","descr","ID"]}}}],"responses":{"200":{"description":"Retrieved entity","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReportingService.ItemCharacteristics1_texts"}}}},"400":{"$ref":"#/components/responses/error400"},"401":{"$ref":"#/components/responses/error401"},"403":{"$ref":"#/components/responses/error403"},"404":{"$ref":"#/components/responses/error404"},"405":{"$ref":"#/components/responses/error405"},"406":{"$ref":"#/components/responses/error406"},"4XX":{"$ref":"#/components/responses/error"}}}},"/ItemCharacteristics2":{"get":{"summary":"Retrieves entities from Item Characteristics 2.","tags":["Item Characteristics 2"],"description":"No specific parameters are required, but the standard OData parameters are supported. As response, a list of all Item Characteristics 2 is returned.","parameters":[{"$ref":"#/components/parameters/top"},{"$ref":"#/components/parameters/skip"},{"$ref":"#/components/parameters/search"},{"name":"$filter","description":"Filter items by property values, see [Filtering](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionfilter)","in":"query","schema":{"type":"string"}},{"$ref":"#/components/parameters/count"},{"name":"$orderby","description":"Order items by property values, see [Sorting](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionorderby)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["ID","ID desc","name","name desc","descr","descr desc","sortOrder","sortOrder desc","isActive","isActive desc"]}}},{"name":"$select","description":"Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["ID","name","descr","sortOrder","isActive"]}}},{"name":"$expand","description":"Expand related entities, see [Expand](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionexpand)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["*","texts"]}}}],"responses":{"200":{"description":"Retrieved entities.","content":{"application/json":{"schema":{"type":"object","title":"Collection of ItemCharacteristics2","properties":{"@odata.count":{"$ref":"#/components/schemas/count"},"value":{"type":"array","items":{"$ref":"#/components/schemas/ReportingService.ItemCharacteristics2"}}}}}}},"400":{"$ref":"#/components/responses/error400"},"401":{"$ref":"#/components/responses/error401"},"403":{"$ref":"#/components/responses/error403"},"404":{"$ref":"#/components/responses/error404"},"405":{"$ref":"#/components/responses/error405"},"406":{"$ref":"#/components/responses/error406"},"4XX":{"$ref":"#/components/responses/error"}}}},"/ItemCharacteristics2({ID})":{"parameters":[{"description":"key: ID","in":"path","name":"ID","required":true,"schema":{"type":"string","format":"uuid","example":"01234567-89ab-cdef-0123-456789abcdef"}}],"get":{"summary":"Retrieves specific entity from Item Characteristics 2 using their IDs.","tags":["Item Characteristics 2"],"description":"The ID of the requested Item Characteristic 2 is required as parameter. Additionally, the standard OData parameters are supported. As response, exactly one Item Characteristic 2 is returned. If no Item Characteristic 2 is found in the system with the requested ID, the endpoint returns an appropriate error message.","parameters":[{"name":"$select","description":"Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["ID","name","descr","sortOrder","isActive"]}}},{"name":"$expand","description":"Expand related entities, see [Expand](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionexpand)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["*","texts"]}}}],"responses":{"200":{"description":"Retrieved entity","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReportingService.ItemCharacteristics2"}}}},"400":{"$ref":"#/components/responses/error400"},"401":{"$ref":"#/components/responses/error401"},"403":{"$ref":"#/components/responses/error403"},"404":{"$ref":"#/components/responses/error404"},"405":{"$ref":"#/components/responses/error405"},"406":{"$ref":"#/components/responses/error406"},"4XX":{"$ref":"#/components/responses/error"}}}},"/ItemCharacteristics2({ID})/texts":{"parameters":[{"description":"key: ID","in":"path","name":"ID","required":true,"schema":{"type":"string","format":"uuid","example":"01234567-89ab-cdef-0123-456789abcdef"}}],"get":{"summary":"Retrieves entities from related Item Characteristics 2 texts using their IDs.","tags":["Item Characteristics 2","Item Characteristics 2 Texts"],"description":"The ID of the requested Item Characteristics 2 text is required as parameter. Additionally, the standard OData parameters are supported. As response, all translations of the requested text are returned. If no Item Characteristics 2 text is found in the system with the requested ID, the endpoint returns an appropriate error message.","parameters":[{"$ref":"#/components/parameters/top"},{"$ref":"#/components/parameters/skip"},{"$ref":"#/components/parameters/search"},{"name":"$filter","description":"Filter items by property values, see [Filtering](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionfilter)","in":"query","schema":{"type":"string"}},{"$ref":"#/components/parameters/count"},{"name":"$orderby","description":"Order items by property values, see [Sorting](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionorderby)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["locale","locale desc","name","name desc","descr","descr desc","ID","ID desc"]}}},{"name":"$select","description":"Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["locale","name","descr","ID"]}}}],"responses":{"200":{"description":"Retrieved entities","content":{"application/json":{"schema":{"type":"object","title":"Collection of ItemCharacteristics2_texts","properties":{"@odata.count":{"$ref":"#/components/schemas/count"},"value":{"type":"array","items":{"$ref":"#/components/schemas/ReportingService.ItemCharacteristics2_texts"}}}}}}},"400":{"$ref":"#/components/responses/error400"},"401":{"$ref":"#/components/responses/error401"},"403":{"$ref":"#/components/responses/error403"},"404":{"$ref":"#/components/responses/error404"},"405":{"$ref":"#/components/responses/error405"},"406":{"$ref":"#/components/responses/error406"},"4XX":{"$ref":"#/components/responses/error"}}}},"/ItemCharacteristics2_texts":{"get":{"summary":"Retrieves entities from Item Characteristics 2 texts.","tags":["Item Characteristics 2 Texts"],"description":"No specific parameters are required, but the standard OData parameters are supported. As response, a list of all Item Characteristics 2 texts is returned.","parameters":[{"$ref":"#/components/parameters/top"},{"$ref":"#/components/parameters/skip"},{"$ref":"#/components/parameters/search"},{"name":"$filter","description":"Filter items by property values, see [Filtering](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionfilter)","in":"query","schema":{"type":"string"}},{"$ref":"#/components/parameters/count"},{"name":"$orderby","description":"Order items by property values, see [Sorting](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionorderby)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["locale","locale desc","name","name desc","descr","descr desc","ID","ID desc"]}}},{"name":"$select","description":"Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["locale","name","descr","ID"]}}}],"responses":{"200":{"description":"Retrieved entities","content":{"application/json":{"schema":{"type":"object","title":"Collection of ItemCharacteristics2_texts","properties":{"@odata.count":{"$ref":"#/components/schemas/count"},"value":{"type":"array","items":{"$ref":"#/components/schemas/ReportingService.ItemCharacteristics2_texts"}}}}}}},"400":{"$ref":"#/components/responses/error400"},"401":{"$ref":"#/components/responses/error401"},"403":{"$ref":"#/components/responses/error403"},"404":{"$ref":"#/components/responses/error404"},"405":{"$ref":"#/components/responses/error405"},"406":{"$ref":"#/components/responses/error406"},"4XX":{"$ref":"#/components/responses/error"}}}},"/ItemCharacteristics2_texts(locale='{locale}',ID={ID})":{"parameters":[{"description":"key: locale","in":"path","name":"locale","required":true,"schema":{"type":"string","maxLength":14}},{"description":"key: ID","in":"path","name":"ID","required":true,"schema":{"type":"string","format":"uuid","example":"01234567-89ab-cdef-0123-456789abcdef"}}],"get":{"summary":"Retrieves specific Item Characteristics 2 texts using their IDs.","tags":["Item Characteristics 2 Texts"],"description":"The ID of the requested Item Characteristics 2 text is required as parameter. Additionally, the standard OData parameters are supported. As response, exactly one translation of the requested text is returned. If no Item Characteristics 2 text is found in the system with the requested ID, the endpoint returns an appropriate error message.","parameters":[{"name":"$select","description":"Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["locale","name","descr","ID"]}}}],"responses":{"200":{"description":"Retrieved entity","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReportingService.ItemCharacteristics2_texts"}}}},"400":{"$ref":"#/components/responses/error400"},"401":{"$ref":"#/components/responses/error401"},"403":{"$ref":"#/components/responses/error403"},"404":{"$ref":"#/components/responses/error404"},"405":{"$ref":"#/components/responses/error405"},"406":{"$ref":"#/components/responses/error406"},"4XX":{"$ref":"#/components/responses/error"}}}},"/ItemInvestmentStatuses":{"get":{"summary":"Retrieves entities from Item Investment Statuses.","tags":["Item Investment Statuses"],"description":"No specific parameters are required, but the standard OData parameters are supported. As response, a list of all Item Investment Statuses is returned.","parameters":[{"$ref":"#/components/parameters/top"},{"$ref":"#/components/parameters/skip"},{"$ref":"#/components/parameters/search"},{"name":"$filter","description":"Filter items by property values, see [Filtering](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionfilter)","in":"query","schema":{"type":"string"}},{"$ref":"#/components/parameters/count"},{"name":"$orderby","description":"Order items by property values, see [Sorting](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionorderby)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["ID","ID desc","name","name desc","isDefaultStatus","isDefaultStatus desc","sortOrder","sortOrder desc","isActive","isActive desc"]}}},{"name":"$select","description":"Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["ID","name","isDefaultStatus","sortOrder","isActive"]}}},{"name":"$expand","description":"Expand related entities, see [Expand](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionexpand)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["*","texts"]}}}],"responses":{"200":{"description":"Retrieved entities.","content":{"application/json":{"schema":{"type":"object","title":"Collection of ItemInvestmentStatuses","properties":{"@odata.count":{"$ref":"#/components/schemas/count"},"value":{"type":"array","items":{"$ref":"#/components/schemas/ReportingService.ItemInvestmentStatuses"}}}}}}},"400":{"$ref":"#/components/responses/error400"},"401":{"$ref":"#/components/responses/error401"},"403":{"$ref":"#/components/responses/error403"},"404":{"$ref":"#/components/responses/error404"},"405":{"$ref":"#/components/responses/error405"},"406":{"$ref":"#/components/responses/error406"},"4XX":{"$ref":"#/components/responses/error"}}}},"/ItemInvestmentStatuses({ID})":{"parameters":[{"description":"key: ID","in":"path","name":"ID","required":true,"schema":{"type":"string","format":"uuid","example":"01234567-89ab-cdef-0123-456789abcdef"}}],"get":{"summary":"Retrieves specific entity from Item Investment Statuses using their IDs.","tags":["Item Investment Statuses"],"description":"The ID of the requested Item Investment Status is required as parameter. Additionally, the standard OData parameters are supported. As response, exactly one Item Investment Status is returned. If no Item Investment Status is found in the system with the requested ID, the endpoint returns an appropriate error message.","parameters":[{"name":"$select","description":"Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["ID","name","isDefaultStatus","sortOrder","isActive"]}}},{"name":"$expand","description":"Expand related entities, see [Expand](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionexpand)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["*","texts"]}}}],"responses":{"200":{"description":"Retrieved entity","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReportingService.ItemInvestmentStatuses"}}}},"400":{"$ref":"#/components/responses/error400"},"401":{"$ref":"#/components/responses/error401"},"403":{"$ref":"#/components/responses/error403"},"404":{"$ref":"#/components/responses/error404"},"405":{"$ref":"#/components/responses/error405"},"406":{"$ref":"#/components/responses/error406"},"4XX":{"$ref":"#/components/responses/error"}}}},"/ItemInvestmentStatuses({ID})/texts":{"parameters":[{"description":"key: ID","in":"path","name":"ID","required":true,"schema":{"type":"string","format":"uuid","example":"01234567-89ab-cdef-0123-456789abcdef"}}],"get":{"summary":"Retrieves entities from related Item Investment Statuses texts using their IDs.","tags":["Item Investment Statuses","Item Investment Statuses Texts"],"description":"The ID of the requested Item Investment Status text is required as parameter. Additionally, the standard OData parameters are supported. As response, all translations of the requested text are returned. If no Item Investment Status text is found in the system with the requested ID, the endpoint returns an appropriate error message.","parameters":[{"$ref":"#/components/parameters/top"},{"$ref":"#/components/parameters/skip"},{"$ref":"#/components/parameters/search"},{"name":"$filter","description":"Filter items by property values, see [Filtering](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionfilter)","in":"query","schema":{"type":"string"}},{"$ref":"#/components/parameters/count"},{"name":"$orderby","description":"Order items by property values, see [Sorting](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionorderby)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["locale","locale desc","ID","ID desc","name","name desc"]}}},{"name":"$select","description":"Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["locale","ID","name"]}}}],"responses":{"200":{"description":"Retrieved entities","content":{"application/json":{"schema":{"type":"object","title":"Collection of ItemInvestmentStatuses_texts","properties":{"@odata.count":{"$ref":"#/components/schemas/count"},"value":{"type":"array","items":{"$ref":"#/components/schemas/ReportingService.ItemInvestmentStatuses_texts"}}}}}}},"400":{"$ref":"#/components/responses/error400"},"401":{"$ref":"#/components/responses/error401"},"403":{"$ref":"#/components/responses/error403"},"404":{"$ref":"#/components/responses/error404"},"405":{"$ref":"#/components/responses/error405"},"406":{"$ref":"#/components/responses/error406"},"4XX":{"$ref":"#/components/responses/error"}}}},"/ItemInvestmentStatuses_texts":{"get":{"summary":"Retrieves entities from Item Investment Statuses texts.","tags":["Item Investment Statuses Texts"],"description":"No specific parameters are required, but the standard OData parameters are supported. As response, a list of all Item Investment Statuses texts is returned.","parameters":[{"$ref":"#/components/parameters/top"},{"$ref":"#/components/parameters/skip"},{"$ref":"#/components/parameters/search"},{"name":"$filter","description":"Filter items by property values, see [Filtering](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionfilter)","in":"query","schema":{"type":"string"}},{"$ref":"#/components/parameters/count"},{"name":"$orderby","description":"Order items by property values, see [Sorting](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionorderby)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["locale","locale desc","ID","ID desc","name","name desc"]}}},{"name":"$select","description":"Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["locale","ID","name"]}}}],"responses":{"200":{"description":"Retrieved entities","content":{"application/json":{"schema":{"type":"object","title":"Collection of ItemInvestmentStatuses_texts","properties":{"@odata.count":{"$ref":"#/components/schemas/count"},"value":{"type":"array","items":{"$ref":"#/components/schemas/ReportingService.ItemInvestmentStatuses_texts"}}}}}}},"400":{"$ref":"#/components/responses/error400"},"401":{"$ref":"#/components/responses/error401"},"403":{"$ref":"#/components/responses/error403"},"404":{"$ref":"#/components/responses/error404"},"405":{"$ref":"#/components/responses/error405"},"406":{"$ref":"#/components/responses/error406"},"4XX":{"$ref":"#/components/responses/error"}}}},"/ItemInvestmentStatuses_texts(locale='{locale}',ID={ID})":{"parameters":[{"description":"key: locale","in":"path","name":"locale","required":true,"schema":{"type":"string","maxLength":14}},{"description":"key: ID","in":"path","name":"ID","required":true,"schema":{"type":"string","format":"uuid","example":"01234567-89ab-cdef-0123-456789abcdef"}}],"get":{"summary":"Retrieves specific Item Investment Statuses texts using their IDs.","tags":["Item Investment Statuses Texts"],"description":"The ID of the requested Item Investment Status text is required as parameter. Additionally, the standard OData parameters are supported. As response, exactly one translation of the requested text is returned. If no Item Investment Status text is found in the system with the requested ID, the endpoint returns an appropriate error message.","parameters":[{"name":"$select","description":"Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["locale","ID","name"]}}}],"responses":{"200":{"description":"Retrieved entity","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReportingService.ItemInvestmentStatuses_texts"}}}},"400":{"$ref":"#/components/responses/error400"},"401":{"$ref":"#/components/responses/error401"},"403":{"$ref":"#/components/responses/error403"},"404":{"$ref":"#/components/responses/error404"},"405":{"$ref":"#/components/responses/error405"},"406":{"$ref":"#/components/responses/error406"},"4XX":{"$ref":"#/components/responses/error"}}}},"/ItemSchedulingStatuses":{"get":{"summary":"Retrieves entities from Item Scheduling Statuses.","tags":["Item Scheduling Statuses"],"description":"No specific parameters are required, but the standard OData parameters are supported. As response, a list of all Item Scheduling Statuses is returned.","parameters":[{"$ref":"#/components/parameters/top"},{"$ref":"#/components/parameters/skip"},{"$ref":"#/components/parameters/search"},{"name":"$filter","description":"Filter items by property values, see [Filtering](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionfilter)","in":"query","schema":{"type":"string"}},{"$ref":"#/components/parameters/count"},{"name":"$orderby","description":"Order items by property values, see [Sorting](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionorderby)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["ID","ID desc","name","name desc","isDefaultStatus","isDefaultStatus desc","sortOrder","sortOrder desc","isActive","isActive desc"]}}},{"name":"$select","description":"Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["ID","name","isDefaultStatus","sortOrder","isActive"]}}},{"name":"$expand","description":"Expand related entities, see [Expand](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionexpand)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["*","texts"]}}}],"responses":{"200":{"description":"Retrieved entities.","content":{"application/json":{"schema":{"type":"object","title":"Collection of ItemSchedulingStatuses","properties":{"@odata.count":{"$ref":"#/components/schemas/count"},"value":{"type":"array","items":{"$ref":"#/components/schemas/ReportingService.ItemSchedulingStatuses"}}}}}}},"400":{"$ref":"#/components/responses/error400"},"401":{"$ref":"#/components/responses/error401"},"403":{"$ref":"#/components/responses/error403"},"404":{"$ref":"#/components/responses/error404"},"405":{"$ref":"#/components/responses/error405"},"406":{"$ref":"#/components/responses/error406"},"4XX":{"$ref":"#/components/responses/error"}}}},"/ItemSchedulingStatuses({ID})":{"parameters":[{"description":"key: ID","in":"path","name":"ID","required":true,"schema":{"type":"string","format":"uuid","example":"01234567-89ab-cdef-0123-456789abcdef"}}],"get":{"summary":"Retrieves specific entity from Item Scheduling Statuses using their IDs.","tags":["Item Scheduling Statuses"],"description":"The ID of the requested Item Scheduling Status is required as parameter. Additionally, the standard OData parameters are supported. As response, exactly one Item Scheduling Status is returned. If no Item Scheduling Status is found in the system with the requested ID, the endpoint returns an appropriate error message.","parameters":[{"name":"$select","description":"Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["ID","name","isDefaultStatus","sortOrder","isActive"]}}},{"name":"$expand","description":"Expand related entities, see [Expand](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionexpand)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["*","texts"]}}}],"responses":{"200":{"description":"Retrieved entity","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReportingService.ItemSchedulingStatuses"}}}},"400":{"$ref":"#/components/responses/error400"},"401":{"$ref":"#/components/responses/error401"},"403":{"$ref":"#/components/responses/error403"},"404":{"$ref":"#/components/responses/error404"},"405":{"$ref":"#/components/responses/error405"},"406":{"$ref":"#/components/responses/error406"},"4XX":{"$ref":"#/components/responses/error"}}}},"/ItemSchedulingStatuses({ID})/texts":{"parameters":[{"description":"key: ID","in":"path","name":"ID","required":true,"schema":{"type":"string","format":"uuid","example":"01234567-89ab-cdef-0123-456789abcdef"}}],"get":{"summary":"Retrieves entities from related Item Scheduling Statuses texts using their IDs.","tags":["Item Scheduling Statuses","Item Scheduling Statuses Texts"],"description":"The ID of the requested Item Scheduling Status text is required as parameter. Additionally, the standard OData parameters are supported. As response, all translations of the requested text are returned. If no Item Scheduling Status text is found in the system with the requested ID, the endpoint returns an appropriate error message.","parameters":[{"$ref":"#/components/parameters/top"},{"$ref":"#/components/parameters/skip"},{"$ref":"#/components/parameters/search"},{"name":"$filter","description":"Filter items by property values, see [Filtering](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionfilter)","in":"query","schema":{"type":"string"}},{"$ref":"#/components/parameters/count"},{"name":"$orderby","description":"Order items by property values, see [Sorting](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionorderby)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["locale","locale desc","ID","ID desc","name","name desc"]}}},{"name":"$select","description":"Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["locale","ID","name"]}}}],"responses":{"200":{"description":"Retrieved entities","content":{"application/json":{"schema":{"type":"object","title":"Collection of ItemSchedulingStatuses_texts","properties":{"@odata.count":{"$ref":"#/components/schemas/count"},"value":{"type":"array","items":{"$ref":"#/components/schemas/ReportingService.ItemSchedulingStatuses_texts"}}}}}}},"400":{"$ref":"#/components/responses/error400"},"401":{"$ref":"#/components/responses/error401"},"403":{"$ref":"#/components/responses/error403"},"404":{"$ref":"#/components/responses/error404"},"405":{"$ref":"#/components/responses/error405"},"406":{"$ref":"#/components/responses/error406"},"4XX":{"$ref":"#/components/responses/error"}}}},"/ItemSchedulingStatuses_texts":{"get":{"summary":"Retrieves entities from Item Scheduling Statuses texts.","tags":["Item Scheduling Statuses Texts"],"description":"No specific parameters are required, but the standard OData parameters are supported. As response, a list of all Item Scheduling Statuses texts is returned.","parameters":[{"$ref":"#/components/parameters/top"},{"$ref":"#/components/parameters/skip"},{"$ref":"#/components/parameters/search"},{"name":"$filter","description":"Filter items by property values, see [Filtering](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionfilter)","in":"query","schema":{"type":"string"}},{"$ref":"#/components/parameters/count"},{"name":"$orderby","description":"Order items by property values, see [Sorting](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionorderby)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["locale","locale desc","ID","ID desc","name","name desc"]}}},{"name":"$select","description":"Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["locale","ID","name"]}}}],"responses":{"200":{"description":"Retrieved entities","content":{"application/json":{"schema":{"type":"object","title":"Collection of ItemSchedulingStatuses_texts","properties":{"@odata.count":{"$ref":"#/components/schemas/count"},"value":{"type":"array","items":{"$ref":"#/components/schemas/ReportingService.ItemSchedulingStatuses_texts"}}}}}}},"400":{"$ref":"#/components/responses/error400"},"401":{"$ref":"#/components/responses/error401"},"403":{"$ref":"#/components/responses/error403"},"404":{"$ref":"#/components/responses/error404"},"405":{"$ref":"#/components/responses/error405"},"406":{"$ref":"#/components/responses/error406"},"4XX":{"$ref":"#/components/responses/error"}}}},"/ItemSchedulingStatuses_texts(locale='{locale}',ID={ID})":{"parameters":[{"description":"key: locale","in":"path","name":"locale","required":true,"schema":{"type":"string","maxLength":14}},{"description":"key: ID","in":"path","name":"ID","required":true,"schema":{"type":"string","format":"uuid","example":"01234567-89ab-cdef-0123-456789abcdef"}}],"get":{"summary":"Retrieves specific Item Scheduling Statuses texts using their ID.","tags":["Item Scheduling Statuses Texts"],"description":"The ID of the requested Item Scheduling Status text is required as parameter. Additionally, the standard OData parameters are supported. As response, exactly one translation of the requested text is returned. If no Item Scheduling Status text is found in the system with the requested ID, the endpoint returns an appropriate error message.","parameters":[{"name":"$select","description":"Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["locale","ID","name"]}}}],"responses":{"200":{"description":"Retrieved entity","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReportingService.ItemSchedulingStatuses_texts"}}}},"400":{"$ref":"#/components/responses/error400"},"401":{"$ref":"#/components/responses/error401"},"403":{"$ref":"#/components/responses/error403"},"404":{"$ref":"#/components/responses/error404"},"405":{"$ref":"#/components/responses/error405"},"406":{"$ref":"#/components/responses/error406"},"4XX":{"$ref":"#/components/responses/error"}}}},"/ItemSchedulingTemplates":{"get":{"summary":"Retrieves entities from Item Scheduling Templates.","tags":["Item Scheduling Templates"],"description":"No specific parameters are required, but the standard OData parameters are supported. As response, a list of all Item Scheduling Templates is returned.","parameters":[{"$ref":"#/components/parameters/top"},{"$ref":"#/components/parameters/skip"},{"$ref":"#/components/parameters/search"},{"name":"$filter","description":"Filter items by property values, see [Filtering](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionfilter)","in":"query","schema":{"type":"string"}},{"$ref":"#/components/parameters/count"},{"name":"$orderby","description":"Order items by property values, see [Sorting](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionorderby)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["ID","ID desc","name","name desc","descr","descr desc","isActive","isActive desc"]}}},{"name":"$select","description":"Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["ID","name","descr","isActive"]}}},{"name":"$expand","description":"Expand related entities, see [Expand](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionexpand)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["*","texts"]}}}],"responses":{"200":{"description":"Retrieved entities.","content":{"application/json":{"schema":{"type":"object","title":"Collection of ItemSchedulingTemplates","properties":{"@odata.count":{"$ref":"#/components/schemas/count"},"value":{"type":"array","items":{"$ref":"#/components/schemas/ReportingService.ItemSchedulingTemplates"}}}}}}},"400":{"$ref":"#/components/responses/error400"},"401":{"$ref":"#/components/responses/error401"},"403":{"$ref":"#/components/responses/error403"},"404":{"$ref":"#/components/responses/error404"},"405":{"$ref":"#/components/responses/error405"},"406":{"$ref":"#/components/responses/error406"},"4XX":{"$ref":"#/components/responses/error"}}}},"/ItemSchedulingTemplates({ID})":{"parameters":[{"description":"key: ID","in":"path","name":"ID","required":true,"schema":{"type":"string","format":"uuid","example":"01234567-89ab-cdef-0123-456789abcdef"}}],"get":{"summary":"Retrieves specific entity from Item Scheduling Templates using their IDs.","tags":["Item Scheduling Templates"],"description":"The ID of the requested Item Scheduling Template is required as parameter. Additionally, the standard OData parameters are supported. As response, exactly one Item Scheduling Template is returned. If no Item Scheduling Template is found in the system with the requested ID, the endpoint returns an appropriate error message.","parameters":[{"name":"$select","description":"Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["ID","name","descr","isActive"]}}},{"name":"$expand","description":"Expand related entities, see [Expand](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionexpand)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["*","texts"]}}}],"responses":{"200":{"description":"Retrieved entity","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReportingService.ItemSchedulingTemplates"}}}},"400":{"$ref":"#/components/responses/error400"},"401":{"$ref":"#/components/responses/error401"},"403":{"$ref":"#/components/responses/error403"},"404":{"$ref":"#/components/responses/error404"},"405":{"$ref":"#/components/responses/error405"},"406":{"$ref":"#/components/responses/error406"},"4XX":{"$ref":"#/components/responses/error"}}}},"/ItemSchedulingTemplates({ID})/texts":{"parameters":[{"description":"key: ID","in":"path","name":"ID","required":true,"schema":{"type":"string","format":"uuid","example":"01234567-89ab-cdef-0123-456789abcdef"}}],"get":{"summary":"Retrieves entities from related Item Scheduling Templates texts using their IDs.","tags":["Item Scheduling Templates","Item Scheduling Templates Texts"],"description":"The ID of the requested Item Scheduling Template text is required as parameter. Additionally, the standard OData parameters are supported. As response, all translations of the requested text are returned. If no Item Scheduling Template text is found in the system with the requested ID, the endpoint returns an appropriate error message.","parameters":[{"$ref":"#/components/parameters/top"},{"$ref":"#/components/parameters/skip"},{"$ref":"#/components/parameters/search"},{"name":"$filter","description":"Filter items by property values, see [Filtering](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionfilter)","in":"query","schema":{"type":"string"}},{"$ref":"#/components/parameters/count"},{"name":"$orderby","description":"Order items by property values, see [Sorting](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionorderby)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["locale","locale desc","name","name desc","descr","descr desc","ID","ID desc"]}}},{"name":"$select","description":"Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["locale","name","descr","ID"]}}}],"responses":{"200":{"description":"Retrieved entities","content":{"application/json":{"schema":{"type":"object","title":"Collection of ItemSchedulingTemplates_texts","properties":{"@odata.count":{"$ref":"#/components/schemas/count"},"value":{"type":"array","items":{"$ref":"#/components/schemas/ReportingService.ItemSchedulingTemplates_texts"}}}}}}},"400":{"$ref":"#/components/responses/error400"},"401":{"$ref":"#/components/responses/error401"},"403":{"$ref":"#/components/responses/error403"},"404":{"$ref":"#/components/responses/error404"},"405":{"$ref":"#/components/responses/error405"},"406":{"$ref":"#/components/responses/error406"},"4XX":{"$ref":"#/components/responses/error"}}}},"/ItemSchedulingTemplates_texts":{"get":{"summary":"Retrieves entities from Item Scheduling Templates texts.","tags":["Item Scheduling Templates Texts"],"description":"No specific parameters are required, but the standard OData parameters are supported. As response, a list of all Item Scheduling Templates texts is returned.","parameters":[{"$ref":"#/components/parameters/top"},{"$ref":"#/components/parameters/skip"},{"$ref":"#/components/parameters/search"},{"name":"$filter","description":"Filter items by property values, see [Filtering](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionfilter)","in":"query","schema":{"type":"string"}},{"$ref":"#/components/parameters/count"},{"name":"$orderby","description":"Order items by property values, see [Sorting](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionorderby)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["locale","locale desc","name","name desc","descr","descr desc","ID","ID desc"]}}},{"name":"$select","description":"Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["locale","name","descr","ID"]}}}],"responses":{"200":{"description":"Retrieved entities","content":{"application/json":{"schema":{"type":"object","title":"Collection of Item Scheduling Templates texts","properties":{"@odata.count":{"$ref":"#/components/schemas/count"},"value":{"type":"array","items":{"$ref":"#/components/schemas/ReportingService.ItemSchedulingTemplates_texts"}}}}}}},"400":{"$ref":"#/components/responses/error400"},"401":{"$ref":"#/components/responses/error401"},"403":{"$ref":"#/components/responses/error403"},"404":{"$ref":"#/components/responses/error404"},"405":{"$ref":"#/components/responses/error405"},"406":{"$ref":"#/components/responses/error406"},"4XX":{"$ref":"#/components/responses/error"}}}},"/ItemSchedulingTemplates_texts(locale='{locale}',ID={ID})":{"parameters":[{"description":"key: locale","in":"path","name":"locale","required":true,"schema":{"type":"string","maxLength":14}},{"description":"key: ID","in":"path","name":"ID","required":true,"schema":{"type":"string","format":"uuid","example":"01234567-89ab-cdef-0123-456789abcdef"}}],"get":{"summary":"Retrieves specific Item Scheduling Templates texts using their IDs.","tags":["Item Scheduling Templates Texts"],"description":"The ID of the requested Item Scheduling Template text is required as parameter. Additionally, the standard OData parameters are supported. As response, exactly one translation of the requested text is returned. If no Item Scheduling Template text is found in the system with the requested ID, the endpoint returns an appropriate error message.","parameters":[{"name":"$select","description":"Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["locale","name","descr","ID"]}}}],"responses":{"200":{"description":"Retrieved entity","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReportingService.ItemSchedulingTemplates_texts"}}}},"400":{"$ref":"#/components/responses/error400"},"401":{"$ref":"#/components/responses/error401"},"403":{"$ref":"#/components/responses/error403"},"404":{"$ref":"#/components/responses/error404"},"405":{"$ref":"#/components/responses/error405"},"406":{"$ref":"#/components/responses/error406"},"4XX":{"$ref":"#/components/responses/error"}}}},"/Milestones":{"get":{"summary":"Retrieves entities from Milestones.","tags":["Milestones"],"description":"No specific parameters are required, but the standard OData parameters are supported. As response, a list of all Milestones is returned.","parameters":[{"$ref":"#/components/parameters/top"},{"$ref":"#/components/parameters/skip"},{"$ref":"#/components/parameters/search"},{"name":"$filter","description":"Filter items by property values, see [Filtering](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionfilter)","in":"query","schema":{"type":"string"}},{"$ref":"#/components/parameters/count"},{"name":"$orderby","description":"Order items by property values, see [Sorting](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionorderby)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["ID","ID desc","name","name desc","descr","descr desc","sortOrder","sortOrder desc","isStartOfBackwardCalculation","isStartOfBackwardCalculation desc","isActive","isActive desc"]}}},{"name":"$select","description":"Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["ID","name","descr","sortOrder","isStartOfBackwardCalculation","isActive"]}}},{"name":"$expand","description":"Expand related entities, see [Expand](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionexpand)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["*","texts"]}}}],"responses":{"200":{"description":"Retrieved entities.","content":{"application/json":{"schema":{"type":"object","title":"Collection of Milestones","properties":{"@odata.count":{"$ref":"#/components/schemas/count"},"value":{"type":"array","items":{"$ref":"#/components/schemas/ReportingService.Milestones"}}}}}}},"400":{"$ref":"#/components/responses/error400"},"401":{"$ref":"#/components/responses/error401"},"403":{"$ref":"#/components/responses/error403"},"404":{"$ref":"#/components/responses/error404"},"405":{"$ref":"#/components/responses/error405"},"406":{"$ref":"#/components/responses/error406"},"4XX":{"$ref":"#/components/responses/error"}}}},"/Milestones({ID})":{"parameters":[{"description":"key: ID","in":"path","name":"ID","required":true,"schema":{"type":"string","format":"uuid","example":"01234567-89ab-cdef-0123-456789abcdef"}}],"get":{"summary":"Retrieves specific entity from Milestones using their IDs.","tags":["Milestones"],"description":"The ID of the requested Milestone is required as parameter. Additionally, the standard OData parameters are supported. As response, exactly one Milestone is returned. If no Milestone is found in the system with the requested ID, the endpoint returns an appropriate error message.","parameters":[{"name":"$select","description":"Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["ID","name","descr","sortOrder","isStartOfBackwardCalculation","isActive"]}}},{"name":"$expand","description":"Expand related entities, see [Expand](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionexpand)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["*","texts"]}}}],"responses":{"200":{"description":"Retrieved entity","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReportingService.Milestones"}}}},"400":{"$ref":"#/components/responses/error400"},"401":{"$ref":"#/components/responses/error401"},"403":{"$ref":"#/components/responses/error403"},"404":{"$ref":"#/components/responses/error404"},"405":{"$ref":"#/components/responses/error405"},"406":{"$ref":"#/components/responses/error406"},"4XX":{"$ref":"#/components/responses/error"}}}},"/Milestones({ID})/texts":{"parameters":[{"description":"key: ID","in":"path","name":"ID","required":true,"schema":{"type":"string","format":"uuid","example":"01234567-89ab-cdef-0123-456789abcdef"}}],"get":{"summary":"Retrieves entities from related Milestones texts using their IDs.","tags":["Milestones","Milestones Texts"],"description":"The ID of the requested Milestone text is required as parameter. Additionally, the standard OData parameters are supported. As response, all translations of the requested text are returned. If no Milestone text is found in the system with the requested ID, the endpoint returns an appropriate error message.","parameters":[{"$ref":"#/components/parameters/top"},{"$ref":"#/components/parameters/skip"},{"$ref":"#/components/parameters/search"},{"name":"$filter","description":"Filter items by property values, see [Filtering](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionfilter)","in":"query","schema":{"type":"string"}},{"$ref":"#/components/parameters/count"},{"name":"$orderby","description":"Order items by property values, see [Sorting](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionorderby)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["locale","locale desc","name","name desc","descr","descr desc","ID","ID desc"]}}},{"name":"$select","description":"Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["locale","name","descr","ID"]}}}],"responses":{"200":{"description":"Retrieved entities","content":{"application/json":{"schema":{"type":"object","title":"Collection of Milestones_texts","properties":{"@odata.count":{"$ref":"#/components/schemas/count"},"value":{"type":"array","items":{"$ref":"#/components/schemas/ReportingService.Milestones_texts"}}}}}}},"400":{"$ref":"#/components/responses/error400"},"401":{"$ref":"#/components/responses/error401"},"403":{"$ref":"#/components/responses/error403"},"404":{"$ref":"#/components/responses/error404"},"405":{"$ref":"#/components/responses/error405"},"406":{"$ref":"#/components/responses/error406"},"4XX":{"$ref":"#/components/responses/error"}}}},"/Milestones_texts":{"get":{"summary":"Retrieves entities from Milestones texts.","tags":["Milestones Texts"],"description":"No specific parameters are required, but the standard OData parameters are supported. As response, a list of all Milestones texts is returned.","parameters":[{"$ref":"#/components/parameters/top"},{"$ref":"#/components/parameters/skip"},{"$ref":"#/components/parameters/search"},{"name":"$filter","description":"Filter items by property values, see [Filtering](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionfilter)","in":"query","schema":{"type":"string"}},{"$ref":"#/components/parameters/count"},{"name":"$orderby","description":"Order items by property values, see [Sorting](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionorderby)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["locale","locale desc","name","name desc","descr","descr desc","ID","ID desc"]}}},{"name":"$select","description":"Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["locale","name","descr","ID"]}}}],"responses":{"200":{"description":"Retrieved entities","content":{"application/json":{"schema":{"type":"object","title":"Collection of Milestones_texts","properties":{"@odata.count":{"$ref":"#/components/schemas/count"},"value":{"type":"array","items":{"$ref":"#/components/schemas/ReportingService.Milestones_texts"}}}}}}},"400":{"$ref":"#/components/responses/error400"},"401":{"$ref":"#/components/responses/error401"},"403":{"$ref":"#/components/responses/error403"},"404":{"$ref":"#/components/responses/error404"},"405":{"$ref":"#/components/responses/error405"},"406":{"$ref":"#/components/responses/error406"},"4XX":{"$ref":"#/components/responses/error"}}}},"/Milestones_texts(locale='{locale}',ID={ID})":{"parameters":[{"description":"key: locale","in":"path","name":"locale","required":true,"schema":{"type":"string","maxLength":14}},{"description":"key: ID","in":"path","name":"ID","required":true,"schema":{"type":"string","format":"uuid","example":"01234567-89ab-cdef-0123-456789abcdef"}}],"get":{"summary":"Retrieves specific Milestones texts using their IDs.","tags":["Milestones Texts"],"description":"The ID of the requested Milestone text is required as parameter. Additionally, the standard OData parameters are supported. As response, exactly one translation of the requested text is returned. If no Milestone text is found in the system with the requested ID, the endpoint returns an appropriate error message.","parameters":[{"name":"$select","description":"Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["locale","name","descr","ID"]}}}],"responses":{"200":{"description":"Retrieved entity","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReportingService.Milestones_texts"}}}},"400":{"$ref":"#/components/responses/error400"},"401":{"$ref":"#/components/responses/error401"},"403":{"$ref":"#/components/responses/error403"},"404":{"$ref":"#/components/responses/error404"},"405":{"$ref":"#/components/responses/error405"},"406":{"$ref":"#/components/responses/error406"},"4XX":{"$ref":"#/components/responses/error"}}}},"/ProductStructureStatuses":{"get":{"summary":"Retrieves entities from Product Structure Statuses.","tags":["Product Structure Statuses"],"description":"No specific parameters are required, but the standard OData parameters are supported. As response, a list of all Product Structure Statuses is returned.","parameters":[{"$ref":"#/components/parameters/top"},{"$ref":"#/components/parameters/skip"},{"$ref":"#/components/parameters/search"},{"name":"$filter","description":"Filter items by property values, see [Filtering](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionfilter)","in":"query","schema":{"type":"string"}},{"$ref":"#/components/parameters/count"},{"name":"$orderby","description":"Order items by property values, see [Sorting](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionorderby)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["code","code desc","name","name desc","sortOrder","sortOrder desc"]}}},{"name":"$select","description":"Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["code","name","sortOrder"]}}},{"name":"$expand","description":"Expand related entities, see [Expand](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionexpand)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["*","texts"]}}}],"responses":{"200":{"description":"Retrieved entities.","content":{"application/json":{"schema":{"type":"object","title":"Collection of ProductStructureStatuses","properties":{"@odata.count":{"$ref":"#/components/schemas/count"},"value":{"type":"array","items":{"$ref":"#/components/schemas/ReportingService.ProductStructureStatuses"}}}}}}},"400":{"$ref":"#/components/responses/error400"},"401":{"$ref":"#/components/responses/error401"},"403":{"$ref":"#/components/responses/error403"},"404":{"$ref":"#/components/responses/error404"},"405":{"$ref":"#/components/responses/error405"},"406":{"$ref":"#/components/responses/error406"},"4XX":{"$ref":"#/components/responses/error"}}}},"/ProductStructureStatuses('{code}')":{"parameters":[{"description":"key: code","in":"path","name":"code","required":true,"schema":{"type":"string"}}],"get":{"summary":"Retrieves specific entity from Product Structure Statuses using their codes.","tags":["Product Structure Statuses"],"description":"The code of the requested Product Structure Status is required as parameter. Additionally, the standard OData parameters are supported. As response, exactly one Product Structure Status is returned. If no Product Structure Status is found in the system with the requested code, the endpoint returns an appropriate error message.","parameters":[{"name":"$select","description":"Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["code","name","sortOrder"]}}},{"name":"$expand","description":"Expand related entities, see [Expand](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionexpand)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["*","texts"]}}}],"responses":{"200":{"description":"Retrieved entity","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReportingService.ProductStructureStatuses"}}}},"400":{"$ref":"#/components/responses/error400"},"401":{"$ref":"#/components/responses/error401"},"403":{"$ref":"#/components/responses/error403"},"404":{"$ref":"#/components/responses/error404"},"405":{"$ref":"#/components/responses/error405"},"406":{"$ref":"#/components/responses/error406"},"4XX":{"$ref":"#/components/responses/error"}}}},"/ProductStructureStatuses('{code}')/texts":{"parameters":[{"description":"key: code","in":"path","name":"code","required":true,"schema":{"type":"string","enum":["Deleted","NewItem","Updated"]}}],"get":{"summary":"Retrieves entities from related Product Structure Statuses texts using their codes.","tags":["Product Structure Statuses","Product Structure Statuses Texts"],"description":"The code of the requested Product Structure Status text is required as parameter. Additionally, the standard OData parameters are supported. As response, all translations of the requested text are returned. If no Product Structure Status text is found in the system with the requested code, the endpoint returns an appropriate error message.","parameters":[{"$ref":"#/components/parameters/top"},{"$ref":"#/components/parameters/skip"},{"$ref":"#/components/parameters/search"},{"name":"$filter","description":"Filter items by property values, see [Filtering](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionfilter)","in":"query","schema":{"type":"string"}},{"$ref":"#/components/parameters/count"},{"name":"$orderby","description":"Order items by property values, see [Sorting](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionorderby)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["locale","locale desc","code","code desc","name","name desc"]}}},{"name":"$select","description":"Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["locale","code","name"]}}}],"responses":{"200":{"description":"Retrieved entities","content":{"application/json":{"schema":{"type":"object","title":"Collection of ProductStructureStatuses_texts","properties":{"@odata.count":{"$ref":"#/components/schemas/count"},"value":{"type":"array","items":{"$ref":"#/components/schemas/ReportingService.ProductStructureStatuses_texts"}}}}}}},"400":{"$ref":"#/components/responses/error400"},"401":{"$ref":"#/components/responses/error401"},"403":{"$ref":"#/components/responses/error403"},"404":{"$ref":"#/components/responses/error404"},"405":{"$ref":"#/components/responses/error405"},"406":{"$ref":"#/components/responses/error406"},"4XX":{"$ref":"#/components/responses/error"}}}},"/ProductStructureStatuses_texts":{"get":{"summary":"Retrieves entities from Product Structure Statuses texts.","tags":["Product Structure Statuses Texts"],"description":"No specific parameters are required, but the standard OData parameters are supported. As response, a list of all Product Structure Statuses texts is returned.","parameters":[{"$ref":"#/components/parameters/top"},{"$ref":"#/components/parameters/skip"},{"$ref":"#/components/parameters/search"},{"name":"$filter","description":"Filter items by property values, see [Filtering](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionfilter)","in":"query","schema":{"type":"string"}},{"$ref":"#/components/parameters/count"},{"name":"$orderby","description":"Order items by property values, see [Sorting](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionorderby)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["locale","locale desc","code","code desc","name","name desc"]}}},{"name":"$select","description":"Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["locale","code","name"]}}}],"responses":{"200":{"description":"Retrieved entities","content":{"application/json":{"schema":{"type":"object","title":"Collection of ProductStructureStatuses_texts","properties":{"@odata.count":{"$ref":"#/components/schemas/count"},"value":{"type":"array","items":{"$ref":"#/components/schemas/ReportingService.ProductStructureStatuses_texts"}}}}}}},"400":{"$ref":"#/components/responses/error400"},"401":{"$ref":"#/components/responses/error401"},"403":{"$ref":"#/components/responses/error403"},"404":{"$ref":"#/components/responses/error404"},"405":{"$ref":"#/components/responses/error405"},"406":{"$ref":"#/components/responses/error406"},"4XX":{"$ref":"#/components/responses/error"}}}},"/ProductStructureStatuses_texts(locale='{locale}',code='{code}')":{"parameters":[{"description":"key: locale","in":"path","name":"locale","required":true,"schema":{"type":"string","maxLength":14}},{"description":"key: code","in":"path","name":"code","required":true,"schema":{"type":"string","enum":["Deleted","NewItem","Updated"]}}],"get":{"summary":"Retrieves specific Product Structure Statuses texts using their codes.","tags":["Product Structure Statuses Texts"],"description":"The code of the requested Product Structure Status text is required as parameter. Additionally, the standard OData parameters are supported. As response, exactly one translation of the requested text is returned. If no Product Structure Status text is found in the system with the requested code, the endpoint returns an appropriate error message.","parameters":[{"name":"$select","description":"Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["locale","code","name"]}}}],"responses":{"200":{"description":"Retrieved entity","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ReportingService.ProductStructureStatuses_texts"}}}},"400":{"$ref":"#/components/responses/error400"},"401":{"$ref":"#/components/responses/error401"},"403":{"$ref":"#/components/responses/error403"},"404":{"$ref":"#/components/responses/error404"},"405":{"$ref":"#/components/responses/error405"},"406":{"$ref":"#/components/responses/error406"},"4XX":{"$ref":"#/components/responses/error"}}}},"/ProjectStatuses":{"get":{"summary":"Retrieves entities from Project Statuses.","tags":["Project Statuses"],"description":"No specific parameters are required, but the standard OData parameters are supported. As response, a list of all Project Statuses is returned.","parameters":[{"$ref":"#/components/parameters/top"},{"$ref":"#/components/parameters/skip"},{"$ref":"#/components/parameters/search"},{"name":"$filter","description":"Filter items by property values,
[...]
