{"openapi":"3.0.2","x-sap-api-type":"ODATAV4","x-odata-version":"4.0","info":{"title":"Procurement Project Management for System Communication","description":"Use this service to retrieve project, subproject, and item data with a technical user. All entities are in read-only mode. The service is therefore mainly used to update item target costs.\n## Rate Limitations\nThis API is rate limited to 1000 requests per hour and 10000 requests per day.","version":"1.0.0"},"x-sap-shortText":"This service enables you to retrieve project, subproject, and item data with a technical user.","security":[{"OAuth2":[]}],"externalDocs":{"description":"More information is available at the SAP S/4HANA for procurement planning SAP Help Portal page.","url":"https://help.sap.com/viewer/product/SAP_PROCUREMENT_PLANNING/LATEST/en-US"},"servers":[{"url":"https://eu10.procurement-planning-api.procurement.cloud.sap/api/projects-system/v1","description":"Production URL."}],"tags":[{"name":"Projects"},{"name":"Subproject Items"},{"name":"Subproject Schedule Milestones"},{"name":"Subprojects"}],"paths":{"/$batch":{"post":{"summary":"Send a group of requests","description":"Group multiple requests into a single request payload, see [Batch Requests](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_BatchRequests).\n\n*Please note that \"Try it out\" is not supported for this request.*","tags":["Batch Requests"],"requestBody":{"required":true,"description":"Batch request","content":{"multipart/mixed;boundary=request-separator":{"schema":{"type":"string"},"example":"--request-separator\nContent-Type: application/http\nContent-Transfer-Encoding: binary\n\nGET Projects HTTP/1.1\nAccept: application/json\n\n\n--request-separator--"}}},"responses":{"200":{"description":"Batch response","content":{"multipart/mixed":{"schema":{"type":"string"},"example":"--response-separator\nContent-Type: application/http\n\nHTTP/1.1 200 OK\nContent-Type: application/json\n\n{...}\n--response-separator--"}}},"400":{"description":"Bad Request: The server cannot or will not process the request due to an apparent client error (e.g. malformed request syntax, size too large, invalid request message framing, or deceptive request routing).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error"}}}},"401":{"description":"Unauthorized: The user does not have valid authentication credentials for the target resource.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error"}}}},"403":{"description":"Forbidden: The request contained valid data and was understood by the server, but the server is refusing action. This may be due to the user not having the necessary permissions for a resource or needing an account of some sort, or attempting a prohibited action (e.g. creating a duplicate record where only one is allowed).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error"}}}},"404":{"description":"Not Found: The requested resource could not be found but may be available in the future. Subsequent requests by the client are permissible.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error"}}}},"405":{"description":"Method Not Allowed: A request method is not supported for the requested resource; for example, a GET request on a form that requires data to be presented via POST, or a PUT request on a read-only resource.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error"}}}},"406":{"description":"Not Acceptable: The requested resource is capable of generating only content not acceptable according to the Accept headers sent in the request.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error"}}}},"4XX":{"$ref":"#/components/responses/error"}}}},"/Projects":{"get":{"summary":"Retrieves a list of projects.","description":"No specific parameters are required, but the standard OData parameters are supported. As response, a list of all projects is returned.","tags":["Projects"],"parameters":[{"$ref":"#/components/parameters/top"},{"$ref":"#/components/parameters/skip"},{"$ref":"#/components/parameters/search"},{"name":"$filter","description":"Filter items by property values, see [Filtering](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionfilter)","in":"query","schema":{"type":"string"}},{"$ref":"#/components/parameters/count"},{"name":"$orderby","description":"Order items by property values, see [Sorting](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionorderby)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["ID","ID desc","name","name desc","projectDescription","projectDescription desc","projectType_ID","projectType_ID desc","projectStatus_code","projectStatus_code desc","projectVisibility_code","projectVisibility_code desc"]}}},{"name":"$select","description":"Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["ID","name","projectDescription","projectType_ID","projectStatus_code","projectVisibility_code"]}}},{"name":"$expand","description":"The value of $expand query option is a comma-separated list of navigation property names, stream property names, or $value indicating the stream content of a media-entity. The corresponding related entities and stream values will be represented inline, see [Expand](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionexpand)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["*","projectType","projectStatus","projectVisibility","subProjects","enabledProjectCurrencies"]}}}],"responses":{"200":{"description":"Retrieved projects","content":{"application/json":{"schema":{"type":"object","title":"Collection of Projects","properties":{"@odata.count":{"$ref":"#/components/schemas/count"},"value":{"type":"array","items":{"$ref":"#/components/schemas/SystemProjectService.Projects"}}}}}}},"400":{"description":"Bad Request: The server cannot or will not process the request due to an apparent client error (e.g. malformed request syntax, size too large, invalid request message framing, or deceptive request routing).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error"}}}},"401":{"description":"Unauthorized: The user does not have valid authentication credentials for the target resource.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error"}}}},"403":{"description":"Forbidden: The request contained valid data and was understood by the server, but the server is refusing action. This may be due to the user not having the necessary permissions for a resource or needing an account of some sort, or attempting a prohibited action (e.g. creating a duplicate record where only one is allowed).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error"}}}},"404":{"description":"Not Found: The requested resource could not be found but may be available in the future. Subsequent requests by the client are permissible.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error"}}}},"405":{"description":"Method Not Allowed: A request method is not supported for the requested resource; for example, a GET request on a form that requires data to be presented via POST, or a PUT request on a read-only resource.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error"}}}},"406":{"description":"Not Acceptable: The requested resource is capable of generating only content not acceptable according to the Accept headers sent in the request.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error"}}}},"4XX":{"$ref":"#/components/responses/error"}}}},"/Projects({ID})":{"parameters":[{"description":"key: ID","in":"path","name":"ID","required":true,"schema":{"type":"string","format":"uuid","example":"01234567-89ab-cdef-0123-456789abcdef"}}],"get":{"summary":"Retrieves a single project.","description":"The ID of the requested project is required as parameter. Additionally, the standard OData parameters are supported. As response, exactly one project is returned. If no project with the requested ID is found in the system, the endpoint returns an appropriate error message.","tags":["Projects"],"parameters":[{"name":"$select","description":"Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["ID","name","projectDescription","projectType_ID","projectStatus_code","projectVisibility_code"]}}},{"name":"$expand","description":"The value of $expand query option is a comma-separated list of navigation property names, stream property names, or $value indicating the stream content of a media-entity. The corresponding related entities and stream values will be represented inline, see [Expand](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionexpand)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["*","projectType","projectStatus","projectVisibility","subProjects","enabledProjectCurrencies"]}}}],"responses":{"200":{"description":"Retrieved project","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SystemProjectService.Projects"}}}},"400":{"description":"Bad Request: The server cannot or will not process the request due to an apparent client error (e.g. malformed request syntax, size too large, invalid request message framing, or deceptive request routing).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error"}}}},"401":{"description":"Unauthorized: The user does not have valid authentication credentials for the target resource.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error"}}}},"403":{"description":"Forbidden: The request contained valid data and was understood by the server, but the server is refusing action. This may be due to the user not having the necessary permissions for a resource or needing an account of some sort, or attempting a prohibited action (e.g. creating a duplicate record where only one is allowed).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error"}}}},"404":{"description":"Not Found: The requested resource could not be found but may be available in the future. Subsequent requests by the client are permissible.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error"}}}},"405":{"description":"Method Not Allowed: A request method is not supported for the requested resource; for example, a GET request on a form that requires data to be presented via POST, or a PUT request on a read-only resource.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error"}}}},"406":{"description":"Not Acceptable: The requested resource is capable of generating only content not acceptable according to the Accept headers sent in the request.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error"}}}},"4XX":{"$ref":"#/components/responses/error"}}}},"/Projects({ID})/subProjects":{"parameters":[{"description":"key: ID","in":"path","name":"ID","required":true,"schema":{"type":"string","format":"uuid","example":"01234567-89ab-cdef-0123-456789abcdef"}}],"get":{"summary":"Retrieves the subprojects of a project.","description":"The ID of the requested project is required as parameter. As response, the subprojects of the project matching the provided ID is returned. If no project with the requested ID is found in the system, the endpoint returns an appropriate error message.","tags":["Projects","Subprojects"],"parameters":[{"$ref":"#/components/parameters/top"},{"$ref":"#/components/parameters/skip"},{"$ref":"#/components/parameters/search"},{"name":"$filter","description":"Filter items by property values, see [Filtering](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionfilter)","in":"query","schema":{"type":"string"}},{"$ref":"#/components/parameters/count"},{"name":"$orderby","description":"Order items by property values, see [Sorting](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionorderby)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["ID","ID desc","name","name desc","subProjectDescription","subProjectDescription desc","subProjectType_ID","subProjectType_ID desc","subProjectStatus_code","subProjectStatus_code desc","subProjectVisibility_code","subProjectVisibility_code desc","parentProject_ID","parentProject_ID desc","referenceDate","referenceDate desc","currency_code","currency_code desc","subProjectReference_ID","subProjectReference_ID desc","plant_ID","plant_ID desc"]}}},{"name":"$select","description":"Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["ID","name","subProjectDescription","subProjectType_ID","subProjectStatus_code","subProjectVisibility_code","parentProject_ID","referenceDate","currency_code","subProjectReference_ID","plant_ID"]}}},{"name":"$expand","description":"The value of $expand query option is a comma-separated list of navigation property names, stream property names, or $value indicating the stream content of a media-entity. The corresponding related entities and stream values will be represented inline, see [Expand](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionexpand)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["*","subProjectType","subProjectStatus","subProjectVisibility","parentProject","subProjectItems","scheduleMilestones","plants"]}}}],"responses":{"200":{"description":"Retrieved sub projects","content":{"application/json":{"schema":{"type":"object","title":"Collection of SubProjects","properties":{"@odata.count":{"$ref":"#/components/schemas/count"},"value":{"type":"array","items":{"$ref":"#/components/schemas/SystemProjectService.SubProjects"}}}}}}},"400":{"description":"Bad Request: The server cannot or will not process the request due to an apparent client error (e.g. malformed request syntax, size too large, invalid request message framing, or deceptive request routing).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error"}}}},"401":{"description":"Unauthorized: The user does not have valid authentication credentials for the target resource.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error"}}}},"403":{"description":"Forbidden: The request contained valid data and was understood by the server, but the server is refusing action. This may be due to the user not having the necessary permissions for a resource or needing an account of some sort, or attempting a prohibited action (e.g. creating a duplicate record where only one is allowed).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error"}}}},"404":{"description":"Not Found: The requested resource could not be found but may be available in the future. Subsequent requests by the client are permissible.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error"}}}},"405":{"description":"Method Not Allowed: A request method is not supported for the requested resource; for example, a GET request on a form that requires data to be presented via POST, or a PUT request on a read-only resource.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error"}}}},"406":{"description":"Not Acceptable: The requested resource is capable of generating only content not acceptable according to the Accept headers sent in the request.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error"}}}},"4XX":{"$ref":"#/components/responses/error"}}}},"/SubProjectItems":{"get":{"summary":"Retrieves a list of subproject items.","description":"No specific parameters are required, but the standard OData parameters are supported. As response, a list of all subproject items is returned.","tags":["Subproject Items"],"parameters":[{"$ref":"#/components/parameters/top"},{"$ref":"#/components/parameters/skip"},{"$ref":"#/components/parameters/search"},{"name":"$filter","description":"Filter items by property values, see [Filtering](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionfilter)","in":"query","schema":{"type":"string"}},{"$ref":"#/components/parameters/count"},{"name":"$orderby","description":"Order items by property values, see [Sorting](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionorderby)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["ID","ID desc","parentSubProject_ID","parentSubProject_ID desc","sequence","sequence desc","nodeType","nodeType desc","nodeName","nodeName desc","description","description desc","product_ID","product_ID desc","productGroup_ID","productGroup_ID desc","isSeries","isSeries desc","plant_ID","plant_ID desc","procurementType","procurementType desc","partType","partType desc","quantity","quantity desc","unitOfMeasure","unitOfMeasure desc","itemCharacteristic1","itemCharacteristic1 desc","itemCharacteristic2","itemCharacteristic2 desc","packageCharacteristic","packageCharacteristic desc","isoUom","isoUom desc","node_customFieldString1","node_customFieldString1 desc","node_customFieldString2","node_customFieldString2 desc","node_customFieldString3","node_customFieldString3 desc","node_customFieldString4","node_customFieldString4 desc","node_customFieldString5","node_customFieldString5 desc","node_customFieldString6","node_customFieldString6 desc","node_customFieldString7","node_customFieldString7 desc","node_customFieldString8","node_customFieldString8 desc","node_customFieldString9","node_customFieldString9 desc","node_customFieldString10","node_customFieldString10 desc","node_customFieldString11","node_customFieldString11 desc","node_customFieldString12","node_customFieldString12 desc","node_customFieldDate1","node_customFieldDate1 desc","node_customFieldDate2","node_customFieldDate2 desc","node_customFieldDate3","node_customFieldDate3 desc","node_customCode1_ID","node_customCode1_ID desc","node_customCode2_ID","node_customCode2_ID desc","node_customCode3_ID","node_customCode3_ID desc","node_customCode4_ID","node_customCode4_ID desc","node_customCode5_ID","node_customCode5_ID desc"]}}},{"name":"$select","description":"Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["ID","parentSubProject_ID","sequence","nodeType","nodeName","description","product_ID","productGroup_ID","isSeries","plant_ID","procurementType","partType","quantity","unitOfMeasure","itemCharacteristic1","itemCharacteristic2","packageCharacteristic","isoUom","node_customFieldString1","node_customFieldString2","node_customFieldString3","node_customFieldString4","node_customFieldString5","node_customFieldString6","node_customFieldString7","node_customFieldString8","node_customFieldString9","node_customFieldString10","node_customFieldString11","node_customFieldString12","node_customFieldDate1","node_customFieldDate2","node_customFieldDate3","node_customCode1_ID","node_customCode2_ID","node_customCode3_ID","node_customCode4_ID","node_customCode5_ID"]}}},{"name":"$expand","description":"The value of $expand query option is a comma-separated list of navigation property names, stream property names, or $value indicating the stream content of a media-entity. The corresponding related entities and stream values will be represented inline, see [Expand](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionexpand)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["*","parentSubProject"]}}}],"responses":{"200":{"description":"Retrieved sub project items","content":{"application/json":{"schema":{"type":"object","title":"Collection of SubProjectItems","properties":{"@odata.count":{"$ref":"#/components/schemas/count"},"value":{"type":"array","items":{"$ref":"#/components/schemas/SystemProjectService.SubProjectItems"}}}}}}},"400":{"description":"Bad Request: The server cannot or will not process the request due to an apparent client error (e.g. malformed request syntax, size too large, invalid request message framing, or deceptive request routing).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error"}}}},"401":{"description":"Unauthorized: The user does not have valid authentication credentials for the target resource.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error"}}}},"403":{"description":"Forbidden: The request contained valid data and was understood by the server, but the server is refusing action. This may be due to the user not having the necessary permissions for a resource or needing an account of some sort, or attempting a prohibited action (e.g. creating a duplicate record where only one is allowed).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error"}}}},"404":{"description":"Not Found: The requested resource could not be found but may be available in the future. Subsequent requests by the client are permissible.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error"}}}},"405":{"description":"Method Not Allowed: A request method is not supported for the requested resource; for example, a GET request on a form that requires data to be presented via POST, or a PUT request on a read-only resource.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error"}}}},"406":{"description":"Not Acceptable: The requested resource is capable of generating only content not acceptable according to the Accept headers sent in the request.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error"}}}},"4XX":{"$ref":"#/components/responses/error"}}}},"/SubProjectItems({ID})":{"parameters":[{"description":"key: ID","in":"path","name":"ID","required":true,"schema":{"type":"string","format":"uuid","example":"01234567-89ab-cdef-0123-456789abcdef"}}],"get":{"summary":"Retrieves a single subproject item.","description":"The ID of the requested subproject item is required as parameter. Additionally, the standard OData parameters are supported. As response, exactly one subproject item is returned. If no subproject item with the requested ID is found in the system, the endpoint returns an appropriate error message.","tags":["Subproject Items"],"parameters":[{"name":"$select","description":"Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["ID","parentSubProject_ID","sequence","nodeType","nodeName","description","product_ID","productGroup_ID","isSeries","plant_ID","procurementType","partType","quantity","unitOfMeasure","itemCharacteristic1","itemCharacteristic2","packageCharacteristic","isoUom","node_customFieldString1","node_customFieldString2","node_customFieldString3","node_customFieldString4","node_customFieldString5","node_customFieldString6","node_customFieldString7","node_customFieldString8","node_customFieldString9","node_customFieldString10","node_customFieldString11","node_customFieldString12","node_customFieldDate1","node_customFieldDate2","node_customFieldDate3","node_customCode1_ID","node_customCode2_ID","node_customCode3_ID","node_customCode4_ID","node_customCode5_ID"]}}},{"name":"$expand","description":"The value of $expand query option is a comma-separated list of navigation property names, stream property names, or $value indicating the stream content of a media-entity. The corresponding related entities and stream values will be represented inline, see [Expand](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionexpand)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["*","parentSubProject"]}}}],"responses":{"200":{"description":"Retrieved sub project item","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SystemProjectService.SubProjectItems"}}}},"400":{"description":"Bad Request: The server cannot or will not process the request due to an apparent client error (e.g. malformed request syntax, size too large, invalid request message framing, or deceptive request routing).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error"}}}},"401":{"description":"Unauthorized: The user does not have valid authentication credentials for the target resource.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error"}}}},"403":{"description":"Forbidden: The request contained valid data and was understood by the server, but the server is refusing action. This may be due to the user not having the necessary permissions for a resource or needing an account of some sort, or attempting a prohibited action (e.g. creating a duplicate record where only one is allowed).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error"}}}},"404":{"description":"Not Found: The requested resource could not be found but may be available in the future. Subsequent requests by the client are permissible.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error"}}}},"405":{"description":"Method Not Allowed: A request method is not supported for the requested resource; for example, a GET request on a form that requires data to be presented via POST, or a PUT request on a read-only resource.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error"}}}},"406":{"description":"Not Acceptable: The requested resource is capable of generating only content not acceptable according to the Accept headers sent in the request.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error"}}}},"4XX":{"$ref":"#/components/responses/error"}}}},"/SubProjectItems({ID})/parentSubProject":{"parameters":[{"description":"key: ID","in":"path","name":"ID","required":true,"schema":{"type":"string","format":"uuid","example":"01234567-89ab-cdef-0123-456789abcdef"}}],"get":{"summary":"Retrieves the parent subproject of a subproject item.","description":"The ID of the requested subproject item is required as parameter. As response, the parent subproject of the subproject item matching the provided ID is returned. If no subproject item with the requested ID is found in the system, the endpoint returns an appropriate error message.","tags":["Subproject Items","Subprojects"],"parameters":[{"name":"$select","description":"Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["ID","name","subProjectDescription","subProjectType_ID","subProjectStatus_code","subProjectVisibility_code","parentProject_ID","referenceDate","currency_code","subProjectReference_ID","plant_ID"]}}},{"name":"$expand","description":"The value of $expand query option is a comma-separated list of navigation property names, stream property names, or $value indicating the stream content of a media-entity. The corresponding related entities and stream values will be represented inline, see [Expand](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionexpand)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["*","subProjectType","subProjectStatus","subProjectVisibility","parentProject","subProjectItems","scheduleMilestones","plants"]}}}],"responses":{"200":{"description":"Retrieved parent sub project","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SystemProjectService.SubProjects"}}}},"400":{"description":"Bad Request: The server cannot or will not process the request due to an apparent client error (e.g. malformed request syntax, size too large, invalid request message framing, or deceptive request routing).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error"}}}},"401":{"description":"Unauthorized: The user does not have valid authentication credentials for the target resource.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error"}}}},"403":{"description":"Forbidden: The request contained valid data and was understood by the server, but the server is refusing action. This may be due to the user not having the necessary permissions for a resource or needing an account of some sort, or attempting a prohibited action (e.g. creating a duplicate record where only one is allowed).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error"}}}},"404":{"description":"Not Found: The requested resource could not be found but may be available in the future. Subsequent requests by the client are permissible.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error"}}}},"405":{"description":"Method Not Allowed: A request method is not supported for the requested resource; for example, a GET request on a form that requires data to be presented via POST, or a PUT request on a read-only resource.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error"}}}},"406":{"description":"Not Acceptable: The requested resource is capable of generating only content not acceptable according to the Accept headers sent in the request.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error"}}}},"4XX":{"$ref":"#/components/responses/error"}}}},"/SubProjectScheduleMilestones({ID})/parentSubProject":{"parameters":[{"description":"key: ID","in":"path","name":"ID","required":true,"schema":{"type":"string","format":"uuid","example":"01234567-89ab-cdef-0123-456789abcdef"}}],"get":{"summary":"Retrieves the parent subproject of a subproject schedule milestone.","description":"The ID of the requested subproject schedule milestone is required as parameter. As response, the parent subproject of the subproject schedule milestone matching the provided ID is returned. If no subproject schedule milestone with the requested ID is found in the system, the endpoint returns an appropriate error message.","tags":["Subproject Schedule Milestones","Subprojects"],"parameters":[{"name":"$select","description":"Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["ID","name","subProjectDescription","subProjectType_ID","subProjectStatus_code","subProjectVisibility_code","parentProject_ID","referenceDate","currency_code","subProjectReference_ID","plant_ID"]}}},{"name":"$expand","description":"The value of $expand query option is a comma-separated list of navigation property names, stream property names, or $value indicating the stream content of a media-entity. The corresponding related entities and stream values will be represented inline, see [Expand](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionexpand)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["*","subProjectType","subProjectStatus","subProjectVisibility","parentProject","subProjectItems","scheduleMilestones","plants"]}}}],"responses":{"200":{"description":"Retrieved parent sub project","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SystemProjectService.SubProjects"}}}},"400":{"description":"Bad Request: The server cannot or will not process the request due to an apparent client error (e.g. malformed request syntax, size too large, invalid request message framing, or deceptive request routing).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error"}}}},"401":{"description":"Unauthorized: The user does not have valid authentication credentials for the target resource.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error"}}}},"403":{"description":"Forbidden: The request contained valid data and was understood by the server, but the server is refusing action. This may be due to the user not having the necessary permissions for a resource or needing an account of some sort, or attempting a prohibited action (e.g. creating a duplicate record where only one is allowed).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error"}}}},"404":{"description":"Not Found: The requested resource could not be found but may be available in the future. Subsequent requests by the client are permissible.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error"}}}},"405":{"description":"Method Not Allowed: A request method is not supported for the requested resource; for example, a GET request on a form that requires data to be presented via POST, or a PUT request on a read-only resource.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error"}}}},"406":{"description":"Not Acceptable: The requested resource is capable of generating only content not acceptable according to the Accept headers sent in the request.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error"}}}},"4XX":{"$ref":"#/components/responses/error"}}}},"/SubProjects":{"get":{"summary":"Retrieves a list of subprojects.","description":"No specific parameters are required, but the standard OData parameters are supported. As response, a list of all subprojects is returned.","tags":["Subprojects"],"parameters":[{"$ref":"#/components/parameters/top"},{"$ref":"#/components/parameters/skip"},{"$ref":"#/components/parameters/search"},{"name":"$filter","description":"Filter items by property values, see [Filtering](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionfilter)","in":"query","schema":{"type":"string"}},{"$ref":"#/components/parameters/count"},{"name":"$orderby","description":"Order items by property values, see [Sorting](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionorderby)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["ID","ID desc","name","name desc","subProjectDescription","subProjectDescription desc","subProjectType_ID","subProjectType_ID desc","subProjectStatus_code","subProjectStatus_code desc","subProjectVisibility_code","subProjectVisibility_code desc","parentProject_ID","parentProject_ID desc","referenceDate","referenceDate desc","currency_code","currency_code desc","subProjectReference_ID","subProjectReference_ID desc","plant_ID","plant_ID desc"]}}},{"name":"$select","description":"Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["ID","name","subProjectDescription","subProjectType_ID","subProjectStatus_code","subProjectVisibility_code","parentProject_ID","referenceDate","currency_code","subProjectReference_ID","plant_ID"]}}},{"name":"$expand","description":"The value of $expand query option is a comma-separated list of navigation property names, stream property names, or $value indicating the stream content of a media-entity. The corresponding related entities and stream values will be represented inline, see [Expand](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionexpand)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["*","subProjectType","subProjectStatus","subProjectVisibility","parentProject","subProjectItems","scheduleMilestones","plants"]}}}],"responses":{"200":{"description":"Retrieved sub projects","content":{"application/json":{"schema":{"type":"object","title":"Collection of SubProjects","properties":{"@odata.count":{"$ref":"#/components/schemas/count"},"value":{"type":"array","items":{"$ref":"#/components/schemas/SystemProjectService.SubProjects"}}}}}}},"400":{"description":"Bad Request: The server cannot or will not process the request due to an apparent client error (e.g. malformed request syntax, size too large, invalid request message framing, or deceptive request routing).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error"}}}},"401":{"description":"Unauthorized: The user does not have valid authentication credentials for the target resource.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error"}}}},"403":{"description":"Forbidden: The request contained valid data and was understood by the server, but the server is refusing action. This may be due to the user not having the necessary permissions for a resource or needing an account of some sort, or attempting a prohibited action (e.g. creating a duplicate record where only one is allowed).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error"}}}},"404":{"description":"Not Found: The requested resource could not be found but may be available in the future. Subsequent requests by the client are permissible.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error"}}}},"405":{"description":"Method Not Allowed: A request method is not supported for the requested resource; for example, a GET request on a form that requires data to be presented via POST, or a PUT request on a read-only resource.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error"}}}},"406":{"description":"Not Acceptable: The requested resource is capable of generating only content not acceptable according to the Accept headers sent in the request.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error"}}}},"4XX":{"$ref":"#/components/responses/error"}}}},"/SubProjects({ID})":{"parameters":[{"description":"key: ID","in":"path","name":"ID","required":true,"schema":{"type":"string","format":"uuid","example":"01234567-89ab-cdef-0123-456789abcdef"}}],"get":{"summary":"Retrieves a single subproject.","description":"The ID of the requested subproject is required as parameter. Additionally, the standard OData parameters are supported. As response, exactly one subproject is returned. If no subproject with the requested ID is found in the system, the endpoint returns an appropriate error message.","tags":["Subprojects"],"parameters":[{"name":"$select","description":"Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["ID","name","subProjectDescription","subProjectType_ID","subProjectStatus_code","subProjectVisibility_code","parentProject_ID","referenceDate","currency_code","subProjectReference_ID","plant_ID"]}}},{"name":"$expand","description":"The value of $expand query option is a comma-separated list of navigation property names, stream property names, or $value indicating the stream content of a media-entity. The corresponding related entities and stream values will be represented inline, see [Expand](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionexpand)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["*","subProjectType","subProjectStatus","subProjectVisibility","parentProject","subProjectItems","scheduleMilestones","plants"]}}}],"responses":{"200":{"description":"Retrieved sub project","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SystemProjectService.SubProjects"}}}},"400":{"description":"Bad Request: The server cannot or will not process the request due to an apparent client error (e.g. malformed request syntax, size too large, invalid request message framing, or deceptive request routing).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error"}}}},"401":{"description":"Unauthorized: The user does not have valid authentication credentials for the target resource.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error"}}}},"403":{"description":"Forbidden: The request contained valid data and was understood by the server, but the server is refusing action. This may be due to the user not having the necessary permissions for a resource or needing an account of some sort, or attempting a prohibited action (e.g. creating a duplicate record where only one is allowed).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error"}}}},"404":{"description":"Not Found: The requested resource could not be found but may be available in the future. Subsequent requests by the client are permissible.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error"}}}},"405":{"description":"Method Not Allowed: A request method is not supported for the requested resource; for example, a GET request on a form that requires data to be presented via POST, or a PUT request on a read-only resource.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error"}}}},"406":{"description":"Not Acceptable: The requested resource is capable of generating only content not acceptable according to the Accept headers sent in the request.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error"}}}},"4XX":{"$ref":"#/components/responses/error"}}}},"/SubProjects({ID})/parentProject":{"parameters":[{"description":"key: ID","in":"path","name":"ID","required":true,"schema":{"type":"string","format":"uuid","example":"01234567-89ab-cdef-0123-456789abcdef"}}],"get":{"summary":"Retrieves the parent project of a subproject.","description":"The ID of the requested subproject is required as parameter. As response, the parent project of the subproject matching the provided ID is returned. If no subproject with the requested ID is found in the system, the endpoint returns an appropriate error message.","tags":["Subprojects","Projects"],"parameters":[{"name":"$select","description":"Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["ID","name","projectDescription","projectType_ID","projectStatus_code","projectVisibility_code"]}}},{"name":"$expand","description":"The value of $expand query option is a comma-separated list of navigation property names, stream property names, or $value indicating the stream content of a media-entity. The corresponding related entities and stream values will be represented inline, see [Expand](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionexpand)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["*","projectType","projectStatus","projectVisibility","subProjects","enabledProjectCurrencies"]}}}],"responses":{"200":{"description":"Retrieved parent project","content":{"application/json":{"schema":{"$ref":"#/components/schemas/SystemProjectService.Projects"}}}},"400":{"description":"Bad Request: The server cannot or will not process the request due to an apparent client error (e.g. malformed request syntax, size too large, invalid request message framing, or deceptive request routing).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error"}}}},"401":{"description":"Unauthorized: The user does not have valid authentication credentials for the target resource.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error"}}}},"403":{"description":"Forbidden: The request contained valid data and was understood by the server, but the server is refusing action. This may be due to the user not having the necessary permissions for a resource or needing an account of some sort, or attempting a prohibited action (e.g. creating a duplicate record where only one is allowed).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error"}}}},"404":{"description":"Not Found: The requested resource could not be found but may be available in the future. Subsequent requests by the client are permissible.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error"}}}},"405":{"description":"Method Not Allowed: A request method is not supported for the requested resource; for example, a GET request on a form that requires data to be presented via POST, or a PUT request on a read-only resource.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error"}}}},"406":{"description":"Not Acceptable: The requested resource is capable of generating only content not acceptable according to the Accept headers sent in the request.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error"}}}},"4XX":{"$ref":"#/components/responses/error"}}}},"/SubProjects({ID})/subProjectItems":{"parameters":[{"description":"key: ID","in":"path","name":"ID","required":true,"schema":{"type":"string","format":"uuid","example":"01234567-89ab-cdef-0123-456789abcdef"}}],"get":{"summary":"Retrieves the subproject items of a subproject.","description":"The ID of the requested subproject is required as parameter. As response, the subproject items of the subproject matching the provided ID is returned. If no subproject with the requested ID is found in the system, the endpoint returns an appropriate error message.","tags":["Subprojects","Subproject Items"],"parameters":[{"$ref":"#/components/parameters/top"},{"$ref":"#/components/parameters/skip"},{"$ref":"#/components/parameters/search"},{"name":"$filter","description":"Filter items by property values, see [Filtering](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionfilter)","in":"query","schema":{"type":"string"}},{"$ref":"#/components/parameters/count"},{"name":"$orderby","description":"Order items by property values, see [Sorting](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionorderby)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["ID","ID desc","parentSubProject_ID","parentSubProject_ID desc","sequence","sequence desc","nodeType","nodeType desc","nodeName","nodeName desc","description","description desc","product_ID","product_ID desc","productGroup_ID","productGroup_ID desc","isSeries","isSeries desc","plant_ID","plant_ID desc","procurementType","procurementType desc","partType","partType desc","quantity","quantity desc","unitOfMeasure","unitOfMeasure desc","itemCharacteristic1","itemCharacteristic1 desc","itemCharacteristic2","itemCharacteristic2 desc","packageCharacteristic","packageCharacteristic desc","isoUom","isoUom desc","node_customFieldString1","node_customFieldString1 desc","node_customFieldString2","node_customFieldString2 desc","node_customFieldString3","node_customFieldString3 desc","node_customFieldString4","node_customFieldString4 desc","node_customFieldString5","node_customFieldString5 desc","node_customFieldString6","node_customFieldString6 desc","node_customFieldString7","node_customFieldString7 desc","node_customFieldString8","node_customFieldString8 desc","node_customFieldString9","node_customFieldString9 desc","node_customFieldString10","node_customFieldString10 desc","node_customFieldString11","node_customFieldString11 desc","node_customFieldString12","node_customFieldString12 desc","node_customFieldDate1","node_customFieldDate1 desc","node_customFieldDate2","node_customFieldDate2 desc","node_customFieldDate3","node_customFieldDate3 desc","node_customCode1_ID","node_customCode1_ID desc","node_customCode2_ID","node_customCode2_ID desc","node_customCode3_ID","node_customCode3_ID desc","node_customCode4_ID","node_customCode4_ID desc","node_customCode5_ID","node_customCode5_ID desc"]}}},{"name":"$select","description":"Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["ID","parentSubProject_ID","sequence","nodeType","nodeName","description","product_ID","productGroup_ID","isSeries","plant_ID","procurementType","partType","quantity","unitOfMeasure","itemCharacteristic1","itemCharacteristic2","packageCharacteristic","isoUom","node_customFieldString1","node_customFieldString2","node_customFieldString3","node_customFieldString4","node_customFieldString5","node_customFieldString6","node_customFieldString7","node_customFieldString8","node_customFieldString9","node_customFieldString10","node_customFieldString11","node_customFieldString12","node_customFieldDate1","node_customFieldDate2","node_customFieldDate3","node_customCode1_ID","node_customCode2_ID","node_customCode3_ID","node_customCode4_ID","node_customCode5_ID"]}}},{"name":"$expand","description":"The value of $expand query option is a comma-separated list of navigation property names, stream property names, or $value indicating the stream content of a media-entity. The corresponding related entities and stream values will be represented inline, see [Expand](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionexpand)","in":"query","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["*","parentSubProject"]}}}],"responses":{"200":{"description":"Retrieved sub project items","content":{"application/json":{"schema":{"type":"object","title":"Collection of SubProjectItems","properties":{"@odata.count":{"$ref":"#/components/schemas/count"},"value":{"type":"array","items":{"$ref":"#/components/schemas/SystemProjectService.SubProjectItems"}}}}}}},"400":{"description":"Bad Request: The server cannot or will not process the request due to an apparent client error (e.g. malformed request syntax, size too large, invalid request message framing, or deceptive request routing).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error"}}}},"401":{"description":"Unauthorized: The user does not have valid authentication credentials for the target resource.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error"}}}},"403":{"description":"Forbidden: The request contained valid data and was understood by the server, but the server is refusing action. This may be due to the user not having the necessary permissions for a resource or needing an account of some sort, or attempting a prohibited action (e.g. creating a duplicate record where only one is allowed).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error"}}}},"404":{"description":"Not Found: The requested resource could not be found but may be available in the future. Subsequent requests by the client are permissible.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error"}}}},"405":{"description":"Method Not Allowed: A request method is not supported for the requested resource; for example, a GET request on a form that requires data to be presented via POST, or a PUT request on a read-only resource.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error"}}}},"406":{"description":"Not Acceptable: The requested resource is capable of generating only content not acceptable according to the Accept headers sent in the request.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error"}}}},"4XX":{"$ref":"#/components/responses/error"}}}},"/updateItemDemands":{"post":{"summary":"Invoke action updateItemDemands","description":"Updates the Item Demands of one Subprojectitem. If no Subprojectitem is found, or the demands could not be updated with the provided information, the endpoint returns an appropriate error message.","tags":["Service Operations"],"responses":{"204":{"description":"Success"},"400":{"description":"Bad Request: The server cannot or will not process the request due to an apparent client error (e.g. malformed request syntax, size too large, invalid request message framing, or deceptive request routing).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error"}}}},"401":{"description":"Unauthorized: The user does not have valid authentication credentials for the target resource.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error"}}}},"403":{"description":"Forbidden: The request contained valid data and was understood by the server, but the server is refusing action. This may be due to the user not having the necessary permissions for a resource or needing an account of some sort, or attempting a prohibited action (e.g. creating a duplicate record where only one is allowed).","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error"}}}},"404":{"description":"Not Found: The requested resource could not be found but may be available in the future. Subsequent requests by the client are permissible.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error"}}}},"405":{"description":"Method Not Allowed: A request method is not supported for the requested resource; for example, a GET request on a form that requires data to be presented via POST, or a PUT request on a read-only resource.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error"}}}},"406":{"description":"Not Acceptable: The requested resource is capable of generating only content not acceptable according to the Accept headers sent in the request.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error"}}}},"4XX":{"$ref":"#/components/responses/error"}},"requestBody":{"description":"Action parameters","content":{"application/json":{"schema":{"type":"object","properties":{"subProjectId":{"type":"string","format":"uuid","example":"01234567-89ab-cdef-0123-456789abcdef","nullable":true},"itemDemands":{"type":"array","items":{"$ref":"#/components/schemas/SystemProjectService.ItemDemandUpdate"}}}}}}}}}},"components":{"schemas":{"SystemProjectService.EnabledProjectCurrencies":{"title":"EnabledProjectCurrencies","type":"object","properties":{"projectID":{"type":"string","format":"uuid","example":"01234567-89ab-cdef-0123-456789abcdef","nullable":true},"name":{"type":"string","maxLength":255,"nullable":true},"descr":{"type":"string","maxLength":1000,"nullable":true},"isActive":{"type":"boolean","nullable":true}}},"SystemProjectService.ItemDemandUpdate":{"title":"ItemDemandUpdate","type":"object","properties":{"subProjectItem_ID":{"type":"string","format":"uuid","example":"01234567-89ab-cdef-0123-456789abcdef","nullable":true},"year":{"type":"integer","format":"int32","nullable":true},"requiredQuantity":{"anyOf":[{"type":"number","format":"decimal","multipleOf":0.001,"maximum":9999999999.999,"minimum":-9999999999.999},{"type":"string"}],"example":0,"x-sap-precision":13,"x-sap-scale":3,"nullable":true}}},"SystemProjectService.ProjectStatuses":{"title":"ProjectStatuses","type":"object","properties":{"code":{"type":"string","enum":["active","inactive","finished"]},"name":{"type":"string","nullable":true}}},"SystemProjectService.ProjectTypes":{"title":"ProjectTypes","type":"object","properties":{"ID":{"type":"string","format":"uuid","example":"01234567-89ab-cdef-0123-456789abcdef"},"name":{"type":"string","nullable":true},"isActive":{"type":"boolean","nullable":true,"default":true}}},"SystemProjectService.ProjectVisibilities":{"title":"ProjectVisibilities","type":"object","properties":{"code":{"type":"string","enum":["private","public"]},"name":{"type":"string","nullable":true}}},"SystemProjectService.Projects":{"title":"Projects","type":"object","properties":{"ID":{"type":"string","format":"uuid","example":"01234567-89ab-cdef-0123-456789abcdef"},"name":{"type":"string","maxLength":40,"nullable":true},"projectDescription":{"type":"string","maxLength":5000,"nullable":true},"projectType":{"allOf":[{"$ref":"#/components/schemas/SystemProjectService.ProjectTypes"}],"nullable":true},"projectType_ID":{"type":"string","format":"uuid","example":"01234567-89ab-cdef-0123-456789abcdef","nullable":true},"projectStatus":{"allOf":[{"$ref":"#/components/schemas/SystemProjectService.ProjectStatuses"}],"nullable":true},"projectStatus_code":{"type":"string","enum":["active","inactive","finished"],"nullable":true},"projectVisibility":{"allOf":[{"$ref":"#/components/schemas/SystemProjectService.ProjectVisibilities"}],"nullable":true},"projectVisibility_code":{"type":"string","enum":["private","public"],"nullable":true},"subProjects":{"type":"array","items":{"$ref":"#/components/schemas/SystemProjectService.SubProjects"}},"subProjects@odata.count":{"$ref":"#/components/schemas/count"},"enabledProjectCurrencies":{"type":"array","items":{"$ref":"#/components/schemas/SystemProjectService.EnabledProjectCurrencies"}},"enabledProjectCurrencies@odata.count":{"$ref":"#/components/schemas/count"}}},"SystemProjectService.SubProjectItems":{"title":"SubProjectItems","type":"object","properties":{"ID":{"type":"string","format":"uuid","example":"01234567-89ab-cdef-0123-456789abcdef"},"parentSubProject_ID":{"type":"string","format":"uuid","example":"01234567-89ab-cdef-0123-456789abcdef","nullable":true},"parentSubProject":{"allOf":[{"$ref":"#/components/schemas/SystemProjectService.SubProjects"}],"nullable":true},"sequence":{"type":"integer","format":"int32","nullable":true},"nodeType":{"type":"string","maxLength":255,"nullable":true},"nodeName":{"type":"string","maxLength":255,"nullable":true},"description":{"type":"string","maxLength":255,"nullable":true},"product_ID":{"type":"string","maxLength":255,"nullable":true},"productGroup_ID":{"type":"string","maxLength":255,"nullable":true},"isSeries":{"type":"boolean","nullable":true},"plant_ID":{"type":"string","maxLength":255,"nullable":true},"procurementType":{"type":"string","maxLength":255,"nullable":true},"partType":{"type":"string","nullable":true},"quantity":{"anyOf":[{"type":"number","format":"decimal","multipleOf":0.001,"maximum":9999999999.999,"minimum":-9999999999.999},{"type":"string"}],"example":0,"x-sap-precision":13,"x-sap-scale":3,"nullable":true},"unitOfMeasure":{"type":"string","maxLength":255,"nullable":true},"itemCharacteristic1":{"type":"string","maxLength":255,"nullable":true},"itemCharacteristic2":{"type":"string","maxLength":255,"nullable":true},"packageCharacteristic":{"type":"string","maxLength":255,"nullable":true},"isoUom":{"type":"string","maxLength":3,"nullable":true},"node_customFieldString1":{"type":"string","maxLength":255,"nullable":true},"node_customFieldString2":{"type":"string","maxLength":255,"nullable":true},"node_customFieldString3":{"type":"string","maxLength":255,"nullable":true},"node_customFieldString4":{"type":"string","maxLength":255,"nullable":true},"node_customFieldString5":{"type":"string","maxLength":255,"nullable":true},"node_customFieldString6":{"type":"string","maxLength":255,"nullable":true},"node_customFieldString7":{"type":"string","maxLength":255,"nullable":true},"node_customFieldString8":{"type":"string","maxLength":255,"nullable":true},"node_customFieldString9":{"type":"string","maxLength":255,"nullable":true},"node_customFieldString10":{"type":"string","maxLength":255,"nullable":true},"node_customFieldString11":{"type":"string","maxLength":255,"nullable":true},"node_customFieldString12":{"type":"string","maxLength":255,"nullable":true},"node_customFieldDate1":{"type":"string","format":"date","example":"2017-04-13","nullable":true},"node_customFieldDate2":{"type":"string","format":"date","example":"2017-04-13","nullable":true},"node_customFieldDate3":{"type":"string","format":"date","example":"2017-04-13","nullable":true},"node_customCode1_ID":{"type":"string","maxLength":255,"nullable":true},"node_customCode2_ID":{"type":"string","maxLength":255,"nullable":true},"node_customCode3_ID":{"type":"string","maxLength":255,"nullable":true},"node_customCode4_ID":{"type":"string","maxLength":255,"nullable":true},"node_customCode5_ID":{"type":"string","maxLength":255,"nullable":true}}},"SystemProjectService.SubProjectPlants":{"title":"SubProjectPlants","type":"object","properties":{"subProject_ID":{"type":"string","format":"uuid","example":"01234567-89ab-cdef-0123-456789abcdef","nullable":true},"subProject":{"allOf":[{"$ref":"#/components/schemas/SystemProjectService.SubProjects"}],"nullable":true},"plant_ID":{"type":"string","maxLength":255,"nullable":true}}},"SystemProjectService.SubProjectScheduleMilestones":{"title":"SubProjectScheduleMilestones","type":"object","properties":{"ID":{"type":"string","format":"uuid","example":"01234567-89ab-cdef-0123-456789abcdef"},"parentSubProject":{"allOf":[{"$ref":"#/components/schemas/SystemProjectService.SubProjects"}],"nullable":true},"parentSubProject_ID":{"type":"string","format":"uuid","example":"01234567-89ab-cdef-0123-456789abcdef","nullable":true},"parentProject_ID":{"type":"string","format":"uuid","example":"01234567-89ab-cdef-0123-456789abcdef","nullable":true},"isStartOfBackwardCalculation":{"type":"boolean","nullable":true},"milestoneDate":{"type":"string","format":"date","example":"2017-04-13","nullable":true},"distanceToStartPoint":{"type":"integer","format":"int32","nullable":true},"distanceUOM":{"type":"string","nullable":true},"manuallyAssigned":{"type":"boolean","nullable":true,"default":false}}},"SystemProjectService.SubProjectStatuses":{"title":"SubProjectStatuses","type":"object","properties":{"code":{"type":"string","enum":["active","inactive","finished"]},"name":{"type":"string","nullable":true}}},"SystemProjectService.SubProjectTypes":{"title":"SubProjectTypes","type":"object","properties":{"ID":{"type":"string","format":"uuid","example":"01234567-89ab-cdef-0123-456789abcdef"},"name":{"type":"string","nullable":true},"isActive":{"type":"boolean","nullable":true,"default":true}}},"SystemProjectService.SubProjectVisibilities":{"title":"SubProjectVisibilities","type":"object","properties":{"code":{"type":"string","enum":["private","public"]},"name":{"type":"string","nullable":true}}},"SystemProjectService.SubProjects":{"title":"SubProjects","type":"object","properties":{"ID":{"type":"string","format":"uuid","example":"01234567-89ab-cdef-0123-456789abcdef"},"name":{"type":"string","maxLength":40,"nullable":true},"subProjectDescription":{"type":"string","maxLength":5000,"nullable":true},"subProjectType":{"allOf":[{"$ref":"#/components/schemas/SystemProjectService.SubProjectTypes"}],"nullable":true},"subProjectType_ID":{"type":"string","format":"uuid","example":"01234567-89ab-cdef-0123-456789abcdef","nullable":true},"subProjectStatus":{"allOf":[{"$ref":"#/components/schemas/SystemProjectService.SubProjectStatuses"}],"nullable":true},"subProjectStatus_code":{"type":"string","enum":["active","inactive","finished"],"nullable":true},"subProjectVisibility":{"allOf":[{"$ref":"#/components/schemas/SystemProjectService.SubProjectVisibilities"}],"nullable":true},"subProjectVisibility_code":{"type":"string","enum":["private","public"],"nullable":true},"parentProject":{"allOf":[{"$ref":"#/components/schemas/SystemProjectService.Projects"}],"nullable":true},"parentProject_ID":{"type":"string","format":"uuid","example":"01234567-89ab-cdef-0123-456789abcdef","nullable":true},"subProjectItems":{"type":"array","items":{"$ref":"#/components/schemas/SystemProjectService.SubProjectItems"}},"subProjectItems@odata.count":{"$ref":"#/components/schemas/count"},"referenceDate":{"type":"string","format":"date","example":"2017-04-13","nullable":true},"currency_code":{"type":"string","maxLength":3,"nullable":true},"subProjectReference_ID":{"type":"string","maxLength":255,"nullable":true},"scheduleMilestones":{"type":"array","items":{"$ref":"#/components/schemas/SystemProjectService.SubProjectScheduleMilestones"}},"scheduleMilestones@odata.count":{"$ref":"#/components/schemas/count"},"plant_ID":{"type":"string","maxLength":255,"nullable":true},"plants":{"type":"array","items":{"$ref":"#/components/schemas/SystemProjectService.SubProjectPlants"}},"plants@odata.count":{"$ref":"#/components/schemas/count"}}},"count":{"anyOf":[{"type":"number"},{"type":"string"}],"description":"The number of entities in the collection. Available when using the [$count](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptioncount) query option."},"error":{"type":"object","required":["error"],"properties":{"error":{"type":"object","required":["code","message"],"properties":{"code":{"type":"string"},"message":{"type":"string"},"target":{"type":"string"},"details":{"type":"array","items":{"type":"object","required":["code","message"],"properties":{"code":{"type":"string"},"message":{"type":"string"},"target":{"type":"string"}}}},"innererror":{"type":"object","description":"The structure of this object is service-specific"}}}}}},"parameters":{"top":{"name":"$top","in":"query","description":"Show only the first n items, see [Paging - Top](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptiontop)","schema":{"type":"integer","minimum":0},"example":50},"skip":{"name":"$skip","in":"query","description":"Skip the first n items, see [Paging - Skip](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionskip)","schema":{"type":"integer","minimum":0}},"count":{"name":"$count","in":"query","description":"Include count of items, see [Count](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptioncount)","schema":{"type":"boolean"}},"search":{"name":"$search","in":"query","description":"Search items by search phrases, see [Searching](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionsearch)","schema":{"type":"string"}}},"responses":{"error":{"description":"Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error"}}}}},"securitySchemes":{"OAuth2":{"type":"oauth2","description":"To use this REST API, you need to get OAuth client credentials (client ID and secret) from SAP Cloud Platform using the cockpit. After that, you need to pass the obtained client credentials to the SAP Cloud Platform token endpoint to obtain an access token.","flows":{"clientCredentials":{"tokenUrl":"https://{Subdomain}.authentication.{region}.hana.ondemand.com/oauth/token","scopes":{}}}}}}}