{"openapi":"3.0.0","info":{"title":"Security Audit Log services","version":"1 ","description":"You can use the audit log data to integrate them into your Security Information and Event Management solution (SIEM) to detect security-relevant event situations."},"externalDocs":{"description":"Business Documentation","url":"https://help.sap.com:00443/http.svc/ahp2/SAP_S4HANA_CLOUD/latest/EN/ca/24a8adb8c9440a9e7246fb615c306b/frameset.htm"},"x-sap-api-type":"ODATAV4","x-sap-shortText":"This service enables you to retrieve the Security Audit Log data","x-sap-api-deprecated":"No","x-sap-software-min-version":"2208","x-sap-ext-overview":[{"name":"Communication Scenario","values":[{"text":"Security Information and Event Management Integration (SAP_COM_0750)","format":"plain"}]},{"name":"Authentication Methods","values":[{"text":"Basic, x509, OAuth2","format":"plain"}]},{"name":"Service Group Name","values":[{"text":"RSAU_LOG_API","format":"plain"}]}],"security":[{"basicAuthentication":[]}],"servers":[{"url":"https://s4hanacplstaging.apim.hana.ondemand.com/s4hanacloud/sap/opu/odata4/sap/rsau_log_api/srvd_a2x/sap/rsau_log_api/0001"},{"url":"https://{host}:{port}/sap/opu/odata4/sap/rsau_log_api/srvd_a2x/sap/rsau_log_api/0001","variables":{"host":{"default":""},"port":{"default":""}}}],"x-sap-extensible":{"type":"no"},"tags":[{"name":"SIEM API for Security Audit Log"}],"paths":{"/SecurityAuditLog":{"get":{"summary":"Get entities from SecurityAuditLog","description":"A service group contains services belonging to the same business object model and so it shares similar environment conditions. This means the configuration and administration of a service group apply to all services in a service group, that is, routing, authorization, and so on, so you only have to do them once. This method can be used to get security audit logs for this service group","tags":["SIEM API for Security Audit Log"],"parameters":[{"$ref":"#/components/parameters/top"},{"$ref":"#/components/parameters/skip"},{"name":"$filter","in":"query","description":"Filter items by property values, see [Filtering](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionfilter)","schema":{"type":"string"}},{"$ref":"#/components/parameters/count"},{"name":"$orderby","in":"query","description":"Order items by property values, see [Sorting](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionorderby)","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["eventID","eventID desc","log_tstmp","log_tstmp desc","slgmand","slgmand desc","sid","sid desc","counter","counter desc","slgtc","slgtc desc","slgrepna","slgrepna desc","UserDescription","UserDescription desc"]}}},{"name":"$select","in":"query","description":"Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["eventID","log_tstmp","slgmand","sid","counter","terminal_name","user_fullname","slgtc","slgrepna","rsau_text","UserDescription"]}}}],"responses":{"200":{"description":"Retrieved entities","content":{"application/json":{"schema":{"title":"Collection of SecurityAuditLogType","type":"object","properties":{"@count":{"$ref":"#/components/schemas/count"},"value":{"type":"array","items":{"$ref":"#/components/schemas/com.sap.gateway.srvd_a2x.rsau_log_api_service.v0001.SecurityAuditLogType"}}}}}}},"400":{"$ref":"#/components/responses/error"},"401":{"$ref":"#/components/responses/error"},"403":{"$ref":"#/components/responses/error"},"404":{"$ref":"#/components/responses/error"},"408":{"$ref":"#/components/responses/error"}}}},"/SecurityAuditLog(eventID='{eventID}',log_tstmp={log_tstmp},slgmand='{slgmand}',sid='{sid}',counter={counter})":{"parameters":[{"name":"eventID","in":"path","required":true,"description":"Security Audit Log Event","schema":{"type":"string","maxLength":3}},{"name":"log_tstmp","in":"path","required":true,"description":"UTC Time Stamp in Long Form (YYYYMMDDhhmmssmmmuuun)","schema":{"type":"string","format":"date-time","example":"2017-04-13T15:51:04Z"}},{"name":"slgmand","in":"path","required":true,"description":"Client","schema":{"type":"string","maxLength":3}},{"name":"sid","in":"path","required":true,"description":"ABAP System Field: Name of SAP System","schema":{"type":"string","maxLength":8}},{"name":"counter","in":"path","required":true,"description":"2 Byte Signed Integer","schema":{"type":"integer","format":"int16"}}],"get":{"summary":"Get entity from SecurityAuditLog by key","description":"The configuration and administration of a service group includes routing, authorization and similar details. This method can be used with parameters to filter out security audit information","tags":["SIEM API for Security Audit Log"],"parameters":[{"name":"$select","in":"query","description":"Select properties to be returned, see [Select](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionselect)","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["eventID","log_tstmp","slgmand","sid","counter","terminal_name","user_fullname","slgtc","slgrepna","rsau_text","UserDescription"]}}}],"responses":{"200":{"description":"Retrieved entity","content":{"application/json":{"schema":{"$ref":"#/components/schemas/com.sap.gateway.srvd_a2x.rsau_log_api_service.v0001.SecurityAuditLogType"}}}},"400":{"$ref":"#/components/responses/error"},"401":{"$ref":"#/components/responses/error"},"403":{"$ref":"#/components/responses/error"},"404":{"$ref":"#/components/responses/error"},"408":{"$ref":"#/components/responses/error"}}}},"/$batch":{"post":{"summary":"Send a group of requests","description":"Group multiple requests into a single request payload, see [Batch Requests](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_BatchRequests).\n\n*Please note that \"Try it out\" is not supported for this request.*","tags":["Batch Requests"],"requestBody":{"required":true,"description":"Batch request","content":{"multipart/mixed;boundary=request-separator":{"schema":{"type":"string"},"example":"--request-separator\nContent-Type: application/http\nContent-Transfer-Encoding: binary\n\nGET SecurityAuditLog HTTP/1.1\nAccept: application/json\n\n\n--request-separator--"}}},"responses":{"200":{"description":"Batch response","content":{"multipart/mixed":{"schema":{"type":"string"},"example":"--response-separator\nContent-Type: application/http\n\nHTTP/1.1 200 OK\nContent-Type: application/json\n\n{...}\n--response-separator--"}}},"400":{"$ref":"#/components/responses/error"},"401":{"$ref":"#/components/responses/error"},"403":{"$ref":"#/components/responses/error"},"404":{"$ref":"#/components/responses/error"},"408":{"$ref":"#/components/responses/error"}}}}},"components":{"securitySchemes":{"basicAuthentication":{"type":"http","scheme":"basic"}},"schemas":{"com.sap.gateway.srvd_a2x.rsau_log_api_service.v0001.SecurityAuditLogType":{"type":"object","properties":{"eventID":{"type":"string","maxLength":3,"title":"Event","description":"Security Audit Log Event"},"log_tstmp":{"type":"string","format":"date-time","example":"2017-04-13T15:51:04Z","title":"Timestamp","description":"UTC Time Stamp in Long Form (YYYYMMDDhhmmssmmmuuun)"},"slgmand":{"type":"string","maxLength":3,"title":"Client"},"sid":{"type":"string","maxLength":8,"title":"SAP System ID","description":"ABAP System Field: Name of SAP System"},"counter":{"type":"integer","format":"int16","title":"INT2","description":"2 Byte Signed Integer"},"terminal_name":{"type":"string","maxLength":20,"title":"Terminal name","description":"SecAudit: Terminal name"},"user_fullname":{"type":"string","maxLength":80,"title":"Full Name","description":"User Description"},"slgtc":{"type":"string","maxLength":20,"title":"Transaction Code"},"slgrepna":{"type":"string","maxLength":40,"title":"Program","description":"Program Name"},"rsau_text":{"type":"string","maxLength":255,"title":"Char255"},"UserDescription":{"type":"string","maxLength":80,"title":"Description","description":"User Description"}},"title":"SIEM API for Security Audit Log"},"com.sap.gateway.srvd_a2x.rsau_log_api_service.v0001.SecurityAuditLogType-create":{"type":"object","properties":{"eventID":{"type":"string","maxLength":3,"title":"Event","description":"Security Audit Log Event"},"log_tstmp":{"type":"string","format":"date-time","example":"2017-04-13T15:51:04Z","title":"Timestamp","description":"UTC Time Stamp in Long Form (YYYYMMDDhhmmssmmmuuun)"},"slgmand":{"type":"string","maxLength":3,"title":"Client"},"sid":{"type":"string","maxLength":8,"title":"SAP System ID","description":"ABAP System Field: Name of SAP System"},"counter":{"type":"integer","format":"int16","title":"INT2","description":"2 Byte Signed Integer"},"slgtc":{"type":"string","maxLength":20,"title":"Transaction Code"},"slgrepna":{"type":"string","maxLength":40,"title":"Program","description":"Program Name"},"UserDescription":{"type":"string","maxLength":80,"title":"Description","description":"User Description"}},"required":["eventID","log_tstmp","slgmand","sid","counter"],"title":"SIEM API for Security Audit Log (for create)"},"com.sap.gateway.srvd_a2x.rsau_log_api_service.v0001.SecurityAuditLogType-update":{"type":"object","properties":{"slgtc":{"type":"string","maxLength":20,"title":"Transaction Code"},"slgrepna":{"type":"string","maxLength":40,"title":"Program","description":"Program Name"},"UserDescription":{"type":"string","maxLength":80,"title":"Description","description":"User Description"}},"title":"SIEM API for Security Audit Log (for update)"},"count":{"anyOf":[{"type":"number"},{"type":"string"}],"description":"The number of entities in the collection. Available when using the [$count](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptioncount) query option."},"error":{"type":"object","required":["error"],"properties":{"error":{"type":"object","required":["code","message"],"properties":{"code":{"type":"string"},"message":{"type":"object","required":["lang","value"],"properties":{"lang":{"type":"string"},"value":{"type":"string"}}},"innererror":{"type":"object","description":"The structure of this object is service-specific"}}}}}},"parameters":{"top":{"name":"$top","in":"query","description":"Show only the first n items, see [Paging - Top](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptiontop)","schema":{"type":"integer","minimum":0},"example":50},"skip":{"name":"$skip","in":"query","description":"Skip the first n items, see [Paging - Skip](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptionskip)","schema":{"type":"integer","minimum":0}},"count":{"name":"$count","in":"query","description":"Include count of items, see [Count](http://docs.oasis-open.org/odata/odata/v4.01/odata-v4.01-part1-protocol.html#sec_SystemQueryOptioncount)","schema":{"type":"boolean"}}},"responses":{"error":{"description":"Error","content":{"application/json":{"schema":{"$ref":"#/components/schemas/error"}}}}}}}